[2018-03-07 12:56] orlandocosta76 opened #1 "Python version"
Hi, I tried to go through the documentation but could not see explicitly which version of Python this edition of the academy will use, is it Python 2.7 or 3.x? In particular, for the application test, I think it might be relevant.
Best regards
Orlando

[2018-03-07 15:23] jtascensao commented on #1
Hi Orlando! It's Python 3.x, 3.6 at the moment to be precise.

[2018-03-07 15:29] orlandocosta76 commented on #1
Hi João, thanks a lot!

Will you be posting details about the suggested environment to work, such as Anaconda or Canopy (or maybe they are out there but I did not see it)?
Cheers

[2018-03-11 20:16] hershaw commented on #1
We have used this setup guide for some time with a good amount of success:

https://github.com/LDSSA/setup

I would say that 80% of the class used Anaconda and the other 20% used the docker images. Important part is that you can run the test notebook!

[2018-03-11 21:31] orlandocosta76 commented on #1
Ok, thanks a lot for the information!

[2018-03-11 21:31] #1 closed

[2018-04-30 14:09] orlandocosta76 opened #2 "SLU10 - Classification"
Hi, about SGDClassifier, there is a section on the Learning notebook (see below), that ends saying that the implementation of SGDClassifier uses OvR and it will use 3 different models, is that really so?

[2018-04-30 14:34] orlandocosta76 commented on #2
Well, it seems I missed some parts yesterday, maybe tomorrow I'll have a chance to clarify, thanks!

[2018-04-30 14:34] #2 closed

[2018-05-03 16:37] PedroGFonseca opened #3 "add instructions to give immediate feedback on the nbgrader wiki"
Some graded exercises do not give the students immediate feedback where they got things wrong. Our asserts need to cover that. The wiki needs to clearly specify this.

[2018-07-21 15:00] hershaw opened #4 "Which questions are unfair or incorrectly graded?"
## What's up?

As everyone already knows there have been a few issues here and there with the exercise notebooks which have resulted in a few questions being unfair or incorrectly graded. We need to compile a list of them so that we can take action on them either by fixing them or by awarding everyone credit for them.

Let's use this thread to dump a list of all the exercises that have issues. If

[2018-07-24 13:07] yani992 commented on #4
1. Specialization: Specialization #4 - NLP
2. BLU: BLU08
3. Question: Q7
4. Error: Unable to pass assert due to numerical rounding errors.
5. Link: [Q7: abs_tol inside the assert](https://github.com/LDSSA/batch2-blu08/issues/1)
6. Solution proposed:  change `abs_tol=1e-7` to `abs_tol=1e-6`

[2018-07-26 10:18] hershaw commented on #4
@yani992 this bug report is just so beautiful... so beautiful

[2018-08-08 06:53] hershaw opened #5 "Feedback - How to help improve the materials"
# Specific feedback

## 1

"before you jump in, please spend 2 minutes reading this guide (if you haven't read the How to Build Learning Units guide, please read that one first)."

I would actually say that that it is more like a 20 minute read. if it's okay to just skim and not understand all of it we can say that but I think that it would be worth it for them to give it an actual read before mov

[2018-08-08 09:45] PedroGFonseca commented on #5
All good points, shall fix

[2018-08-08 18:19] PedroGFonseca commented on #5
- [ ] 1. replaced the language to reflect that it is a bit of a time investment to read
- [ ] 2. removed link, as the reader may not have access to the instructors version
- [ ] 3. Open source, made it clearer
- [ ] 4. Added to infrequently asked questions
- [ ] 5. Very, very good point. Added a Where to start section

[2018-08-08 18:19] #5 closed

[2019-07-16 20:07] PedroGFonseca commented on #4
Closing this issue as that exercise will be deprecated

[2019-07-16 20:07] #4 closed

[2019-07-16 20:07] PedroGFonseca commented on #3
Closing because this has been done. Yay!

[2019-07-16 20:07] #3 closed

[2020-05-02 19:39] PedroGFonseca opened #6 "Curriculum 2020"
Hi all, this is the [curriculum for the LDSSA 2020](https://docs.google.com/drawings/d/109tNd73g5jKA7N99NvPTt7J9stGZZhEXb_eIjtnwmQ0/edit) (thanks Chi!)

[2020-05-24 17:37] PedroGFonseca opened #7 "Duplication of AOR content"
These two link both have content on the AORs, maybe just keep one?

https://github.com/LDSSA/wiki/wiki/Member-Directory
https://github.com/LDSSA/wiki/wiki/LDSA-Areas-of-Responsibility

[2020-05-24 17:41] PedroGFonseca opened #8 "Need to update the FAQ for match the remote decisison"
https://github.com/LDSSA/wiki/wiki/FAQ#frequently-asked-questions-and-some-rarely-asked-ones-too

[2020-05-24 19:20] PedroGFonseca opened #9 "Is this page still up to date?"
https://github.com/LDSSA/wiki/wiki/%5BOps%5D-Releasing-a-BLU

[2020-05-24 19:25] PedroGFonseca opened #10 "Fix student onboarding"
https://github.com/LDSSA/wiki/wiki/Batch3-Student-Onboarding

[2020-05-24 19:27] PedroGFonseca opened #11 "Update BLU Office Hours page"
https://github.com/LDSSA/wiki/wiki/BLU-Office-Hours

[2020-05-24 19:29] PedroGFonseca opened #12 "Deprecate or delist old Capstone page"
https://github.com/LDSSA/wiki/wiki/Capstone-Grading-Guidelines

[2020-05-24 19:30] PedroGFonseca opened #13 "Deprecate or delist capstone simulation instructions"
https://github.com/LDSSA/wiki/wiki/capstone-simulation

[2020-05-24 19:46] PedroGFonseca opened #14 "Deprecate or update this page (is about Graduation)"
https://github.com/LDSSA/wiki/wiki/Finishing-the-BLUs-SLUs

[2020-05-24 19:47] PedroGFonseca opened #15 "Deprecate or delist this page"
https://github.com/LDSSA/wiki/wiki/Hackathon-Leaderboard

[2020-05-24 19:59] PedroGFonseca opened #16 "Merge the "how to improve materials" sections"
merge  https://github.com/LDSSA/wiki/wiki/How-to-review-learning-units
Into  https://github.com/LDSSA/wiki/wiki/How-to-help-improve-the-materials

[2020-05-24 20:00] PedroGFonseca opened #17 "Deprecate the old job posting instructions"
Deprecate this:
https://github.com/LDSSA/wiki/wiki/Job-Posting-Approval-%5BWIP%5D

In favor of this
https://github.com/LDSSA/wiki/wiki/How-to-offer-a-job-on-the-Lisbon-Data-Science-Academy-website

[2020-05-24 20:01] PedroGFonseca commented on #17
@hershaw this is obsolete given the [new version](https://github.com/LDSSA/wiki/wiki/How-to-offer-a-job-on-the-Lisbon-Data-Science-Academy-website), right?

[2020-05-24 20:01] PedroGFonseca opened #18 "Deprecate or turn into policy"
https://github.com/LDSSA/wiki/wiki/Late-Hackathon-Policy

[2020-05-24 20:07] PedroGFonseca opened #19 "This has not been edited since 2018, is it still correct?"
https://github.com/LDSSA/wiki/wiki/Buddy-System

[2020-05-24 20:10] PedroGFonseca opened #20 "Deprecate scratch file"
https://github.com/LDSSA/wiki/wiki/SCRATCH

[2020-05-24 20:11] PedroGFonseca opened #21 "Redundancy explaining learning units"
https://github.com/LDSSA/wiki/wiki/Starters-Academy-program-structure-overview,-and-main-concepts

https://github.com/LDSSA/wiki/wiki/How-to-build-Learning-Units

[2020-05-24 20:18] PedroGFonseca opened #22 "Can we merge two pages about building SLUs?"
Can this
https://github.com/LDSSA/wiki/wiki/Updating-exercise-notebooks-for-SLUs

be merged into this?
https://github.com/LDSSA/wiki/wiki/How-to-build-Learning-Units

[2020-05-24 20:25] PedroGFonseca opened #23 "Can we merge volunteer onboarding and new instructor onboarding?"
https://github.com/LDSSA/wiki/wiki/Recruiting-and-Onboarding-New-Instructors
https://github.com/LDSSA/wiki/wiki/Volunteer-Onboarding

[2020-05-24 21:37] PedroGFonseca commented on #7
@dominguezmaria @hershaw
please take a look and advise

[2020-05-24 21:38] PedroGFonseca commented on #23
@hershaw @nunobbras please take a look and advise

[2020-05-24 21:39] PedroGFonseca commented on #22
@hershaw please take a look and advise

[2020-05-24 21:42] dominguezmaria commented on #7
I think it makes sense to keep the [AORs one ](https://github.com/LDSSA/wiki/wiki/LDSA-Areas-of-Responsibility) to explain what's the purpose of each AOR, but maybe don't specify people (so that it's easier to keep updated).
And then the [Member Directory one](https://github.com/LDSSA/wiki/wiki/Member-Directory) both lists the volunteers and link them to AORs.

But agree that having the informatio

[2020-05-24 21:43] PedroGFonseca commented on #18
This is currently written as instructions to the Batch 3 students. Should we
a) deprecate it
b) adapt to the new "no graduation" reality

[2020-05-24 21:45] dominguezmaria commented on #18
Let's deprecate it? This one was about a batch3 specific situation, that doesn't really have a match in batch4.
Should deprecation be a deprecation note on the page, or just deleting the page?

[2020-05-24 21:48] PedroGFonseca commented on #11
@dominguezmaria do you have any use for this page? I wrote it but now want to kill it off

[2020-05-24 21:48] PedroGFonseca commented on #10
@FilipaRodrigues does this fall under your AOR?

[2020-05-24 21:50] PedroGFonseca commented on #9
Can we fold this into "How to build and LU"?

https://github.com/LDSSA/wiki/wiki/How-to-build-Learning-Units

[2020-05-24 21:50] PedroGFonseca commented on #9
(note: I just need a yes, happy to merge if the content is still correct)

[2020-05-24 21:51] #6 closed

[2020-05-24 21:51] dominguezmaria commented on #18
We can restore deleted pages by cloning the wiki repo locally and restore the page from a previous version of the repo. I'll delete this page then!

[2020-05-24 21:52] PedroGFonseca commented on #7
Big +1 to that, let's have the description of the task in the AOR one, and the people in the Member directory. I can implement that, as the self proclaimed head-librarian 😅

[2020-05-24 21:52] #18 closed

[2020-05-24 21:54] dominguezmaria commented on #14
Done!

[2020-05-24 21:54] #14 closed

[2020-05-24 21:54] PedroGFonseca opened #24 "Turn this doc into a wiki section."
It's got the rules about jobs (kind of a meta page related to the jobs page for companies)

https://docs.google.com/document/d/1HcJ9PtLP4Ks_-O7d9ykCJKZJraciLqkugBH6UoOpH4s/edit?pli=1#heading=h.ndsphrhxfpq6

[2020-05-24 21:56] dominguezmaria commented on #11
This is @CatarinaSilva 's decision now :D

[2020-05-24 21:58] PedroGFonseca opened #25 "Approval for new code of conduct"
Using the precedents and what we’ve learned, I’ve proposed an amendment to the Code of Conduct.

https://github.com/LDSSA/wiki/wiki/Code-of-Conduct

This issue is to get it formally approved. Please upvote or reply with "approved" for the record.

Main changes:
1. Added a preamble, explaining that it is binding, why we have it, and how it is enforced (that will link to the disciplinary action page

[2020-05-24 22:01] PedroGFonseca commented on #11
Arghk, was following the [AOR page](https://github.com/LDSSA/wiki/wiki/LDSA-Areas-of-Responsibility#teaching) and the [members directory](https://github.com/LDSSA/wiki/wiki/Member-Directory#organizational-structure). Can we update ownerships please? (will create a new issue)

[2020-05-24 22:02] PedroGFonseca opened #26 "Update the Primary Enablers on Members Directory"
The primary enablers and staff participating in each AOR needs updating in the [Members directory](https://github.com/LDSSA/wiki/wiki/Member-Directory#organizational-structure)

[2020-05-24 23:19] PedroGFonseca opened #27 "Jobs AOR"
We previously discussed a jobs AOR, but it is not in the current documentation.
Are we moving ahead with officially having the jobs AOR?

[2020-05-24 23:21] PedroGFonseca commented on #24
Blocked by #27

[2020-05-24 23:27] PedroGFonseca commented on #17
Possibly blocked on #27 decision

[2020-05-24 23:32] PedroGFonseca commented on #7
Done, removed the names of people from the AOR one, and linked the AORs into the member directory.

[2020-05-24 23:32] #7 closed

[2020-05-24 23:39] dominguezmaria commented on #25
- "Please read code of conduct this carefully," -> the words are in the wrong order, right? 😅
- "Students, Monitors, Teachers and Staff are expected to follow the LDSA Code of Conduct, in letter and in spirit." -> I think it's better to just have "Students and all Staff", because we don't have a clear definition of Monitor vs Instructor (I guess we just use the two terms interchangeably)
- "Enforc

[2020-05-24 23:39] dominguezmaria commented on #25
Approved

[2020-05-24 23:41] PedroGFonseca commented on #25
Achievement unlocked, more dyslexic than Yoda.
![](https://i.imgflip.com/42p6zl.jpg)

[2020-05-24 23:42] PedroGFonseca commented on #25
Implemented all changes, thanks for the review :)

[2020-05-24 23:49] PedroGFonseca opened #28 "Use a google websites knowledge base with links to the right places?"
We have a wiki with many good pages, and lots of information. Some of it is useful for students, some for staff, some for external parties.

While the wiki format is great, the indexing is not particularly good, and it’s only natural for people to get lost.

I’ve created a [knowledge base page](https://sites.google.com/lisbondatascience.org/knowledgebase) (currently only visible to @lisbondatascie

[2020-05-25 00:03] PedroGFonseca opened #29 "Nominate the disciplinary commission"
If we are to have a [disciplinary commission](https://github.com/LDSSA/wiki/wiki/Disciplinary-action#disciplinary-commission), it should be named before there is a chance for an incident to start.

It is currently written up as having 5 people and requiring a 4/5 majority, but if you think it best we can change that to 3 with an absolute majority.

The nomination is done by the El Presidente.

[2020-05-25 00:05] PedroGFonseca commented on #29
Currently blocked on #25

[2020-05-25 00:07] PedroGFonseca opened #30 "Add the executive to the member directory"
Currently we have the AORs in the [members directory](https://github.com/LDSSA/wiki/wiki/Member-Directory#member-directory), but it should also state who is the executive.

[2020-05-25 00:28] PedroGFonseca opened #31 "Add resolutions about certification vs education to the wiki"
In the [last exec meeting](https://docs.google.com/document/d/12op_C9gCW0Hh3HlcTC8BXdPqoITpdFW-fMT6minlkEc/edit#heading=h.vsmcronq6kh8) there were resolutions about certification that never got formalized into the wiki.

[2020-05-25 00:42] dominguezmaria commented on #28
I think the page is awesome, love the gifs :D
Agree that the wiki needs some improvements for stuff to be findable.

The arguments against that come to my mind are:
- It's another "thing" to maintain
- Even if it's easy to setup, it's another step to go through when updating info in the wiki, so it's make updating info in the wiki harder
- We can convey the same information using the wiki's sideba

[2020-05-25 16:08] PedroGFonseca commented on #28
Very good arguments indeed.

We have to maintain two things: (1) the content, and (2) the indexing. Currently the indexing is the sidebar. It kind of works once you are there, but isn't great as an entry point. For instance from the website/slack there is no link to it.

Having the knowledge base would have links only to the main things (as an entry point) as part of the website. However we would

[2020-05-25 16:28] PedroGFonseca opened #32 "How to close and document decisions [proposal]"
Proposal: formalize decisions by closing a github issue with the discussion, and then updating the relevant section with a a link to the decision.

1. If a decision needs making, it is placed on Github issues, and marked as `decision required`
1. A decision is closed by the execs. It requires a 2/3 majority. If there isn't consensus, execs should talk among themselves to attempt to get consensus,

[2020-05-25 16:38] dominguezmaria commented on #27
I vote yes!
LDSSA's mission is: "To give people with a working knowledge of python an affordable path toward becoming an entry-level data scientist while maintaining a separate full-time commitment."

Helping students finding opportunities to work as entry-level data scientists is an  important part of helping them become entry-level data scientists :)

[2020-05-25 16:41] PedroGFonseca opened #33 "Graduation criteria"
What should be the rules for graduation, and should that concept even exist anymore?

Last year we had the following rules: bootcamp, hackathon 1 and capstone are mandatory; for all the other hackathons, students can miss one (but have to deliver it within the following month), and are allowed to join one remotely. The consequence of not following these rules meant that the students would not grad

[2020-05-25 16:51] dominguezmaria commented on #32
Rather than a AOR, I think we could have one member of the exec team be the "librarian".
This person is in charge of:
- making sure the wiki is updated: this doesn't mean that the librarian writes all the documentation themselves, people should document what they're responsible for.
- document formal decisions

On the formal decisions part, I like GitHub issues!
But we should add a deadline for a

[2020-05-25 16:56] PedroGFonseca commented on #32
Good thinking about it being 1 member of the exec, makes double sense as that person must have the power to formalize ground truth.

Regarding the deadline I think it's useful to have it anyway, gives people an excuse to bug whoever is late. I don't think we should have acceptance by omission, or by single person fiat.

If a member of exec were consistently being late and blocking decisions it's u

[2020-05-25 17:08] dominguezmaria commented on #32
That is fair! Should we then formalize how much feedback some decision needs before being formalised? And can something be decided if someone is against it?

And another question, what is the scope of these decisions, like who should have input on each decision? Should that be specified on the issue?

[2020-05-25 17:16] minhhoang1023 commented on #27
Definitely agree! Technical skills and knowledge alone won't guarantee employment. Getting a job sometimes requires other types of skills. I've personally known a few excellent fellow students from batch 3. They did a superb job at learning and grasping materials, but still, have a hard time looking for jobs. That's such a pity!

I'm very excited for the Jobs AOR actually and would love to work on

[2020-05-25 17:27] PedroGFonseca commented on #32
I'd say the members of the exec close the decisions, and ask for input from whomever they find appropriate. Once there is a 2/3 majority (out of 3 execs), the decision can be considered closed. What do you think?

[2020-05-25 17:35] minhhoang1023 commented on #33
What are the issues with having only the graduation certificates, like we have last year? You guys probably have some conversations on this topic, so it's for me to catch up with your thought process on the topic :)

[2020-05-25 17:40] PedroGFonseca commented on #33
I've added a bit of context to the initial question, but the fundamental idea is that we want to avoid a pass/fail moment, or excessive focus on certification. We had students last year who did not "graduate" as they missed sections in the capstone, and took it really seriously, even though the piece of paper should be the least important part.

[2020-05-25 17:44] PedroGFonseca commented on #33
My opening vote goes to the "February proposal"

[2020-05-25 19:52] PedroGFonseca commented on #25
Note: added numbering to the sections, for easier referencing.

[2020-05-25 20:17] PedroGFonseca opened #34 "Who is primary enabler for curriculum?"
Note: now that Chi has done all the hard work and created the doc with the curriculum, I volunteer to be primarily enabler and get all the credit.

[2020-05-26 16:55] dominguezmaria commented on #34
I vote yes!

[2020-05-26 17:07] dominguezmaria commented on #33
I like the February proposal too. But would also add some elements from other proposals:
- Bootcamp and hackathon#1 are mandatory (because we don’t want to have people in teams who didn’t learn the basics)
- We should only allow students to deliver 1 hackathon later (in order to make it more manageable)
- The capstone cannot be delivered later, in order not to delay graduation, and because we don'

[2020-05-26 17:10] dominguezmaria commented on #32
Agree! But would change this:
"the end the decision is closed once there is a plus vote from 2 out of 3 execs" to "the end the decision is closed once there is a plus vote from 2 out of 3 execs, and no down vote"

[2020-05-26 17:11] dominguezmaria commented on #29
The main con against 5 people vs 3 people is that having more people deciding is having more entropy in the decision process.
But I'm fine with either 5 or 3, especially given that is Mr. President nominating people!

[2020-05-26 17:17] dominguezmaria commented on #28
Ah so the knowledge base would be a page in the website? Or a link to a separate knowledge base website?

If it's the first, I think that's ok, if it's the second, I think it's too much overhead.
Changing the website has been hard in general (there is no clear ownership of the website, the website is in @PedroGFonseca 's account, etc), and we should get better at that.
Adding another website will

[2020-05-26 17:38] PedroGFonseca commented on #28
The knowledge base is a separate google site, which is why it was so easy to implement. The academy landing page would simply have a link to this google site.

[2020-05-26 17:38] PedroGFonseca commented on #32
What happens if there is a downvote? Does that trigger the need for a meeting?

[2020-05-26 18:00] PedroGFonseca commented on #28
There is another alternative, which is to implement a better “front page” of the wiki to look somewhat like this. A bit harder to do as it would be less point and clicky, but would be one fewer platforms.

[2020-05-26 18:06] dominguezmaria commented on #28
Yup! That was what I thinking about when I mentioned the index page :p

[2020-05-26 18:38] PedroGFonseca commented on #28
You’ve convinced me that it’s worth trying... I’ll prototype it and see if it’s too much of a pain to setup/maintain something pretty in markdown. The advantage of the google sites is that it... is... so... smoooooooth!

[2020-05-26 18:44] PedroGFonseca opened #35 "Attempt to re-implement the knowledge base front page in Github Wiki"
As part of #28 , we concluded that if we can have the same kind of [front page for the knowledge base](https://sites.google.com/lisbondatascience.org/knowledgebase) entirely in Github, it would be one fewer platform to maintain. The downside may be that it's harder to implement.

A prototype will be built in the Github Wiki to test how easy/hard it is to execute.

[2020-05-26 18:44] PedroGFonseca commented on #28
Blocked by #35

[2020-05-26 18:48] PedroGFonseca commented on #31
Blocked by #33

[2020-05-26 21:34] CatarinaSilva commented on #9
In the [learning notebooks](https://github.com/LDSSA/wiki/wiki/How-to-build-Learning-Units) maybe the links could be updated to reflect recent units. Overall might need that and a small review/update but I think it's still mostly up to date

The other one I'm not sure, we would maybe need to check with Hugo or Miguel

[2020-05-26 21:35] CatarinaSilva commented on #11
Do we want to kill office hours completely? I think these might even make more sense in a remote setting, so it is well defined when instructors will be available. Although I saw also a discussion where we talked about moving questions to issue so that might contradict it

[2020-05-26 23:31] PedroGFonseca commented on #11
Ah I should have suggested “either kill off or link in”, we can and should have office hours!

(Sorry was in spring cleaning mode and got into a killing-spree)

[2020-05-27 02:52] PedroGFonseca commented on #21
Actually they are complimentary, won't fix

[2020-05-27 02:52] #21 closed

[2020-05-27 03:04] PedroGFonseca commented on #8
Updated and cleaned up

[2020-05-27 03:04] #8 closed

[2020-05-27 14:52] dominguezmaria opened #36 "Decide on scholarships implementation process"
Document [here](https://docs.google.com/document/d/1tyY5RmvFXX-eQQv4DHb2O5K4TSZ4tBK-8DJmNS73giI/edit)

[2020-05-27 17:16] hershaw commented on #33
My vote is for the february proposal as well. The points that Chi added are great as well.

[2020-05-27 17:17] hershaw commented on #25
I've read it several times now. My only comment is that the tone is very... threatening? Not necessarily a bad thing, just made me squirm a bit when I read it. On second thought, that's exactly what it should do. Approved!

[2020-05-27 17:49] PedroGFonseca commented on #25
I agree that it sounds threatening, I ended up removing a lot of the positive language in the quest for clarity and killing off any ambiguity between riles and guidelines.

I believe that is kind of ok, this is after all a rule book, so it should read as “cold and clear”, unlike most of our communication which focuses also on being supportive and friendly.

[2020-05-27 18:28] minhhoang1023 commented on #25
I've gone through it and it was excellently written! I had nothing to add to the Code of Conduct per se, but I was thinking that we could add another section detailing guidelines for reporting violations.

This could cover things such as:
- To effectively enforce the Code of Conduct, we expect anyone who is aware of, or a victim of a violating case to report the violation.
- Your name and identity

[2020-05-27 21:07] PedroGFonseca opened #37 "section on dealing with concerns"
# Exposing concerns section drafted [here](https://github.com/LDSSA/wiki/wiki/Exposing-concerns)

--------

[2020-05-27 21:07] PedroGFonseca commented on #25
Agreed!
If it is ok will make it into a new section so as not to block the launch.

[2020-05-27 21:07] #25 closed

[2020-05-27 21:10] PedroGFonseca commented on #33
Alright, so the decision is as follows:

Criteria:
- Only allow students to come to the hackathons when they are over 80% on LUs
- Allow them to skip one specialization
- Allow them to deliver 1 specialization late
- Bootcamp is mandatory
- hackathon#1 (and therefore specialization #1) is mandatory

What they get:
- The end artefact is not graduation but is a “data science resume”
  - With their g

[2020-05-27 21:10] #33 closed

[2020-05-27 21:15] PedroGFonseca commented on #36
Vote 👍

[2020-05-27 21:58] CatarinaSilva commented on #33
Sorry, I had looked at it before but didn't comment with my agreement, the proposal mentioned looks good, I think it's also aligned with what was previously discussed in slack :)

Just a note, the 1st hackathon is the one after the bootcamp, so it's not the first __specialization__ right?

[2020-05-27 22:03] dominguezmaria commented on #33
@CatarinaSilva yup, the first hackathon is the one on binary classification that happens 15 days after the bootcamp.
But usually Hugo Castilho calls the bootcamp + this hackathon specialization 1 :p

[2020-05-27 23:11] dominguezmaria commented on #33
I've updated this [wiki page](https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)) to reflect this graduation criteria.

[2020-05-28 11:05] hcastilho commented on #9
That "Releasing a BLU" wiki page is desperately out of date and is probably safe to delete.

Probably the readme should focus more on the instructor setup and actions and the wiki on the content to avoid information duplication.

(There's currently no link in the readme to the "How to build Learning Units" wiki page)

[2020-05-28 14:34] PedroGFonseca commented on #33
Should I add that you can’t miss the capstone of the first specialization?

[2020-05-28 15:20] dominguezmaria commented on #33
Ups might have missed that! Yes!

[2020-05-28 15:27] dominguezmaria commented on #33
Ah @PedroGFonseca that's already there! Here: https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)#bootcamp-days

[2020-05-28 15:41] PedroGFonseca commented on #33
True, but it’s worth assuming that people will read the certificate section in isolation, so I’ll put some links to the other sections there

[2020-05-28 15:49] PedroGFonseca commented on #33
@dominguezmaria is this ok?
https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)#final-certificate

[2020-05-28 15:55] dominguezmaria commented on #33
perfect!

[2020-05-28 19:27] PedroGFonseca commented on #36
@hershaw give us unanimity!

[2020-05-28 19:30] PedroGFonseca commented on #9
Deleted Releasing a BLU. It makes sense to have it in the readme, as it will keep evolving. Maybe the README it will possibly become a wiki page again.

[2020-05-28 19:30] #9 closed

[2020-05-28 19:34] PedroGFonseca commented on #31
Done [here](https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)#final-certificate) by @dominguezmaria , but as the librarian I claim all the credit.

[2020-05-28 19:34] #31 closed

[2020-05-28 20:32] PedroGFonseca opened #38 "Have I... been fired?"
I've just noticed that in the [Member Directory](https://github.com/LDSSA/wiki/wiki/Member-Directory#member-directory) I'm Bruce Willis in the 6th Sense 😱

[2020-05-28 21:05] dominguezmaria commented on #38
😂 no!! I'll take a look at this member directory once we've survived signups

[2020-05-30 06:52] hershaw commented on #36
Sorry for being late to the party, approved!

[2020-05-30 08:50] hershaw commented on #37
Looks great, don't see any downsides to this. Maybe Minh and I can be the people that they reach out to?

[2020-05-30 11:43] FilipaRodrigues commented on #10
@PedroGFonseca I really don't know, I always thought of QA as QA of materials; but if not assigned to neither AOR, I can look into it anyway.

[2020-05-30 14:55] PedroGFonseca commented on #10
Ups, wrong Catarina, my bad!

(I meant student success)

https://github.com/LDSSA/wiki/wiki/Member-Directory#organizational-structure

[2020-05-30 14:56] PedroGFonseca commented on #10
Ups, wrong AOR, my bad! I meant student success 😅

[2020-06-03 15:00] PedroGFonseca commented on #38
Uff!

[2020-06-03 15:00] #38 closed

[2020-06-03 15:03] PedroGFonseca commented on #36
Boum!

[2020-06-03 15:03] #36 closed

[2020-06-03 15:13] buedaswag opened #39 "Career Success Guide"
This is an idea for a section on the jobs AOR, which would contain a sort of compilation of information on:
* what are the existing career paths in the data science field
* what do people actually do on their jobs
* how does that vary (by company, seniority, and other aspects)
* how to look for jobs
* how to apply for jobs
* how to practice for interviews
* how to be a desirable candidate
* how to

[2020-06-03 15:17] PedroGFonseca commented on #39
I am fully supportive of this.

Maybe one step would be to do some research on which job offers exist? I did some of that when preparing the [jobs page](https://www.lisbondatascience.org/offer-a-job/) and it was very informative, but unfortunately I didn't turn it into anything permanent.

My only comment would be to not call it an LU, as that is a very specific thing and we shouldn't dilute the c

[2020-06-03 15:18] dominguezmaria commented on #37
The wiki page looks good to me, only have one suggestion.
In the wiki page, we say that someone who wants to report something should go talk to an instructor, who in turn will communicate with the Disciplinary Committee.
My suggestion is to change "instructor" with "member of the staff", so that it's super clear that they can go to anyone within the Academy.
And in case we all agree with this, we

[2020-06-03 15:23] buedaswag commented on #39
Great to hear @PedroGFonseca !!

on your first point, you are talking about a step that should be done when we are compiling the guide or a step that someone following the guide should do?

on your second point, yep!

[2020-06-03 15:23] dominguezmaria commented on #32
Yes. If someone is actively against something, it would be nice to discuss it online, rather than through writing.
And we can say that, after the meeting, the decision can be approved even if it has one down vote. Otherwise we'll be on a limbo! :D

[2020-06-03 15:31] dominguezmaria commented on #38
Added you to the member directory, but our wiki does need some cleaning!!!

[2020-06-03 16:05] CatarinaSilva commented on #37
Agreed with @dominguezmaria. Isn't there also a page for "new joiners" to the staff? If so, that process in case something happens could be also defined there

[2020-06-03 16:12] PedroGFonseca commented on #32
Ok, I've updated the top proposal to reflect that.

[2020-06-03 16:17] dominguezmaria opened #40 "Implementation on the remote LDSSA"
Important resources for this discussion:
- This [doc](https://docs.google.com/document/d/1MD7-mxV6ftqS40v5oOwWr7NJsNSdPx_YR5Wkk6faEQI/edit#heading=h.6my1t4e4uffw)
- This [slack thread](https://ldsacademy.slack.com/archives/C4NSEL4DC/p1587902089009900)

Let's discuss what needs to be changed due to the academy being remote this year.

[2020-06-03 16:50] CatarinaSilva commented on #40
Adding also the lists from AORs explicitly (also on the thread I believe): [doc](https://docs.google.com/document/d/1Awli_sBqGodOKPu_0MuPRhLk24IFOR-XLo70M9mYxCc/edit#)

[2020-06-04 10:06] hershaw commented on #37
Okay I'm replacing instructor with staff on this page. @PedroGFonseca can we close this one now?

[2020-06-04 10:07] hershaw commented on #34
oh my god yes please! I'll be your VP @PedroGFonseca

[2020-06-04 10:07] #34 closed

[2020-06-04 10:09] hershaw opened #41 "notification testing"
does this send a notification?

[2020-06-04 10:10] #41 closed

[2020-06-04 10:16] hershaw commented on #32
so are you the official librarian @PedroGFonseca ? I don't mind being that as I've already got lots of edits and have an idea of where things are. Just let me know.

So once we decide on who is the librarian, then we'll be able to update the wiki with this information and close this issue, is that right?

[2020-06-04 10:23] hershaw commented on #29
firstly, unblocking the issue as the one it was blocked by is closed.

secondly, agreed that 5 is a bit too much. it'll be quite a bit of logistics to get 5 people in on it and, since many of the decisions might be subjective, it could make it unreasonably difficult to come to decisions.

lastly, are there restrictions on who should be in the committee? if we want to have a separation of powers (l

[2020-06-04 14:34] PedroGFonseca commented on #32
I can take it, unless you’d prefer to be.

Either way, the requests for adding should be created by anyone who wants one as a well labeled issue (“new section”, “needs improvement” or “wrong information”)

[2020-06-04 14:36] PedroGFonseca commented on #29
I’m all for that, assuming that y’all are 💪

[2020-06-04 14:58] PedroGFonseca commented on #37
+1

[2020-06-05 13:34] hershaw commented on #28
I think that we should pick one of the two to maintain. I agree that the wiki doesn't have a great way to search / discover stuff. However, it's very simple and markdown-based and it's hosted on github which everyone is familiar with.

If we have a librarian who is responsible for keeping track of changes on the wiki, we could ask this person to maintain the wiki home page as an index. That way, t

[2020-06-06 11:01] hershaw opened #42 "Create batch4 slack usage wiki page"
We should create a slack usage page for batch4 much like the the section in the prep course page created to explain the [slack channels](https://github.com/LDSSA/wiki/wiki/Data-Science-Prep-Course#practicalities). This wiki page will also be linked to in the welcome message that people see when they join the slack channel.

I'd propose that the page cover the following:

## Setup

If you are comfo

[2020-06-06 16:58] dominguezmaria commented on #29
Agree!

[2020-06-06 19:19] minhhoang1023 opened #43 "Guidelines for LinkedIn's Alumni Group"
Given that our mission is **_to create and maintain a community of excellence with the teaching and learning of Data Science at its core_**, it is important to have a channel or platform where members of our communities could reach out to each other.

Until now, we have relied on Slack and Github issues as the main communication channels. They have worked well during the courses (either Prep Cours

[2020-06-06 19:45] minhhoang1023 commented on #42
@hershaw Looks great Sam!

Two comments:
- I'm still keen on having a #feedback channel - so that we can receive real-time feedback. This, of course, comes with uncertainties of how people will behave. However, if we manage to set up clear guidelines on how to give feedback, this could be very useful. What do you think?
- Should we store questions/answers on Slack instead of somewhere else? I didn

[2020-06-07 11:02] hershaw commented on #43
In general, looks good. However, I think that there's a place for promotion of services since it could very well be relevant to the community. They should go through certain processes to ensure quality and adherence to values (like the job posting process does).

So I think that most of the place where you say "it won't be allowed", we can replace with "blatant self-promotion or sales that have su

[2020-06-07 11:17] CatarinaSilva commented on #40
Created a [proposal from the teaching AOR point of view](https://docs.google.com/document/d/1SF-MesWNa9opsfhvYOfvXzavNuPg4E83MR7QG86xW4o/edit?usp=sharing
), but there's some things which I think might overlap with others.

[2020-06-09 01:13] PedroGFonseca commented on #40
Thanks for setting this up! Left many comments on the doc :)

[2020-06-09 01:15] PedroGFonseca commented on #43
Big +1 to this. Regarding timing, this would be after the year is over, right? Not while they are actively students.

Also, do people from the Python course get to join?

[2020-06-09 01:16] PedroGFonseca commented on #42
I'd suggest an #operations channel. There will always be general questions about invoices, dates, "where is" questions, that kind of thing, and we don't want those to end up on announcements or random.

[2020-06-10 11:57] buedaswag commented on #39
i'll definitely research what jobs exist! i'm thinking of searching around Lisbon, Europe and the US just to give an idea of which opportunities exist and what skills do they ask for.

then, i'm thinking of recommending to the students that they do their own search and give guidelines on how to do this search

is this what you were suggesting?

[2020-06-11 08:53] hershaw commented on #32
I'll be librarian! I feel good about being able to contribute to this one because of the time and nature of it.

[2020-06-11 08:53] #32 closed

[2020-06-11 08:56] #37 closed

[2020-06-11 08:57] #29 closed

[2020-06-11 08:59] hershaw commented on #43
IF I'm going to take the community AOR, then it might mean that I should implement it ASAP. No reason for us to wait on this thing that is a few years overdue... so I'll close this and officially put it on my TODO list

[2020-06-11 08:59] #43 closed

[2020-06-11 15:42] minhhoang1023 commented on #43
Thanks @hershaw !! And "blatant self-promotion or sales that have subverted the proper process" sounds good for me!

I think peeps from the Prep Course should definitely get to join. I'm thinking whether there should be one group for everyone, for two groups - one for peeps from Prep Course vs from the Academy? This mainly because peeps from prep course might not have as much knowledge about Data

[2020-06-15 07:37] CatarinaSilva commented on #40
Thanks @PedroGFonseca I replied to a bunch of them and tried to incorporate some. Also added a list of actions needed for each of the sections

[2020-06-15 20:43] PedroGFonseca opened #44 "Section on sidecar academy"

[2020-06-16 08:51] hershaw commented on #44
Okay, here's what I'm thinking in terms of development and announcement:

## Announcing LDSA Unofficial Sidecar Academy

Over the last few years, many people have wanted to but not been able to get into the LDSSA. As of now, we have not been able to offer them any community-based alternatives which leaves them with the usual options of lonely online courses. While the course material, portal, and

[2020-06-16 11:03] VitorAndrade314 commented on #44
It looks awesome, guys.
I'd like to look at the course material just get an overview of it if it's possible.
I know there won't be a grading system but is there any kind of feedback provided to the students as they go on and learn/complete exercises?

I think all the rest is extremely clear, I 100% agree that the community is going to be super important to make up for the absence of instructors so

[2020-06-16 11:16] hershaw commented on #44
with regards to the students getting feedback, yes! every time yoou do an exercise, you get feedback on whether or not you've done it correctly on your own machine.

[2020-07-08 11:23] goncaloflf commented on #44
Hey there, thank you so much for this opportunity! I'm looking forward to having more information on this 🙏

[2020-07-15 10:34] saragomes86 commented on #44
Hi guys! Do you already have news about dates? Thank you for this sidecar academy! :)

[2020-07-16 00:56] PedroGFonseca commented on #27
Up and running! Closing issue

[2020-07-16 00:57] #27 closed

[2020-07-18 08:11] PedroGFonseca opened #45 "Next year have a separate intro session?"
Intro sessions always go long and we generally don't have time for questions. Next time should there be a compulsory onboarding session which is separate from the Learning Units?

E.g.
- Sunday 1st - Intro session
- Saturday 7th - First batch of SLUs

[2020-07-19 17:42] PedroGFonseca opened #46 "Undersampling and oversampling"
Ricardo José Neves Alberto Today at 12:05 PM
I believe that we should find a place in the SLUs to introduce the concepts of under and over-sampling as a way to deal with unbalanced datasets. The question of "how can I deal with unbalanced datasets" came up in both this batch and in batch 3, and I think it is a natural follow up question after we introduce the concept of unbalanced datasets. Furthe

[2020-07-19 17:55] PedroGFonseca opened #47 "Teach dummy classifiers in the workflow unit"
Dummy classifiers are great ways to submit baseline submissions, which was one of the student's questions.

Maybe we should formally add them to the curriculum
https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html

[2020-07-19 18:00] PedroGFonseca opened #48 "Solve the get_dummies vs scikit encoders choice"
Currently some slus use get_dummies, others use scikit methods.
We need to decide whether to just use one, or to formally use both. It may affect exercise notebooks.

[2020-07-29 13:16] PedroGFonseca opened #49 "Make the rule that all LUs need to be done ahead of the hackathon more explicit"
We currently don't seem to mention very clearly that in order to attend the hackathons the LUs need to have been done in advance.

https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)

[2020-07-29 13:41] PedroGFonseca commented on #49
Actually it's unequivocal:

Pedro is blind, and this is a non-issue.

[2020-07-29 13:41] #49 closed

[2021-02-19 17:18] PedroGFonseca opened #50 "update hierarchy"

[2021-02-21 16:13] minhhoang1023 commented on #30
Added a separate section for the executive team: https://github.com/LDSSA/wiki/wiki/Member-Directory
We should also add a page/section on the Organizational structure, and how does it work & how decisions get closed.

[2021-02-21 16:14] #30 closed

[2021-02-21 16:19] Juliana-R commented on #30
I believe the AORs are still not updated.

[2021-02-21 16:19] Juliana-R commented on #30
![image](https://user-images.githubusercontent.com/52176135/108631215-9aef7980-7460-11eb-9403-da4f0ed77c1d.png)

[2021-02-21 16:46] minhhoang1023 commented on #30
@Juliana-R That's in another [issue](https://github.com/LDSSA/wiki/issues/26)

Since batch4 is closing, we are in the process of confirming with AOR Primary Enablers on their responsibilities for batch5. This will be updated upon confirmation. Deadline for closing off AORs for Batch 5 & wiki page update : March 13

In the mean time, staff who left will be removed from the Member Directory.

[2021-02-21 17:08] #42 closed

[2021-02-21 17:15] minhhoang1023 opened #51 "Update Student Onboarding for Batch 5"
We have a Student Onboarding page for Batch 3 and it's outdated. This needs a serious update.

Some proposals:
- Make a generic Student Onboarding and update it from batch to batch, instead of creating a page for each batch
- Include Slack usage (post in appropriate channel, Slack best practices)

This will be assigned to Student Success AORs of Batch 5

[2021-02-21 23:09] PedroGFonseca opened #52 "Batch 5 Summit"
## Context
With Batch 4 about to end, there are a bunch of strategic and tactical decisions about what the LDSA should look like next year. We will have a Summit in March 2021 to ensure we are up to the task, and close/present some key decisions. We will use the word "Summit" to mean the union of the following:
- An online meeting
- The pre-work for that meeting
- The after-work for that meeting

[2021-02-21 23:24] PedroGFonseca commented on #42
@minhhoang1023 is this in the documentation? If not I suggest us keeping this one open as a documentation issue

[2021-02-21 23:24] PedroGFonseca commented on #51
Blocker for [Wiki 52](https://github.com/LDSSA/wiki/issues/52)

[2021-02-21 23:34] PedroGFonseca commented on #52
@CatarinaSilva @minhhoang1023 I volunteer as "Summit Secretary"

[2021-02-22 15:53] minhsf commented on #52
@PedroGFonseca Wow looking dope! Thanks for putting this together Pedro ⭐

In big LDSA picture, could we also add a bullet point for "How did the Side-Car Academy go? Shall we change anything?". An action point for me is to sync up with Vitor to assess it.

[2021-02-22 16:04] minhsf commented on #52
Also, I'd personally want to go through our Mission/Vision again. Up to last batch, the focus has been **create and maintain a community of excellence in Lisbon**. That has changed a lot in this batch and now we have students from multiple countries. These students wouldn't be able to attend the Academy, if we hadn't gone Fully Remote. Once the Pandemic goes away, do we still want to keep it Remot

[2021-02-22 16:31] PedroGFonseca commented on #52
Both great points, added them in the original description

[2021-02-22 18:11] PedroGFonseca opened #53 "Swag (hoodies)"
We are considering whether to give hoodies to students in Batch 4, and to instructors. There are a number of steps for this

1. Decide who should get hoodies (graduates vs everyone, staff, previous edition students)
2. Define what the budget we have for it is
3. Research the potential suppliers
4. Pick a supplier
5. Get the designs
6. Create a mechanism for recipients to give us their size and add

[2021-02-22 18:15] PedroGFonseca commented on #53
Alternatively to the shipping alternative we could hold off until we can have an in person event (probably late summer), then have a dinner + hoodies ceremony. May actually be fun to have an excuse to meet them in person.

We'd still have to ship it to people who aren't in Lisbon or couldn't come to the event of course, but we'd save a lot on shipping headaches.

[2021-02-22 22:56] minhhoang1023 commented on #53
Looking at it realistically now and leaving my excitement on the side, this is a lot of ops work and we won't be able to get this done before the end of Batch 5, and most likely until we could find an Ops AOR.

On a not so related note, I'm a bit split if Ops AOR would be the best person for this task. Since we're most likely continue with Remote learning in next batch, I've been thinking that Ops

[2021-02-23 00:41] PedroGFonseca commented on #53
Agreed, it's quite dependent on whether we are fully remote or not. But there are always this type of tasks to do, what would it fall under? Community?

[2021-02-26 01:10] minhhoang1023 commented on #53
Community is probably the best option. Except the fact that we don't have anyone for Community yet 😆

[2021-02-26 01:13] minhhoang1023 commented on #53
I'm gonna throw out wild idea. As there seemed to be several people who are super excited for it, we could announce it in the general asking who would be up for help and make it happen. If we have enough people, we could split the work.

Otherwise, I'm afraid this one will fall into the the void and could totally happen that we have no hoodies for this batch...

[2021-02-26 13:05] Juliana-R opened #54 "Google Drive documentation - where/how"
We currently have about all folders inside an _**Index**_ folder on Google Drive: https://drive.google.com/drive/u/0/folders/1dlVRsbnHiw9xJYosAvtdkthqxDyU2-27.

As part of Documentation AOR, I'd like to organize this info in a way that follows 2 basic principles:
- is intuitive to navigate (meaning the user will quickly find what he is looking for);
- by default everything in this folder is access

[2021-02-26 13:06] Juliana-R commented on #54
@hershaw @minhhoang1023 what should I use?

[2021-02-26 20:52] PedroGFonseca commented on #53
So... I'm going to counter offer an idea. I have someone who does ad-hoc tasks for me for a some money. I volunteer to pay that person to take care of the logistics, if we find that that's what's in the way.

[2021-02-26 21:10] Juliana-R opened #55 "Ensuring that every admission process includes explicit and informed acceptance of the T&Cs"
In a [thread on Slack](https://ldsacademy.slack.com/archives/C9ZFY7V4M/p1575720642028200) the necessity for a terms and conditions being signed at the beginning by a students came up between Sam, Chi, Carol, Pedro and Ivo, during Batch 3.

Main idea was to create a document to be read and signed by them

It was also argued that the 1st day of the bootcamp could be a good time for this.

The underl

[2021-02-26 21:14] Juliana-R commented on #51
Related with https://github.com/LDSSA/batch4-instructors/issues/147.

[2021-02-26 21:16] Juliana-R commented on #51
Why was this not assigned to me? 😢 Me is Student Success AOR.

[2021-02-26 21:20] PedroGFonseca commented on #51
leads to the question: where does Admissions AOR end Student Success AOR start?

[2021-02-27 10:17] Juliana-R commented on #51
I believe the onboarding would be their intersection between the 2. 😄

[2021-02-27 10:20] hershaw commented on #55
There was a code of conduct that is a document that they have to read and agree to when entering the course. we could expand it to add another section to cover these points as well.

[2021-02-27 19:44] minhhoang1023 commented on #54
@Juliana-R I think both is pretty much the same. Once the document is put into one of "Index" folder / or Shared Drive. It will be accessible to everyone.

Thing with Shared Drive is it's more intuitive and people can go straight there instead of having to search for Index. I'd suggest giving it a try yourself to see which one is more intuitive. And you're the Documentation boss here so the decisi

[2021-02-27 19:46] minhhoang1023 commented on #53
I like the idea of outsourcing. Let me propose another counter offer for your counter offer. How about have that person take care of it, but then it will be billed to the Academy?

P/S: you're so kind Pedro!

[2021-02-27 19:51] minhhoang1023 commented on #50
Can you provide some more context here @PedroGFonseca ?

[2021-02-27 19:56] minhhoang1023 opened #56 "Present & Clarify criteria for Graduation before/during the bootcamp"
We have a criteria for Graduation, but have to clarify them countless time during the course. I'd propose we should take 10-15 mins of the bootcamp to go through it, and answer all questions required.

Another alternative is to have another day where we present the rules, taking @PedroGFonseca [ideas](https://ldsacademy.slack.com/archives/C9ZFY7V4M/p1575720642028200)

[2021-03-01 04:29] PedroGFonseca commented on #50
Ah it's about how we still have Sam as El Presidente in some places. We should have that clear and consistent everywhere

[2021-03-01 04:30] PedroGFonseca commented on #53
Would that be feasible given how hard it is to make payments with the ldsa?

[2021-03-01 10:08] minhsf commented on #53
It's possible but we'll have to go through the route of reimbursement. E.g. putting the Academy NIF in restaurants' bill and then it will be reimbursed.

[2021-03-01 12:39] hcastilho commented on #55
I was having a look at the admissions portal code as part of the portal integration effort and accepting the code of conduct is a step there.
It was just a quick look soo I don't know if the CoC is hard-coded there or if it's getting it from somewhere.

So I think it's safe to either close this issue or transfer to the portal repository.

[2021-03-01 12:57] minhsf commented on #55
Looks good! We should also add a point that Carol mentioned in the thread - The team still has the final call to decide what's best.

[2021-03-01 21:45] PedroGFonseca commented on #53
Alright, so in the interest of moral can I sponsor the hiring of someone to manage this, while the Academy pays for the swag itself?  (I can "lend" it the money)

[2021-03-02 16:36] Juliana-R opened #57 "Wiki Refactoring Proposal"
Currently the Wiki has 2 main issues:
- topics are hard to find;
- it is a Wiki inside a Wiki, which introduces some confusion;
- it is not easily searchable.

This issue summarizes the initial suggestion from the Documenation AOR to make the Wiki both:
- better structured and easier to navigate by any user;
- have user-friendly keyword search;
- keep it easy to edit by staff.

## Action item 1 (u

[2021-03-02 16:58] Juliana-R commented on #56
Adding to this. We have a few pages, besides the graduation criteria, in the Wiki that the students should read very carefully at the very beginning (some even before enrolling), such as:
- [Code of Conduct](https://github.com/LDSSA/wiki/wiki/Code-of-Conduct)
- [Bootcamp Experience](https://github.com/LDSSA/wiki/wiki/Bootcamp-Experience)
- [How to ask for and give help](https://github.com/LDSSA/wi

[2021-03-02 17:14] Juliana-R opened #58 "Closing "historical" issues 📜🏛"
We have issues dating back to 1-2 years that are still open, at the time of this post we had 167 issues open, a good amount of them being from 2018, 2019 and 2020.

https://github.com/issues?page=3&q=is%3Aopen+is%3Aissue+user%3Aldssa+sort%3Acreated-asc

Can I close all issues that had no answer for more than 1 year?

The advantage would be that we only have issues open that are relevant for the pr

[2021-03-02 19:09] PedroGFonseca commented on #58
Oh hell yes

[2021-03-02 21:46] minhhoang1023 commented on #56
Nice idea!

Shall we include this in the Student Onboarding wiki page? @Juliana-R

[2021-03-02 21:50] minhhoang1023 commented on #53
@PedroGFonseca Actually the Academy can make the payment, as long as it's register under an invoice system. The issue with the Xmas party is that it wasn't issued under an invoice system, so the account argued they cannot validate it

So if the logistics person can invoice a green receipt with the Academy NIF on it, I believe we can make the payment :)

[2021-03-03 04:54] PedroGFonseca commented on #53
![image](https://user-images.githubusercontent.com/8465611/109754693-82930380-7bb2-11eb-99a3-eed522c5550a.png)

i'd rather personally pay for the hours than deal with 🇵🇹 bureaucracy 😂

[2021-03-06 14:53] Juliana-R commented on #26
is this solved?

[2021-03-06 14:53] Juliana-R commented on #26
if yes can we close?

[2021-03-06 14:55] CatarinaSilva opened #59 "Document batch5 remote/non-remote aspects"
### Timeline

To be done after batch 5 summit - #52

### Description

Last batch we made a series of decisions on remote aspects - described here #40 - and we documented some in the [starter's academy page](https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)) . Leaving this here cause maybe there should be other pages updated on processes/general position regarding this/etc now that it is

[2021-03-06 14:56] CatarinaSilva commented on #40
Closing as this was implemented but opening this for thee review for batch5 and further documentation improvements: https://github.com/LDSSA/wiki/issues/59

[2021-03-06 14:56] #40 closed

[2021-03-06 14:57] CatarinaSilva commented on #56
Extra suggestion - have a page in portal that shows this main info by either reading from or pointing to the relevant wiki page

[2021-03-06 19:18] CatarinaSilva commented on #26
It is up-to-date with batch4 but since we're almost kicking off 5 let's leave open to reflect the needed updates for next batch

[2021-03-07 10:25] hcastilho commented on #52
I don't think focusing on what rights the participants don't have is a healthy starting point for any discussion. If something like this really needs to be said it should probably read something like.

"We aim to reach decisions together, listening to all parties. When no consensus is possible it falls on the exec leads and the AOR owners to have a final say.

[2021-03-07 19:02] buedaswag opened #60 "we need at least 6 people to help the students with the prep-course setup"
typically [the initial setup](https://github.com/LDSSA/batch4-students#initial-setup) is something where a big portion of students get stuck, which blocks them from starting the course

for this reason we need at least 6 instructors (more is better) to help the students with the prep-course setup
their job will mostly be to keep an eye on slack and help students troubleshoot their issues

typical

[2021-03-07 19:08] buedaswag commented on #60
if i could recruit the new volunteers for this, that would do it!
https://github.com/LDSSA/batch4-instructors/issues/169

[2021-03-07 19:11] CatarinaSilva commented on #60
can you add a description of the typical things that you need to help unblock? If it's more descriptive we could share in the slack channels and get more volunteeers

[2021-03-07 19:52] buedaswag commented on #60
@CatarinaSilva thanks for the heads up! updated!
what do you think?

[2021-03-07 20:45] CatarinaSilva commented on #60
Looks good @buedaswag 😄 I would suggest maybe sharing in these:

#teaching
#announcements
#random

To maximize reach

[2021-03-07 21:29] buedaswag commented on #60
alright, i agree with that list!
im wating to hear back from Minh and then i'll share it, should be able to share it tomorrow, sounds good?

[2021-03-08 20:07] Juliana-R commented on #60
Quick reality check:
- We're aiming at 200-300 students from what I understood on the Prep Course.

This is a big effort for both the dev-ops team and the instructors providing support. Increasing the number of resources to adjust for the scale, in a course that is a free extra, does not seem reasonable given the amount of students we usually have per batch and therefore the less effort we put on

[2021-03-08 21:56] minhhoang1023 commented on #60
To clear out a few things first before diving into the discussion:

### Increasing the number of free resources:
200 - 300 students is # enrolled students last year. # of students actually participated was +160 students (See link [here](https://xoyondo.com/dp/hSYNtTwu78fS80L)). We will still have to see how many students we have this year, but I'm assuming the same at this point of writing. What i

[2021-03-08 23:28] Juliana-R commented on #60
Ok so making this very objective and straight to the point, so there's no ambiguity:

This was not what I was implying, and the portal grading in itself is merely an example. Overall, I feel there should be a clear differentiation in terms of level of service and support between a free course and a paid course, offered by the same organization. So my view is that the LDSSA Batch should always be t

[2021-03-09 23:22] minhhoang1023 opened #61 "Treasurer position to be filled"
## Context
Soo giving some context to everyone, Treasurer position is a required position in PT law for non-profit organisation. It has been a chronic problem for us to find, and retain volunteers for this position. Also, anyone who sign up for the position will be have legal responsibilities and that doesn't help.

In terms of responsibilities and requirements, we'd need the person to speak Portu

[2021-03-10 00:30] PedroGFonseca commented on #52
That was actually in the context of whether we should [A] have it open to anyone who wanted to join even if they were just potential new recruits or [B] only have people who are already actively working on the Academy.

In order to go with [A] I felt it would be best to be clear that no voting would be taking place live. I could definitely have put that more diplomatically though, but tried to err

[2021-03-10 15:32] Juliana-R commented on #26
This page is not up to date with Batch 4 I believe: https://github.com/LDSSA/wiki/wiki/Member-Directory#minh

@minhhoang1023 @CatarinaSilva

[2021-03-11 19:15] Juliana-R commented on #56
@minhhoang1023 Regarding Student Onboarding, I only found this page. https://github.com/LDSSA/wiki/wiki/Batch3-Student-Onboarding

 - Is there any other page on Student onboarding?
 - Should I remove the one above and create a new one for Batch 5?

@CatarinaSilva can you create an issue for that on the portal repo so we don't forget?

[2021-03-11 19:21] Juliana-R opened #62 "Student Onboarding wiki page for Batch 5"
Create a Student Onboarding wiki page for Batch 5, with the main important links:
- Check #55
- Check #56

@PedroGFonseca should we close issue #10 and page for Batch 3, namely https://github.com/LDSSA/wiki/wiki/Batch3-Student-Onboarding?

@minhhoang1023 do we have any other plan/GitHub issue for this that I should know about?

[2021-03-11 19:22] Juliana-R commented on #62
Moved to #51. Closing.

[2021-03-11 19:22] #62 closed

[2021-03-11 19:23] Juliana-R commented on #51
Complementary info for this:
- Check #55
- Check #56

[2021-03-11 19:35] CatarinaSilva commented on #56
Suggested here: https://github.com/LDSSA/portal/issues/77

[2021-03-11 19:59] Juliana-R opened #63 "Student Success - Insights from Batch 4"
I'm creating a short retrospective "presentation" on the learnings of the Student Success AOR here [work in progress]:
https://docs.google.com/presentation/d/1b42Yome2NE2zJsPlcNqeIiHqnC7kzpUzKm7O5m7FEuw/edit#slide=id.gc605ad161a_0_30

Content:
- Stats on drop-outs;
- Stats on students performance: completion rate and time effort;
- Actionable feedback gathered from the feedback forms;
- Next steps

[2021-03-11 21:06] Juliana-R opened #64 "Time effort during spec#01"
On this page: https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)

we recommend 10 hours/week (at least 5) of commitment.

However, 27 students have reported to spend **more than** 10-15 hours/week on Specialization#01 materials during Batch 4, on a Slack poll where we ask how much time they spent on the SLUs during the last 2 weeks, as shown below:

![image](https://user-images.githubuse

[2021-03-11 23:27] minhhoang1023 commented on #64
Agreed! I believe they will have 3 weeks to complete bootcamp SLUs this year - @CatarinaSilva would be the best person to share.

Personally as a student, I felt that the first few weeks will be more intensive anyway given all the amount of knowledge. So we could even do both.

[2021-03-11 23:44] minhhoang1023 commented on #52
@CatarinaSilva Do you want to have a call to go through this one tomorrow?

For Session 2: What will change between batch 4 and batch 5, think that you'd be a good person to speak about it.

[2021-03-12 01:56] PedroGFonseca commented on #63
Nice, do you think this will be in place in time for the summit? Would make an excellent summary for the second session

[2021-03-12 02:00] PedroGFonseca commented on #28
Abandoning this one, as @Juliana-R will probably want take documentation a different direction.

The [knowledge base](https://sites.google.com/lisbondatascience.org/knowledgebase) prototype does suggest it would be some effort to maintain.

[2021-03-12 02:00] #28 closed

[2021-03-12 02:03] PedroGFonseca commented on #57
(I resent being called an elder 👴 )

I like the idea of having a github website, maybe it's worth doing a little prototype first so that we catch the edge cases and issues? My previous attempt at a [knowledge base](https://sites.google.com/lisbondatascience.org/knowledgebase) was a disaster, this path seems more promising.

[2021-03-12 08:51] Juliana-R commented on #63
Yes it's almost ready! I'll finish the part on the feedback gathered from the forms today.

[2021-03-12 09:43] CatarinaSilva commented on #52
Yes let's do that @minhhoang1023 what's the best time?

[2021-03-12 10:10] Juliana-R opened #65 "Exercise Notebooks - correct solutions that did not pass asserts caused students to waste too much time"
Students have reported to spend several hours during Batch 4 trying to solve exercises with a correct solution that did not pass the asserts. This unfortunately happened throughout Specializations and with a significant portion of LUs.

The problem was identified and it happens mainly because:
- Use of different Python version and/or environments;
- The assert is made by hashing floats or data str

[2021-03-12 10:39] Juliana-R opened #66 "Update the curriculum-development repository"
The [curriculum development repo](https://github.com/LDSSA/curriculum-development) is outdated (last change was 2 years ago).

Would you be available to update this @CatarinaSilva ?

[2021-03-12 10:41] Juliana-R commented on #64
It stills leaves us with 10 students who would need more than 60/3 = 20 hours per week, so we will need to update this for sure. Assigning to myself after the timeline for SLUs is defined. @CatarinaSilva please let me know when the timeline is ready.

[2021-03-12 10:47] Juliana-R commented on #57
The highest priority right now is really to update and document what is not documented.

The fun part (GitHub pages) will be made on a second phase.

The "elder" was not in terms of age, but in historical presence in the Academy. Was meant in a complimentary way.

[2021-03-12 10:51] Juliana-R commented on #28
Thank you @PedroGFonseca. I will however keep that [knowledge base link](https://sites.google.com/lisbondatascience.org/knowledgebase) on the [Documentation AOR](https://github.com/LDSSA/curriculum-development) 1st document on scope, strategy and responsibilities, to serve as reference further on.

[2021-03-12 10:54] dominguezmaria commented on #66
Hey Juliana!
Curriculum is its own AOR, separate from Teaching.
I talked with Minh on Wednesday and I'll be on charge of curriculum from now on. Previously it was Ascensao, who is no longer working with us.
I'll update the curriculum repo (among other things), but I think we don't need this issue for that :)
Could you update any documentation that we have about the team, with the information that

[2021-03-12 10:56] hcastilho commented on #61
Do we have a clear idea of the pain points of the previous treasurers? How much time they spent and what responsibilities they found onerous or "scary"?

I am part of other non-profits that are older and a lot more structured that I could approach with questions of how they operate the position, but I have no idea what questions to ask. Would it be helpful and is what should I ask?

[2021-03-12 14:41] Juliana-R commented on #66
Hi @dominguezmaria ! Thanks for letting me know.

Added you now as Curriculum Development AOR to the [member directory](https://github.com/LDSSA/wiki/wiki/Member-Directory#maria-dominguez-chi). Any other change needed just say. 👍

[2021-03-12 15:03] Juliana-R commented on #66
Who should I put on Admissions? @minhhoang1023 @dominguezmaria

[2021-03-12 15:18] CatarinaSilva commented on #66
Glad this is solved. @dominguezmaria do you already have some thoughts on what to keep/change this year? Shall we open an issue on the curriculum development repo to discuss this?

[2021-03-12 16:02] dominguezmaria commented on #66
@Juliana-R not sure, is it you @CatarinaSilva ?

@CatarinaSilva didn't have time to do anything on this yet 😅 I'll open the issue for discussion in the weekend, if that's ok!

[2021-03-12 17:22] Juliana-R opened #67 "Access to LDSSA Instructors Calendar"
We have an LDSSA Instructors Calendar where we will store important dates.

Every instructor e-mail has view access but not manage one. Should we add each AOR representative? or every volunteer (if I can find that option meanwhile).

[2021-03-12 19:16] CatarinaSilva commented on #52
So dropping here the latest on the discussion, @minhhoang1023 please validate this is what we discussed:

## Section 1 (@minhhoang1023 to introduce the topics and moderate):

#### Initial topics proposed (I'm assuming you're going to go through these initially @minhhoang1023, can you confirm?)

- Mission and vision
- ~Team updates (who is who, what changes)~ > I propose to move this to the next se

[2021-03-12 19:38] Juliana-R commented on #53
Who's @minhsf? 😁
![image](https://user-images.githubusercontent.com/52176135/110989869-70f7eb80-836a-11eb-8ad3-aed46977e29d.png)
I need to document that!! @minhhoang1023

[2021-03-12 19:48] Juliana-R commented on #63
Done.

[2021-03-12 20:01] PedroGFonseca commented on #63
@minhhoang1023 @CatarinaSilva should this be one of the presentations?

[2021-03-12 20:03] PedroGFonseca commented on #67
Should I switch the summit to it? Might as well leave it on the student one, right?

[2021-03-12 20:46] Juliana-R commented on #67
I already cloned your event to the Instructors. Better not touch it I guess, unless you're worried about having the link public. xD

[2021-03-12 21:18] FilipaRodrigues commented on #65
@Juliana-R I totally agree with you, so in the QA checklist we could add like "test cases" for each of the points in the checklist.

You mention two points that remotes me to some things that we also need to address:
- Python versioning: several students struggled with having different python versions (when installing the requirements for example)
- Library versioning: should we have a rule about

[2021-03-12 21:55] Juliana-R commented on #65
Regarding Python version, pleace check this LDSSA/portal#67

[2021-03-13 10:02] CatarinaSilva commented on #48
Can we this part of teaching guidelines? In that sense we could move this to batch4-instructors

[2021-03-13 12:18] CatarinaSilva commented on #52
@minhhoang1023 @PedroGFonseca created these for session 2:

* [small presentation support](https://docs.google.com/presentation/d/1EjMmRBKMx_jlwbv6sXpmK_OWS_qrsZKtUfYFuftD2Hw/edit#slide=id.gc757a69bd1_0_659)
* [notes document](https://docs.google.com/document/d/1UhKk2ObcU8udl5y1WGg2F1_WTd7jpdqtrATDVRwYVfA/edit#)

@PedroGFonseca as secretary will you be taking the notes? 😝

[2021-03-13 12:43] hershaw commented on #52
I can offer to be the official note taker

[2021-03-13 14:15] Juliana-R opened #68 "Use of the Instructors Calendar as single source of truth for AOR/staff deadlines"
During the Summit the necessity of having a centralized place for the calendar was raised.

Examples of deadlines:
- submission of Learning Units to QA team
- deliver of QA review to instructors
- evaluation of Report#1 of capstone
- ...
Linked with #67.

[2021-03-13 14:42] Juliana-R opened #69 "Communications AOR"
Will we remove this AOR? @CatarinaSilva If yes I'll delete it from the member directory page. 👍

[2021-03-13 14:49] PedroGFonseca opened #70 "Division of responsibilities between prep, main, and org"
Currently we [separate the AORs](https://github.com/LDSSA/wiki/wiki/Member-Directory#organizational-structure) between:

A) Prep course
B) Everything else

One potential alternative would be to have the following division:
A) Org
B) Main course
C) Prep course

The reason is that while devops, teaching, student success are course specific, there are others which are org (e.g. Jobs) level

[2021-03-13 14:53] PedroGFonseca commented on #48
This kind of raises an interesting meta point: as we are working on improvements for batch 5 do we take+close issues from batch 4 repo?

[2021-03-13 14:54] PedroGFonseca commented on #48
Related to #161

[2021-03-13 15:09] PedroGFonseca opened #71 "Spreadsheet use deprecation where possible"
In Batch 4 we tended to default to google sheets as a project management tool. Ideally in the future we would start deprecating spreadsheet use when the pain of tooling up properly is worth it.

Possible alternatives:
- Jira
- GitHub Project Boards
- Trello
- ZenHub

[2021-03-13 15:11] PedroGFonseca opened #72 "Meta: cleaning up labels"
We've been adding labels organically.

If we are going to be using issues as a primary means of discussion and all non-private issues will default to this repo then we should re-think the labels from first principles and make sure they make sense.

[2021-03-13 15:27] PedroGFonseca opened #73 "Delivery deadlines for SLUs"
We are currently delivering 3 weeks before the unit is needed. However this is mainly a historical consequence of the fact that we use to make materials from scratch right before they were needed.

Having a short lead time creates scenarios where people need to make heroic efforts, either the instructors or the QA team, and alternatively mistakes from urgency reach the students.

A counter argumen

[2021-03-13 15:58] Juliana-R opened #74 "Summit takeaways -- notes document"
https://docs.google.com/document/d/1UhKk2ObcU8udl5y1WGg2F1_WTd7jpdqtrATDVRwYVfA/edit#

[2021-03-13 16:01] PedroGFonseca opened #75 "Changes to the bootcamp"
Suggested:

- Extending over 3 weeks
- Braking into two halves
- Changing from 100% pass requirement to a lower %

Advantages of how it is now:
- Learning under pressure is an important skill
- The capstone is very high, and having a lower difficulty at the start may just postpone the pain

[2021-03-13 16:03] PedroGFonseca opened #76 "What is the cap on nr of students for 2021?"

[2021-03-13 16:07] PedroGFonseca opened #77 "Changes to the Prep course"
Note: these are paraphrased quotes from the summit, they should be split into issues if we're picking them up:

- "I wasn't ready to do the exercises under a time constraint"
- "Potentially have a separate prep course for people who aren't from sciences"
- "In the first day there was so much information that I could not process it"

- Our [time estimates](https://github.com/LDSSA/wiki/wiki/Starter

[2021-03-13 16:14] TSFelg opened #78 "What should be the deadline for Teaching Responsibilities?"
An important point of improvement is defining and respecting a deadline for the delivery of SLUs/BLUs. Something that precedes the development of the material is the assignment of responsibilities. The leads of each specialization are already defined (I believe), but it would also make sense to have a deadline to define the teams that will support each specialization and the individual responsibil

[2021-03-13 16:19] cimendes opened #79 "Time commitment adjustments"
I feel like the time commitment expectations stated in the wiki are not very accurate. I propose the following changes:

- Devide time commitment expectations into 3 differents parts
    - **Bootcamp:** 3 weeks to complete BLU
    - **Specs 2-to last:**  expected time commitment for completing 3 BLUs + hackathon (i think this was within the expected value)
    - **Capstone:** this will be intense.

[2021-03-13 16:22] PedroGFonseca opened #80 "Are we trying to teach too much stuff?"
We've always added materials but never removed any. Is it time to consider teaching less, but better?

[2021-03-13 16:24] buedaswag opened #81 "how should we strengthen the prep course"
how should we strengthen the prep course to better prepare students for the academy, specially non computer science students (for example, someone from an arts background)

[2021-03-13 16:24] PedroGFonseca opened #82 "Close details for Batch 5"

[2021-03-13 16:26] PedroGFonseca opened #83 "Data Science Engineering Academy"
Because Miguel said something smart but I don't want to tell him that because I'm mad at his swimming pool.

[2021-03-13 16:26] buedaswag opened #84 "who wants to start a data engineering academy?"
whats the curriculum and why?
who do we want to train?
what do we want to train students on?
what will they do after the academy?

[2021-03-13 16:31] PedroGFonseca commented on #83
Duplicate of #84

[2021-03-13 16:31] #83 closed

[2021-03-13 16:34] PedroGFonseca commented on #77
Related to #81

[2021-03-13 16:38] cimendes opened #85 "Share it! - Batch 4 quotas were not used"
Nothing speaks of equality like not having to enforce (crummy) quotas! Women are more open to STEM fields and the academy is a great example of it! SHARE IT TO THE WORLD!!

[2021-03-13 16:39] cimendes commented on #85
comment from Rodrigo:
I would just share the % of women participating, rather than mention a quota not being activated

[2021-03-13 16:52] PedroGFonseca opened #86 "Remote vs in person learning"
Scope: the Academy in general, not batch 5 (which will almost certainly be remote)

Remote pros:
- More inclusive to people from other parts of the world
- Bigger class sizes
- Less expensive / more scalable
- For 2021 it's possible that we won't have an option until the end of the year
- Can be more inclusive for people with caring responsibilities

In-person where possible pros:
- Better feeling

[2021-03-13 16:56] PedroGFonseca commented on #86
For batch 5, possible amelioration strategies:
- Synchronous office hours (video)

[2021-03-13 16:59] ramaroesilva opened #87 ""git is live. git is love." > says Inês Mendes"
I believe that the prep course (or even the academy) should better demonstrate this.

Consider including some content on collaborative coding methodologies, which could lead to better student performance during hackathons.

[2021-03-13 17:05] PedroGFonseca opened #88 "Do we allow people to enrole in Batch 5 who would not be able to attend in person?"
Related to #86

[2021-03-13 17:07] ramaroesilva commented on #87
Material created and shared by Inês Mendes.
https://docs.google.com/presentation/d/1sc7Itp_s8qWrSThbvFUPt3u_z989n2jc_8fyRgPzVeM/edit?usp=sharing

[2021-03-13 17:08] Juliana-R commented on #63
@rjna FIY 👍

[2021-03-14 09:08] minhhoang1023 commented on #53
It's my alter ego @Juliana-R

@PedroGFonseca You're so kind Pedro. Let me check first with Joao to see if we can still make the payments, as Joao already stepped down from the position

[2021-03-14 09:49] hershaw commented on #84
as much as I'd like to have a DE academy, I'll usually advocate for going the other direction and teach more basic stuff. like opening a computer literacy class to help people enter the prep course.

[2021-03-14 11:48] Juliana-R commented on #63
What would be the best way to share [these](https://docs.google.com/presentation/d/1b42Yome2NE2zJsPlcNqeIiHqnC7kzpUzKm7O5m7FEuw/edit#slide=id.gc605ad161a_0_30) insights from student success (namely time effort + feedback forms sum-up) with the instructors? @minhhoang1023 @CatarinaSilva

[2021-03-14 18:31] Juliana-R opened #89 "keep a list of active and inactive volunteers"
Currently I believe we don't have a list with all volunteers and a contact (both volunteers that have helped in the past and those that are helping presently).

This would help in case of events where we want to invite everyone, or each time we're looking for people to help out with specific tasks.

Suggestion:
- Create a database/table where we store this info.

[2021-03-14 18:39] Juliana-R opened #90 "Documentation AOR - Launch Phase [WIP]"
WIP document with Documentation AOR scope, strategy and responsibilities available at: [Documentation AOR](https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#heading=h.vsrik7jyqkwa)

[2021-03-14 18:57] Juliana-R commented on #90
@minhhoang1023 @CatarinaSilva could you have a look and see if this meets the expectations for this AOR and add whatever comment you see fit? I'll plan the Launch Phase (first things to do on this AOR) depending on the priorities we want to set. (an open meeting for this would help).

@PedroGFonseca and @hershaw, any learning you could share here, or things I should be aware of before taking the n

[2021-03-14 19:01] Juliana-R opened #91 "Executive Team - Distribution of AORs"
I would like to add the final list of the distribution of AORs between the Executive Team (people from Executive Team who are the go-to persons for each AOR). Is this decided yet?

[2021-03-14 19:04] Juliana-R opened #92 "Translate summit notes into actionable GitHub issues"
Who's going to translate the actionable points of the Summit notes into GitHub issues?

[2021-03-14 19:09] Juliana-R opened #93 "Executive Team members"
Who are the Executive Team members (as of now) of the LDSA? On the Wiki we still have 3 people: @minhhoang1023 @CatarinaSilva and @dominguezmaria

[2021-03-14 19:15] Juliana-R commented on #69
Since Carol is doing the job of Communication, should we name her AOR "Marketing, Social Media & Communication"?

I don't have her GitHub handle though, so I'm assigning this to you @CatarinaSilva.

[2021-03-14 20:25] PedroGFonseca commented on #92
@hershaw can you share your notes with me please? I'll go through them and extract issues :)

[2021-03-14 20:27] Juliana-R commented on #92
https://docs.google.com/document/d/1UhKk2ObcU8udl5y1WGg2F1_WTd7jpdqtrATDVRwYVfA/edit?skip_itp2_check=true&pli=1#heading=h.34wgjj9b1cil @PedroGFonseca

[2021-03-14 20:28] PedroGFonseca commented on #53
It should also be noticed that while hiring someone to do the ops does not solve everything:

We can outsource: 3, 4, 6, 7, 8
We cannot outsource: 1, 2, 5

[2021-03-14 20:35] PedroGFonseca commented on #69
Speaking of which, this does remind us that we need to fully onboard every staff member onto GitHub.

I expect Carol may already be comfortable with it, but we're assuming everyone is and that's a non trivial assumption.

[2021-03-14 20:39] Juliana-R opened #94 "Taskforce for volunteer onboarding"
Who will be responsible for the onboarding (e.g. checking the onboarding list tasks on https://github.com/LDSSA/wiki/wiki/Volunteer-Onboarding):
- I volunteer to help with the GoogleDrive part;
- We'll need the GitHub admin, I believe @hcastilho can help with this;
- Invite to Slack (anyone can do this right?;

Does this fall on any specific AOR? And if not, where should we put it.

[2021-03-14 20:40] Juliana-R commented on #69
related with https://github.com/LDSSA/wiki/issues/23.

So the question is, who will be responsible for the onboarding #94

[2021-03-14 20:45] PedroGFonseca commented on #94
Re-routing to @minhhoang1023

I suggest it's up to the AOR that's doing the onboarding, and that in a vacuum it falls to the Exec

[2021-03-14 20:51] PedroGFonseca opened #95 "How do we triage issues?"
Super meta: we will hopefully be making lots of issues, who is responsible for triaging, by which I mean:
- Assigning the right person to own the issue
- Marking urgency level where appropriate
- Checking for duplicates

[2021-03-14 21:00] Juliana-R commented on #95
I believe this should fall under Documentation AOR, **because** all issues will become documentation, one way or the other, and the documentation person should have to read issues to find the relevant info anyway. Does this make sense?

[2021-03-14 21:05] Juliana-R opened #96 "Response times on issues"
What should be an acceptable time to wait for issues to be resolved. If the person or persons assigned do not respond, how does the person making the triage of issues deal with this?

I'm giving this a high priority label because it has been a big bottleneck in the past, so we should find a way to avoid people from getting blocked in the future whilst waiting for a response.

@PedroGFonseca relate

[2021-03-14 21:07] PedroGFonseca commented on #95
It feels as if there are tasks that fall under Documentation AOR, and others under Exec...

How about this?

Documentation AOR:
- Route issues to the right people
- Label the issues
- Ensure that the decisions get formalized into documentation

Exec
- Chase people to close overdue decisions
- Close decisions that are falling in a vacuum
- Close decisions that are urgent when the owner fails to clo

[2021-03-14 21:08] thecarolmartins commented on #89
IMO this should fall to Ops AOR. It would be important to find someone for Ops...

[2021-03-14 21:09] PedroGFonseca commented on #96
This falls into the question of Service Level Objectives.

There are a few possible approaches.
1. Deadline based approach, where a close date is associated with an issue
2. Days to close based approach, where a number of days to resolve is associated with the urgency level tag
3. Milestone based approach, where the urgency is associated with an event in the future.

I think it's important to have

[2021-03-14 21:12] Juliana-R opened #97 "Create a concrete assessment of availability/responsiveness vs. level of responsibility"
To allow for everyone to work more smoothly and to avoid repeating situations where delays are the norm in the future, I propose the following.

When assuming a responsibility inside the Academy, we should make sure of the following:
- that the time effort necessary per week for the responsibility is well documented;
- that the person undertaking the responsibility is aware of that effort and is a

[2021-03-14 21:15] PedroGFonseca commented on #97
I'd caution one thing: we're assuming that availability is uniformly distributed in time.

What I've found is that if someone asks "how many hours can you put in per period of time" I'll think of the mean over the past few weeks, but ignore variance.

Even my own answer if I'm honest about it would be _"On average, some 6 hours per month, but can vary between 0 and 30"_

So while I agree that expe

[2021-03-14 21:21] Juliana-R commented on #72
I've made this a part of the Documentation AOR set of responsibilties proposal: https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#heading=h.vsrik7jyqkwa.

I propose the following when it comes to the triage person (I would be ok with being that person) labelling everything:
- a priority label (high, medium, low) -- meaning high should be addressed in X hours, med

[2021-03-14 21:22] thecarolmartins commented on #53
Okay, about this:

we’ve done hoodies for DareData recently and I took care of the whole process. Don’t mind doing it here too.

For the design part, I think I still have the vectorized file for the logo because we’ve done merch for batch 3 and I took care of that with Angie (at the time).

About deciding who should get it, I’d go wi the option “everyone” because that’s what we’ve done the last ti

[2021-03-14 21:25] Juliana-R commented on #72
I have started doing this already by the way. If you see any inconvenient let me know.

[2021-03-14 21:26] Juliana-R commented on #11
What should we do about this?

[2021-03-14 21:27] Juliana-R commented on #95
Yup, it makes sense.
- Labeling and reassigning (where it is obvious) should be Documentation.
- Any final decision it's executive -- however here we need to make sure we have timely answers (some issues may require a very timely response -- are you available for that @minhhoang1023 @CatarinaSilva ?)

[2021-03-14 21:29] PedroGFonseca commented on #11
![image](https://user-images.githubusercontent.com/8465611/111084834-cce97e00-84ea-11eb-8c69-4d3cc0ac1f0a.png)

[2021-03-14 21:31] PedroGFonseca commented on #95
I'd say if we have decisions that require 24 hour responses it means we have a systemic problem, as an async, remote and volunteer org should not ever need them.

If a 24 hour issue occurs it should be considered that something went catastrophically wrong, and require a change in process.

PS: that's not to say we shouldn't have that option, simply that it shouldn't be normalized.

[2021-03-14 21:33] Juliana-R commented on #95
@PedroGFonseca it was an example. Urgent things will happen even in the most organized system ever.

What I think we need to know is what are our response times that we can commit to, and then commit with that. That way no one is left waiting for an indetermined time. Makes sense? Let's quantify this?

[2021-03-14 21:38] PedroGFonseca commented on #95
100% agreed with having expectations, just wanted to make sure that we don't start marking unrealistic expectation as it leads to "inflation", and then they just become meaningless numbers.

Also no one should ever mark something as urgent just so that it's "taken seriously". That requires being thoughtful, as it's very easy for "Urgent" to start meaning "Actually should get done".

[2021-03-14 21:40] Juliana-R commented on #97
@PedroGFonseca I am interested in quantifying this because we need to make sure issues don't stay unresolved forever.

[2021-03-14 21:42] Juliana-R commented on #97
The way we quantify it is not as important to me. It could be something like "I will create a further action for each 10 issues each week." or any other metric.

What I believe we need is some level of compromise that we can give to each other to make sure people don't get delayed. The only way to do that is knowing how much each person will do each week and compromise ourselves with that minimum.

[2021-03-14 21:43] Juliana-R commented on #97
Regarding the distribution in time, from certain AORs it will need to be weekly, from instructors only during their LUs, from Executive Team I believe it should be as daily as possible.

[2021-03-14 22:02] PedroGFonseca commented on #97
I'll have to disagree on that last point. As an ex-executive I feel that if there were a daily expectation set on me it would not have been sustainable for more than a few weeks.

[2021-03-15 09:53] Juliana-R commented on #97
So the level of responsibility of an Executive is the highest in an organization. This means that if an urgency happens, this is the person/people that should be available asap. Does this not make sense?

[2021-03-15 09:54] Juliana-R commented on #97
We have to plan for the better but be available to deal with the worse. So being prepared to answer quickly is part of a good plan, there is no way you can control all unpredictables and that is just plain unrealistic in my opinion. 😆

[2021-03-15 09:58] Juliana-R commented on #96
So what would be a good concrete approach in your opinion @PedroGFonseca?

[2021-03-15 10:01] Juliana-R commented on #96
@minhhoang1023 and @CatarinaSilva **what number of issues would you feel comfortable compromising with per week**?

Here the idea would **not necessarily be resolving them, but giving a decision** when it was required, reassigning it, whatever. This wouldn't be time consuming in that you'd basically redirect or decide on things.

[2021-03-15 10:04] Juliana-R commented on #11
Ok we're falling into a spiral here. @CatarinaSilva said not to kill, you say to kill... I need a clear decision on this guys.

[2021-03-15 10:06] Juliana-R commented on #96
@minhhoang1023 @CatarinaSilva knowing what number of issues would be addressed each week would be **extremely important** to me as a Documentation AOR, and honestly to anyone waiting for those decisions. I believe this would help in having a better sense of when people will get the responses they need, and set the right expectations. ⚠️

[2021-03-15 10:08] Juliana-R commented on #10
I'm Student Success, currently transferring to @rjna. What is exactly to be fixed in the page @PedroGFonseca ?

[2021-03-15 10:11] Juliana-R commented on #95
The response time is addressed on issue #96  and this in my opinion should be a must have if we are to work smoothly within and betweeen AORs and Executive.

[2021-03-15 10:13] CatarinaSilva commented on #11
That's because we're making the issue about the page, when it probably should be about:
1. Should we keepor not office hours
2. After 1 is solved, do we need a particular page describing this?

Last batch support has been ad-hoc. For the specializations that has been ok, but the bootcamp could benefit maybe of office hours.

Can you explain the current urgency on this particular topic? As we go th

[2021-03-15 10:19] CatarinaSilva commented on #96
First, I would say we need to be very clear about one thing: time to response is different than time to resolve. The second one is not something we can easily set given the variation of issues, and should be set after the first pick up, upon analysis of the issue itself.

Regarding the 3 approaches you mentioned @PedroGFonseca , these are strategies that can be applied by the assigned person at th

[2021-03-15 10:21] Juliana-R commented on #11
1. I believe we should keep the office hours -- this clearly was missed by the students ([as summed up here](https://docs.google.com/presentation/d/1b42Yome2NE2zJsPlcNqeIiHqnC7kzpUzKm7O5m7FEuw/edit?usp=drive_web&ouid=107628881235533407511)).

What do you think @rjna ?

2. I think it wouldn't hurt, it helps the instructors know what they need to do during the sessions and how to prepare for them.

[2021-03-15 10:23] Juliana-R commented on #96
I did not ask for time to resolve @CatarinaSilva. I'm asking specifically how many issues you feel comfortable **responding** per week? Could you please put a number on this for us to set clear expectations to everyone?

Then of course you would decide which you want to address first, if there are more than the number you set.

[2021-03-15 10:24] CatarinaSilva commented on #95
This makes sense to me, I would say there's a part of triage missing here, though. After documentation assigns a lead (or exec) we can expect the issue to be classified and having some deadline/milestone attached as referred in https://github.com/LDSSA/wiki/issues/96

Regarding issue urgency, there's an issue here of "who assigns urgency" and "what are the criteria". There is very little that in m

[2021-03-15 10:24] Juliana-R commented on #96
If we don't set any expectations, we're saying it's ok if nothing happens week after week, and we fall into the same problems of Batch 4. We don't want that, do we?

[2021-03-15 10:30] CatarinaSilva commented on #96
@Juliana-R I mentioned it cause even though the issue title is "Response times on issues", the first sentence is "What should be an acceptable time to wait for issues to be resolved", which is why I'm splitting the two of them.

Then, the same goes for #issues. It's not like the threshold is easy to set. The reasonable person principle would lead me to say that  a couple of issues a week is perfec

[2021-03-15 10:33] Juliana-R commented on #96
Got it, so from what I understand you would be willing to compromise with 7 days max. response, **except** if we have a situation of issues overflow. Is this correct?

[2021-03-15 10:34] Juliana-R commented on #96
What would be an issue overflow then? Can 1 issue only be a reason for not addressing anything else, for example?... Again, setting a number on things helps people know what to expect.

[2021-03-15 10:36] Juliana-R commented on #96
Of course there is 1 thing that's important here. If an issue becomes a set of issues of course we won't expect you to address more than 1 issue on that same week. But this would fall into good practices and **the Documentation AOR should make sure that each issue is 1 only issue and not several inside it**. Would this help you set a minimum number of issues per week?

[2021-03-15 10:38] Juliana-R commented on #85
I believe this would fall under @thecarolmartins AOR, since it's basically a marketing/social media matter. What do you think about this idea @thecarolmartins? 😄

[2021-03-15 10:43] Juliana-R opened #98 "priority labels"
To be able to trace and search for issues, a labelling based on priorities should be implemented.

I propose the following but am open to any other approach:
- priority:high (requires fastest answer possible, ideally less than 1 week -- it is time sensitive)
- priority:medium (should be done within the next 1 month)
- priority:low (should be done in 2-3 months)

Any other ways of quantifying this?

[2021-03-15 10:45] Juliana-R commented on #95
@CatarinaSilva can I accept this as final decision and document (in the Wiki) that proposal of @PedroGFonseca regarding distribution of tasks?

Then I'd close this issue, is that ok?

[2021-03-15 10:47] Juliana-R commented on #82
@PedroGFonseca this issue lacks a description of problem and action request. Can you please provide that?

[2021-03-15 10:47] thecarolmartins commented on #85
Yes, I agree! That should fall into the MSMC AOR (is this an acronym that works? 😂 )

@cimendes I can understand Rodrigo's input, however on this subject, depending on how it will be written, it might actually be relevant to say that not activating the quota is, for the Academy, a major win because it means that there's no need to reinforce something that we believe it should be natural.

What do

[2021-03-15 10:56] cimendes commented on #85
@thecarolmartins totally agree! Caution when phrasing this is needed. An infographic, maybe comparing with previous edition, could be a good way to show demographic information in a clear way without potential misinformation/misogynistic text. The growth on "female" participants could be highlighted this way.

[Here's ](https://news.psu.edu/sites/default/files/styles/photo_gallery_large/public/Wom

[2021-03-15 10:56] Juliana-R commented on #35
@PedroGFonseca should we close this?

[2021-03-15 10:58] thecarolmartins commented on #85
This is a good example. Thanks!! Let me see what I can do, and when we can do it (editorial plan)

[2021-03-15 11:29] Juliana-R commented on #94
Adding @CatarinaSilva as she's doing the initial calls with the volunteers.

[2021-03-15 12:09] Juliana-R commented on #69
@thecarolmartins I'll change the name to "Marketing, Social Media & Communication" as already agreed through comments on the [LDSSA Summit notes](https://docs.google.com/document/d/1UhKk2ObcU8udl5y1WGg2F1_WTd7jpdqtrATDVRwYVfA/edit?ts=604dfc33).

If you feel the description of your AOR should be adjusted let me know so I can update it on the Wiki. https://github.com/LDSSA/wiki/wiki/LDSA-Areas-of-Re

[2021-03-15 12:11] Juliana-R commented on #69
btw @PedroGFonseca FYI the GitHub is already part of the onboarding checklist in the Wiki. https://github.com/LDSSA/wiki/wiki/Volunteer-Onboarding What we should make sure though is that our existing volunteers all have access because they might not.

[2021-03-15 16:06] PedroGFonseca commented on #35
Kill kill kill

[2021-03-15 16:06] #35 closed

[2021-03-15 16:33] PedroGFonseca commented on #10
fix --> update (detecting what is wrong is part of the effort on this one)

[2021-03-15 20:02] Juliana-R commented on #97
Closing this as it's solved when #96 is.

[2021-03-15 20:02] #97 closed

[2021-03-15 20:04] Juliana-R commented on #86
What is the actionable part of this issue @PedroGFonseca ?

[2021-03-15 20:08] Juliana-R commented on #72
@PedroGFonseca need your feedback on this one. Is the proposed strategy ok, do you believe it should be different/add something?

[2021-03-15 20:09] Juliana-R commented on #72
Btw what is the label "Meta" for? It lacks a description.

[2021-03-15 20:11] Juliana-R commented on #79
Regarding the stats on time effort @cimendes these were gathered by me (Student Success) during the batch. You'll be able to check them here as soon as you have a staff account: https://docs.google.com/presentation/d/1b42Yome2NE2zJsPlcNqeIiHqnC7kzpUzKm7O5m7FEuw/edit#slide=id.p1

Regarding spec#01 the time effort was bigger as shown by the Slack polls:
Spec#01 time effort:
- 10 students: over 30 h/

[2021-03-15 20:17] Juliana-R commented on #44
Should we close this issue or is there anything pending?

[2021-03-15 20:18] Juliana-R commented on #50
@minhhoang1023 can you give me the official team? I'll do the updating as part of Documentation AOR.

[2021-03-15 20:19] Juliana-R commented on #74
Will close after notes are all logged into issues. @PedroGFonseca

[2021-03-15 20:20] Juliana-R commented on #75
@PedroGFonseca can you merge this with #79 please? It's the same topic. Thank you.

[2021-03-15 20:20] PedroGFonseca commented on #44
Kill!

[2021-03-15 20:20] #44 closed

[2021-03-15 20:21] Juliana-R commented on #76
What course are you referring to?

[2021-03-15 20:29] Juliana-R commented on #60
Closing this issue as the setup team is settled @buedaswag.

[2021-03-15 20:41] buedaswag commented on #60
@Juliana-R actually the setup team is still very much open! we currently only have 3 volunteers including myself and we still need 3 more people :)

[2021-03-15 20:50] Juliana-R opened #99 "Student Success is recruiting! 🦋 🙋"
We need people to help with the Student Success AOR, whose primary enabler is @rjna .

Main goals of Student Success are:
- Ensuring that students have a path to success
- Gathering feedback from students
- Making sure students have a voice and can be heard

[2021-03-15 21:12] Juliana-R commented on #71
What's the action needed to close this issue @PedroGFonseca ?

[2021-03-15 21:13] Juliana-R commented on #19
Rerouting question to @hershaw since last edit was made by him.

[2021-03-15 21:15] Juliana-R commented on #24
What should we do about this issue @PedroGFonseca ?

[2021-03-15 21:15] Juliana-R commented on #23
Can this be closed?

[2021-03-15 21:17] Juliana-R commented on #20
What should we do about this issue?

[2021-03-15 21:17] Juliana-R commented on #13
What should we do about this issue?

[2021-03-15 21:17] Juliana-R commented on #12
What should we do about this issue?

[2021-03-15 21:18] Juliana-R commented on #15
What should we do about this issue?

[2021-03-15 21:18] Juliana-R commented on #17
What should we do about this issue?

[2021-03-15 21:18] Juliana-R commented on #16
What should we do about this issue?

[2021-03-15 21:49] Juliana-R opened #100 "QA repo"
Since the QA repo https://github.com/LDSSA/qa is mainly being used to store markdowns and links, shall we make a Wiki page for QA @FilipaRodrigues and archive this repo?

[2021-03-15 21:52] Juliana-R opened #101 "Curriculum Development repo"
Since this repo is mainly being used to store markdowns, shall we move this to Wiki pages? This way we would centralize all info in one place. @dominguezmaria

[2021-03-15 21:54] Juliana-R opened #102 "Repo is empty"
This repo seems to be empty https://github.com/LDSSA/sidecar-academy. Should we remove it?

[2021-03-15 21:55] Juliana-R opened #103 "Jobs repo"
Can we move the markdown from jobs repository to a Wiki page, so we have all info in one place? https://github.com/LDSSA/jobs

[2021-03-15 21:57] Juliana-R opened #104 "Forum repo"
Should we delete this repo? It seems quite obsolete and its contents would make sense to be on Wiki issues so we don't spread information. https://github.com/LDSSA/forum

[2021-03-15 21:58] Juliana-R opened #105 "Instructors-forum repo"
This repo seems to be outdated (last activity on 2018). https://github.com/LDSSA/instructors-forum Should we delete it?

[2021-03-15 22:22] PedroGFonseca commented on #71
This needs to be broken down into

1. Identify where we use spreadsheets

2. Find viable alternatives

3. Document new process

[2021-03-15 22:23] PedroGFonseca commented on #71
I'm not able to execute this though, so it may be a won't fix if no one can pick it up

[2021-03-15 22:24] PedroGFonseca commented on #86
Exec team to close decision and announce it i think

[2021-03-15 22:50] PedroGFonseca commented on #76
Good question, issue needs splitting

[2021-03-15 23:01] minhhoang1023 commented on #10
We already have an issue to do this: https://github.com/LDSSA/wiki/issues/51

[2021-03-15 23:03] minhhoang1023 commented on #93
It is the 3 people as mentioned in wiki

[2021-03-15 23:07] minhhoang1023 commented on #94
I can add people to Slack + create an email

[2021-03-15 23:30] minhhoang1023 commented on #96
+1 with Catarina that if we were to establish expectations, we will need to hear from everyone and this is not something the Exec team decides and imposes on everyone.

On my side, I can commit to close urgent tickets within that week (priority high as in
https://github.com/LDSSA/wiki/issues/98).

@Juliana-R What do you use the minimum number of issues to be closed for?

[2021-03-15 23:39] minhhoang1023 commented on #88
We still don't know when the Pandemic will become better, and cannot say for sure if presential Hackathons will happen. I'd vote following last year model where we accept everyone, and say that we might organize an in-person Hackathon but it's not required.

@CatarinaSilva What do you think?

[2021-03-16 09:34] #93 closed

[2021-03-16 09:34] #10 closed

[2021-03-16 09:39] Juliana-R commented on #96
@minhhoang1023 the ideia here was to set have a clear expectation on the time things would take to be resolved from an executive or AOR decision maker.

This is part of solving one of the bottlenecks identified during Batch 4, where we had several issues open for months due to lack of response from decision makers.

[2021-03-16 09:42] Juliana-R commented on #96
Regarding issues that are not "priority:high", these are the ones that when left aside for too long will either become urgent or obsolete, meaning we left something without action. It would be cool if we could set expectations on resolving for the various degrees of priority. This way we'll have a better time and priority management before and during Batch 5 and everyone is happier, 'cause they'll

[2021-03-16 09:44] Juliana-R commented on #96
@minhhoang1023 I did not mean to impose that at all. What I believe would help is that each AOR enabler + executive memeber can commit to whatever they feel comfortable (even if it is making decision on 1 issue per week), so we can start with the right expectations and gather more resources if needed.

It's really just about quantifying things so that we can manage our resources better -- meaning

[2021-03-16 10:04] Juliana-R opened #106 "Start the recruitment of instructors for specializations in March 2021"
This is related with @TSFelg  issue #78 .

My request/proposal here would be that we start now (**March 2021**) to recruit instructors for each of the specializations. There have been specializations where we fall short of people (e.g. Timeseries) and someone gets a very heavy workload just before the deadlines -- we should avoid this from happening again.

Recruiting this month would help in that

[2021-03-16 10:09] Juliana-R commented on #72
Closing this and merging info to #95 .

[2021-03-16 10:09] #72 closed

[2021-03-16 10:15] Juliana-R commented on #95
I've made the _**Triage issues**_ task a part of the Documentation AOR set of responsibilties proposal: https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#heading=h.vsrik7jyqkwa. This entails the following:

The Documentation AOR enabler will do the following **every week** to ensure issues are triaged and directed to the correct people:
- For each open issue on t

[2021-03-16 10:16] thecarolmartins commented on #53
I already sent an email to request a quote for the hoodies. More news soon.

[2021-03-16 10:22] Juliana-R commented on #58
Closing. This is now part of the triage tasks of Documentation AOR: https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#.

[2021-03-16 10:22] #58 closed

[2021-03-16 10:47] thecarolmartins opened #107 "Marketing, Social Media and Communications AOR is recruting a Social Media Manager"
The Marketing, Social Media and Communications AOR is recruting a Social Media Manager!

All details can be found [here](https://docs.google.com/document/d/1hyQB6M4nndp7R5QdqYWvVneqoOdC9COFltP3B2Tm_is/edit?usp=sharing)

If you know someone, please let me know because it's needed ASAP.

I'm totally fine going with a junior - I'll teach as much as I can! However, it needs to be creative, smart, get

[2021-03-16 11:17] Juliana-R commented on #69
Just noticed we completely introduced a new issue inside another issue @PedroGFonseca . Not a good practice of ours. 😅

[2021-03-16 11:17] dominguezmaria commented on #45
That sounds good to me!
Which AOR should be in charge of this session?

[2021-03-16 11:25] dominguezmaria commented on #101
The pro of having this as a repo is that you can use GitHub features like issues and it's easier to version control and manage multiple contributors.
Let's leave it as is for now.

[2021-03-16 11:25] #101 closed

[2021-03-16 11:39] Juliana-R commented on #66
I tend to disagree here. 😦 We did agree upon making it a rule that all things to be done that will take longer than 2 days are to be logged into GitHub issues and centralized on Wiki issues.

@PedroGFonseca @CatarinaSilva did I get this wrong?

[2021-03-16 12:03] dominguezmaria commented on #66
If that's the case let's leave it here then!
But just to understand this rule better, are we going to have one GitHub issue per LU (since an instructor will very likely take more than 2 days to develop their learning units)? Or are we going to have a GitHub issue for the a dev-ops task that takes more than 2 days to develop? Or if we need to add a new page to the website, will we create an issue f

[2021-03-16 13:06] Juliana-R commented on #66
I'd say internal to-do's that are already documented (doing an LU for example) don't need to be on the Wiki, although they should probably be on the corresponding repo, just so everyone knows what's happening with each AOR, but this is internal to each AOR.

In the case of this issue, this is not documented anywhere (regular updating of pages) therefore the need to be on an issue. Also, it's somet

[2021-03-16 14:06] minhhoang1023 commented on #87
Agreed totally with the suggestions.
Action from my side: To headhunt @cimendes for Prep Course and leading the Git SLUs.

[2021-03-16 14:13] #63 closed

[2021-03-16 14:29] Juliana-R commented on #26
@CatarinaSilva @minhhoang1023 please let me know when we can edit this page together. There are several people that are no longer active in the staff list, and a lot of people missing on that same list. I need official info to make the necessary changes.

[2021-03-16 14:32] Juliana-R opened #108 "When will we close the official member directory?"
What deadline are we aiming at to close the AOR primary enablers for the [Member Directory](https://github.com/LDSSA/wiki/wiki/Member-Directory)?

Can I expect to have the official list until March 31, 2021?

Related with #26.

[2021-03-16 14:33] Juliana-R commented on #26
**Question 2:** The member directory is quite outdated, including the list of staff that has been inactive for some time. Should we leave all staff there or separate the list into present and past contributors?

[2021-03-16 16:59] ramaroesilva commented on #87
@minhhoang1023, a.k.a the headhunter!

regarding my 2nd comment, I think it would be best to have people from the industry side sharing their thoughts on collaborative coding methodologies (integrated in the Starters Academy or as a parallel, webinar-like, LDSSA event).

[2021-03-17 08:54] minhhoang1023 commented on #53
Thank you sooo much Carol!! <3

[2021-03-17 09:38] dominguezmaria opened #109 "Reviewing the curriculum for LDSSA Batch 5"
We want to review the curriculum for Batch 5 of the Starters Academy.
This issue's purpose is to log that work is being done on this in the [curriculum-development repo](https://github.com/LDSSA/curriculum-development).

Joao Ascensao created the curriculum-development repo to log all the discussions around the curriculum.
The repo needs to be reviewed (as in, cleaning old issues and rethinking wa

[2021-03-17 09:40] dominguezmaria commented on #66
@Juliana-R the guidelines are the ones that defined: let's log all the things!
What I mean regarding this particular issue is that, since I'm reviewing the curriculum of LDSSA for batch 5, updating the curriculum-development repository will come as a consequence of this revision.
Therefore, this issue is the equivalent of creating an issue saying "Update the batch5-instructors repo" with the conte

[2021-03-17 09:40] #66 closed

[2021-03-17 11:36] Juliana-R opened #110 "Create a template for issues"
Create a template to open issues that should have:
- **Content**: the content of the issue. Examples: (1) update page X in the Wiki, (2) provide context to the requested action,...);
- **Action needed**: what action the author of the issue needs.;
- **Deadline (if applicable)**: maximum date for the action to be answered or solved before the issue becomes obsolete;
- **Importance (if aplicable)**:

[2021-03-17 12:01] #110 closed

[2021-03-17 12:07] Juliana-R opened #111 "Template for issues"
### Content

**Proposal**

Create a template to open issues that should have:
- **Content**: the content of the issue. Examples: (1) update page X in the Wiki, (2) provide context to the requested action,...);
- **Action needed**: what action the author of the issue needs.;
- **Deadline (if applicable)**: maximum date for the action to be answered or solved before the issue becomes obsolete;
- **I

[2021-03-18 08:56] minhhoang1023 commented on #108
Thank you for chasing us to document things, please keep on doing that. In terms of having the deadline to close Member Directory, the objective of the wiki is to keep it update with the current situation, and it is right now.

[2021-03-18 09:15] minhhoang1023 commented on #96
I'm not fully convinced that the # min issues can solve the challenge of aligning expectations. This is because the workload in the Academy varies quite a lot. Some week I won't be able to close many issues (like this week as I'm dedicated to Prep Course), whereas some other weeks I'm more free and can close more. I felt that setting up a minimum number of issues don't align incentives, e.g. for t

[2021-03-18 09:31] Juliana-R commented on #108
The only thing that I believe is changing right now is the following:

Communications | Sam Hopkins
Marketing | Carol Martins  José Medeiros

- I believe Marketing and Communications are being merged? @thecarolmartins (Carol)

- Would @hershaw (Sam) be owning the Community AOR?

[2021-03-18 13:19] CatarinaSilva commented on #109
Hi @dominguezmaria I've asked the leads of each specialization to write down some learnings, and I'm hoping we follow up with that for curriculum. The deadline I'm putting for specializations is mid-april

Maybe what we can is open an issue for bootcamp curriculum and start discussing that one. I believe there were a few suggestions for that that i can gather and bring here, what do you think?

Bt

[2021-03-18 15:37] thecarolmartins commented on #69
I'm totally fine with it, as mentioned during the summit. Also, no problem with Git buuuuut there's a learning curve to it and since I'm not exposed on a daily basis, it can take a bit more time to get the hang of it.

I'm being onboarded in a different org called The Lisbon Project (related with refugees) and they have monthly trainings. Perhaps we could do a video or an onboarding call for non-t

[2021-03-18 15:40] thecarolmartins commented on #53
We have quotes:

If we have the budget, I think a logo on the front & "Where Data Scientists are born" on the back would look awesome!!

If you agree I can do a mockup so we can have an idea of how that looks - but only if we have budget.

@minhhoang1023 what is the status on that? :)

[2021-03-18 17:00] Juliana-R commented on #19
Will remove this from the sidebar. It will still available on the repo if you want me to get it back.

[2021-03-18 17:12] Juliana-R opened #112 "Removal of deprecated pages on the Wiki from the sidebar"
Remove the following pages from the sidebar (reason):
- **Releasing a BLU** (it's empty)
- **Buddy system** (outdated)
- **Capstone Grading** Guidelines (outdated, refers different sections different in 2018)
- **Hackathon Leaderboard** (outdated - Batch 2!)
- **How to review learning units** (outdated; the current process is documented by QA team)

The markdown pages will still be available on th

[2021-03-18 17:20] #112 closed

[2021-03-18 17:31] Juliana-R opened #113 "LDSA Primary Enabler Agreement"
My I turn this (https://docs.google.com/document/d/15ZZuyUNCoM8VFLDApuHutENFSSZgxKdYo2k-FDx3BOQ/edit#heading=h.73kdjhbzi1gj) into a Wiki page, to go inside the Volunteer Onboarding section?

This would be a nice to have for the onboarding. 😃

@hershaw @minhhoang1023

[2021-03-18 17:33] minhsf commented on #113
Big 👍

[2021-03-18 17:34] Juliana-R commented on #113
On it 🚀

[2021-03-18 17:51] Juliana-R opened #114 "What is the OKR? (mentioned in the LDSA Primary Enabler Agreement)"
The OKR document is referred as part of the [LDSA Primary Enabler Agreement](https://docs.google.com/document/d/15ZZuyUNCoM8VFLDApuHutENFSSZgxKdYo2k-FDx3BOQ/edit#heading=h.9ekbjelt4n0p).

As an AOR enabler, I did not know about this agreement nor the OKR, so I'm assuming this is unknown to more people.

Will add the LDSA Primary Enabler Agreement to the Wiki Volunteer section, but I don't know wha

[2021-03-18 17:52] Juliana-R commented on #114
Also, do we have a template for this OKR document to be used by each AOR?

[2021-03-18 17:59] Juliana-R commented on #113
Done.

[2021-03-18 17:59] #113 closed

[2021-03-18 20:47] Juliana-R commented on #53
# The day I receive the hoodie...

<br>

![image](https://user-images.githubusercontent.com/52176135/111695466-10195900-882b-11eb-9b29-e5f7e452519b.png)

[2021-03-19 13:34] Juliana-R opened #115 "Volunteer onboarding - how to add calendars"
Add a quick explanation on how to add the LDSA calendars as suggested by @FredericoCoelhoNunes .

[2021-03-19 14:07] Juliana-R opened #116 "Deprecate forum repos? 🧹"
Can we deprecate the use of forum repos altogether?

We alread have **4** different places for issues:
- instructors repo (private issues)
- students repo (public issues)
- wiki
- testers (qa issues)

Having one more just for issues seems a bit overkill. 😅

The ds-prep-course-forum for example is empty. Can we simply delete it?

@minhhoang1023 @hershaw @PedroGFonseca ?

[2021-03-19 14:11] PedroGFonseca commented on #116
Kiiiill

[2021-03-19 15:58] Juliana-R opened #117 "Open meetings [idea]"
Since we now have an instructors calendar where we schedule our main work events, I propose we create a policy of open AOR/Executive meetings, where everyone is welcome to join/attend any team meeting or event.

Example: If I'm curious about what the dev-ops are up to, I would see their weekly event on the calendar and be able to attend the meeting. I would get a better sense of what they're doing

[2021-03-20 18:34] dominguezmaria commented on #109
Issue to discuss the bootcamp [here](https://github.com/LDSSA/curriculum-development/issues/33).

[2021-03-20 21:41] mariana-s-fernandes opened #118 "Volunteer Onboarding - Differences between repositories"
For someone jumping in as an instructor without any past experience with the academy, it is not clear to me what are the differences between the different repositories. For example, I came across with 3 different repos for the prep course: `ds-prep-course`, `ds-prep-course-2021`, `ds-prep-course-instructors-2021`.

My suggestion would be to include these in the GitHub section in the [Volunteer Onb

[2021-03-21 03:03] PedroGFonseca commented on #82
It's a catch all, best close it as there are many detailed ones

[2021-03-21 03:03] #82 closed

[2021-03-21 10:57] Juliana-R opened #119 "🥚🐣 Wiki refactoring (https://ldssa.github.io/wiki/) 🚀"
Move the wiki.wiki repo to wiki for 2 reasons:
- simplicity (no longer having to remember that is wiki/wiki instead of wiki)
- it becomes a normal repository allowing people to create branches, PR's, etc. both on the command line and on GitHub;

[2021-03-21 10:58] Juliana-R opened #120 "Permission to add labels"
Add permission to add labels on issues to (at least) every member of the LDSSA GitHub.

[2021-03-21 12:07] Juliana-R opened #121 "bootcamp repo"
The [bootcamp](https://github.com/LDSSA/bootcamp) repo is mentioned in the Wiki but has been **inactive for 3 years**.

What should we do with it?

[2021-03-21 12:14] Juliana-R opened #123 "Wiki discussions feature"
Should we use this for more abstract/long discussions/brainstorming?

[2021-03-21 12:15] Juliana-R commented on #123
https://github.com/LDSSA/wiki/discussions/categories/

[2021-03-21 12:20] Juliana-R commented on #57
GitHub pages launched from branch `wiki-refactoring` > https://ldssa.github.io/wiki/

That's how it looks like. :)

[2021-03-21 13:22] Juliana-R commented on #12
This issue is >10 months old. I will close it by moving this wiki page to the Archive folder. The page is no longer listed.

[2021-03-21 13:22] #12 closed

[2021-03-21 13:26] Juliana-R commented on #13
This issue is more than 10 months old. Will close since page was already delisted.

[2021-03-21 13:26] #13 closed

[2021-03-21 13:29] Juliana-R commented on #15
Delisted

[2021-03-21 13:29] #15 closed

[2021-03-21 13:30] Juliana-R commented on #16
This issue is >10 months old. @FilipaRodrigues should I close this?

[2021-03-21 13:32] Juliana-R commented on #17
This issue is now >10 months old. #27 is closed @PedroGFonseca . What should we do about this issue?

[2021-03-21 13:33] Juliana-R commented on #19
This issue is now >10 months old. I will close it and archive the Buddy System page. Feel free to reopen if necessary.

[2021-03-21 13:33] #19 closed

[2021-03-21 13:34] Juliana-R commented on #20
Closing. The file SCRATCH.md:
- was archived on the new wiki (https://github.com/LDSSA/wiki/tree/wiki-refactoring)
- was delisted from the sidebar of the current wiki (https://github.com/LDSSA/wiki/wiki)

[2021-03-21 13:34] #20 closed

[2021-03-21 13:42] Juliana-R opened #124 "Bot to close issues that are unanswered for more than X time"
Explore the possibility of using this: https://github.com/probot/no-response

It should warn author+assignee and close issue according to priority label
Example: issue with priority:high that had no action for more than 7 days --> notify assigne/author
Example: issue with priority:high that had no action for more than 14 days --> close and notify assigne/author

[2021-03-21 13:45] Juliana-R commented on #22
Issue has gone 10 months without action taken. Will be closed, reopen if necessary.

[2021-03-21 13:45] #22 closed

[2021-03-21 13:46] Juliana-R commented on #23
This issue has gone 10 months without a response and therefore will be closed. Reopen if necessary.

[2021-03-21 13:46] #23 closed

[2021-03-21 13:47] Juliana-R commented on #24
Shall I turn this into a wiki page @PedroGFonseca ?

[2021-03-21 13:48] Juliana-R commented on #39
This issue has gone **more than 6 months** without a response and will therefore be closed. Reopen if necessary.

[2021-03-21 13:48] #39 closed

[2021-03-21 13:52] Juliana-R commented on #46
@PedroGFonseca can you fix and close this?

[2021-03-21 13:56] Juliana-R commented on #48
@PedroGFonseca shall we move this issue to batch4-instructors as suggested by @CatarinaSilva and close this issue?

Could you also please move the new meta question you posed into a new issue, as each issue should concern only sçpecific 1 issue/action (for traceability).

[2021-03-21 13:56] Juliana-R commented on #115
Done.

[2021-03-21 13:56] #115 closed

[2021-03-21 13:57] Juliana-R commented on #50
It is updated.

[2021-03-21 13:57] #50 closed

[2021-03-21 14:01] Juliana-R commented on #54
Added to the [Documentation document](https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#heading=h.vsrik7jyqkwa).

[2021-03-21 14:01] #54 closed

[2021-03-21 14:05] Juliana-R commented on #52
As the summit is over, can we close this?

We already have an issue to make sure notes are translated into issues. #74

[2021-03-21 14:06] Juliana-R commented on #55
What's the status on this one?

[2021-03-21 14:21] #57 closed

[2021-03-21 14:21] Juliana-R commented on #57
Closed as it's part of Documentation AOR responsibilities.

[2021-03-21 14:25] #71 closed

[2021-03-21 14:25] Juliana-R commented on #71
This will hopefully be reduced as part of the Calendar, GitHub issues initiatives agreed upon during Summit 2021.

[2021-03-21 14:27] Juliana-R commented on #75
Will close. The discussion is here. https://github.com/LDSSA/curriculum-development/issues/33

[2021-03-21 14:30] Juliana-R commented on #96
I'll close as a won't fix since we reached no agreement on this and Executive Team has the final say.

[2021-03-21 14:30] #96 closed

[2021-03-21 14:31] Juliana-R commented on #96
The automatic follow-up was moved to an issue.#124

[2021-03-21 14:31] #117 closed

[2021-03-21 14:31] Juliana-R commented on #16
Reopen if necessary.

[2021-03-21 14:31] #16 closed

[2021-03-21 14:34] #108 closed

[2021-03-21 14:36] Juliana-R commented on #67
Closing. Added all AOR enablers with full access to the calendar.

[2021-03-21 14:36] #67 closed

[2021-03-21 14:38] #17 closed

[2021-03-21 14:39] #11 closed

[2021-03-21 14:41] Juliana-R commented on #68
Closed. This was addressed in Summit 2021.

[2021-03-21 14:41] #68 closed

[2021-03-21 14:44] Juliana-R commented on #79
Related with #64

[2021-03-21 14:45] Juliana-R commented on #80
Closing as actions regarding this are being taken on the curriculum development repo. @dominguezmaria reopen if you feel it necessary

[2021-03-21 14:45] #80 closed

[2021-03-21 14:46] #123 closed

[2021-03-21 14:47] Juliana-R commented on #64
Will close as this is duplicate of #79.

[2021-03-21 14:47] #64 closed

[2021-03-21 14:51] Juliana-R commented on #90
Moved to project.

[2021-03-21 14:51] #90 closed

[2021-03-21 14:54] Juliana-R commented on #84
I'd prefer we focus on consolidating the 2 courses we already have better before moving into other projects. We already have too few resources (some AORs are even without members), so maybe this should be a project to focus on after we address the current priorities.

[2021-03-21 16:32] hershaw commented on #105
![image](https://user-images.githubusercontent.com/424192/111912752-f2cecf80-8a62-11eb-84a2-5abdb541b9d2.png)

it says this at the top of it now, is there still action required here or should we close this?

[2021-03-21 16:32] hershaw commented on #102
![image](https://user-images.githubusercontent.com/424192/111912773-12fe8e80-8a63-11eb-9f13-6b1a34d31098.png)

it says this at the top of it, is there still action required on this?

[2021-03-21 16:34] hershaw commented on #104
![image](https://user-images.githubusercontent.com/424192/111912811-3a555b80-8a63-11eb-9e3e-6849e7b7d110.png)

it says this at the top, is there still action required?

[2021-03-21 16:35] hershaw commented on #102
it is archived

[2021-03-21 16:35] #102 closed

[2021-03-21 16:37] Juliana-R commented on #105
Close! Thanks!

[2021-03-21 16:37] #105 closed

[2021-03-21 16:38] Juliana-R commented on #104
closed! thanks!

[2021-03-21 16:38] #104 closed

[2021-03-21 16:39] hershaw commented on #55
I believe that the admissions process takes care of the concerns in this issue. The portal has a place where they must accept the code of conduct.

So I think we can close this issue unless I'm missing something.

[2021-03-21 16:45] #55 closed

[2021-03-21 16:46] PedroGFonseca commented on #46
This ends up being a curriculum one. @dominguezmaria feel free to use this issue or close it if not relevant

[2021-03-21 16:47] PedroGFonseca commented on #24
That sounds excellent, the current material is [here](https://github.com/LDSSA/wiki/wiki/How-to-offer-a-job-on-the-Lisbon-Data-Science-Academy-website)

[2021-03-21 16:48] PedroGFonseca commented on #52
@hershaw can you link the notes? Can't find them for some reason.

[2021-03-21 16:49] Juliana-R commented on #52
They're on @CatarinaSilva s comment above.

[2021-03-21 17:13] Juliana-R opened #125 "Standardize the comments criteria on Capstone"
Add the following to the guidelines of Capstone Grading:
- Clarify where changes are needed to pass in the comments we leave to students;

If the request is not explicit, they might not understand that they need to make the changes to have a pass.

[2021-03-21 17:31] hershaw opened #126 "Set OKRs for Community AOR"
I would like to set a few simple but impactful goals for the community AOR for this batch.

Some ideas are:

1. Set up a competent directory so that everyone who is a part of the community can get in touch with each other.
2. Establish a way for the entire community to interact with each other for the purposes of networking (slack?, forum? something else?)
3. Ensure that there are x in-person get

[2021-03-21 17:36] dominguezmaria commented on #121
The bootcamp repo was used in the first edition of the academy. It's like the batchX repos, and there was no distinction between a students and instructors version.
Where is this mention? If it makes sense, let's replace it with the most recent batchX repo.

[2021-03-21 17:42] hcastilho commented on #126
I heard something about an alumni slack, but I don't have a link.

[2021-03-21 17:50] dominguezmaria commented on #79
This is for @CatarinaSilva to decide, but my opinion is that we shouldn't make the bootcamp longer than 3 weeks and we should document a higher time effort for it.
Also, it should be clear in the documentation that the actual time that someone will take to complete the bootcamp materials will vary a lot. Some people will find the materials easier or harder, some people will want to go over the mat

[2021-03-21 17:52] dominguezmaria commented on #47
This is great! Yes, let's add this to the workflow SLU.
I'll close this issue and mention it in the issue where we're discussing changes to the bootcamp curriculum.

[2021-03-21 17:52] #47 closed

[2021-03-21 18:01] hcastilho commented on #120
I suggest adding permissions to github teams and members should inherit permissions from the team(s) they are assigned to.

[2021-03-21 18:08] dominguezmaria commented on #46
This is great! I'll add it in the curriculum development issue!

[2021-03-21 18:08] #46 closed

[2021-03-21 18:24] hcastilho commented on #114
Very outdated OKR for the devops AOR.
https://docs.google.com/document/d/1eq0ISpt7zkkz0HwsE09tQ2c6uraqsyKIGx70RZ5V94A/edit
Don't remember if it was based on a template or not.

[2021-03-21 18:35] hershaw commented on #126
like someone already created one? I might have at some point and then just not followed through with it.

[2021-03-21 18:38] rjna opened #127 "Evaluation of student in line 25, first report"
It is still unclear whether or not the student in line 25 of the "Report 1" sheet of this google spreadsheet: https://docs.google.com/spreadsheets/d/1yo9SjwwKupYhNSAeMFLRt-Ls0i1jshO0QsD6u8FXCAk/edit#gid=0 is going to pass the first report.

In order to take bias out of the equation, in the last part of the meeting today (21 March), Juliana, Minh, Sam and me (Ricardo) decided that the best way to a

[2021-03-21 18:46] Juliana-R commented on #75
Reopened. Question redirected to Teaching AOR.

[2021-03-21 18:50] Juliana-R commented on #127
Ok so the thing here is this. I asked him to make some changes and he did change, however the change he made was to put results related to the model and not the dataset  itself (unmodelled).

The previous section though refers some content that should be in this one and if it were, it could have lend him a bare pass.

What do you think I should do in this case?

[2021-03-21 18:52] CatarinaSilva commented on #127
Changed mine as it was a limbo and I've tended to lean to a pass on these cases, due to the focus being on learning. All my other fails are super clean, I believe

[2021-03-21 18:57] Juliana-R commented on #127
Changed to pass, but I think if we give line 25 a chance we should also consider line 23...

[2021-03-21 19:12] CatarinaSilva commented on #75
Status:

-     Extending over 3 weeks (going to be implemented) ✅
-     Breaking into two halves - this doesn't make much sense as it will require one more weekend from students and instructors, and if we adjust the requirements/time should not be needed in any case ⁉️
-     Changing from 100% pass requirement to a lower % - being discussed on curriculum 🛠

Going to index the deadline of this issu

[2021-03-21 19:23] Juliana-R commented on #127
changed to pass

[2021-03-21 19:30] CatarinaSilva opened #128 "Set strategic goals for Teaching AOR"
I would like to set a few simple but impactful goals for the teaching AOR for this batch.

Most ideas come from  [previous batch](https://docs.google.com/document/d/1ksO9A8BXEoriEG6aiAtNTZSyfrSERMFaWpHffWkghLM/edit) + added visibility:

-  Meet student expectations on deadlines and policies, trough better rule setting and communication
-  Guarantee a solid time frame for QA, through communication

[2021-03-21 19:30] minhhoang1023 commented on #127
A quick recap of my part:
- Unprofessional comments, and with very little effort is put it in 1st try
- However, once I put the comments, he fixed things very quickly

What I don't want to pass is if the person runs out of time, and put something very quick in the section in order not to fail. Then, he would have the chance to fix it after comments.

I went through his report and checked other sec

[2021-03-21 19:30] CatarinaSilva commented on #126
Completely copied this and made my own version for teaching @hershaw 😛 thanks for the inspiration

[2021-03-21 19:32] CatarinaSilva commented on #126
Also created this if you want to use it https://github.com/LDSSA/wiki/milestone/2

[2021-03-21 19:36] minhhoang1023 commented on #116
yes please! We didn't use The ds-prep-course-forum at all

[2021-03-21 19:38] #116 closed

[2021-03-21 19:38] Juliana-R commented on #116
All archived/deleted: https://github.com/search?q=org%3ALDSSA+forum. :)

[2021-03-21 19:40] Juliana-R commented on #121
The repo was archived. Will close this issue.

[2021-03-21 19:40] #121 closed

[2021-03-21 19:41] Juliana-R commented on #128
Related with #79 and #106.

[2021-03-21 19:45] minhhoang1023 commented on #114
This was written a long time ago, I wasn't aware of it as well as the OKRs.

Nevertheless, I agree with the idea of setting clear goals and objectives to give visibility to exec team, and to avoid AOR Lead feeling lost. For this batch, I suggest we should have AOR leads setting up their objectives & goals and share it with everyone and the exec team (which @hershaw and @CatarinaSilva already did).

[2021-03-21 19:47] Juliana-R commented on #114
Ok. So should I change the OKR mentioned in the LDSA Primary Enabler Agreement to something like "role and responsibilities"?

[2021-03-21 19:50] minhhoang1023 commented on #114
Sounds good! Can you also add that, if the person's objectives are not clear to them in this batch, please reach out to either me, @CatarinaSilva or @dominguezmaria to agree on that.

[2021-03-21 19:51] Juliana-R commented on #114
On it! 🏃

[2021-03-21 20:09] minhhoang1023 commented on #76
For prep course, there's no cap

[2021-03-21 20:10] minhhoang1023 commented on #45
Depending on what we will cover, could be either Student Success or Teaching.

[2021-03-21 20:18] Juliana-R commented on #114
actually the OKR (objectives and key results) does the same job and it asks for a more objective commitment which is good -- will only add a clarification on the term.

[2021-03-21 20:26] Juliana-R commented on #114
done

[2021-03-21 20:26] #114 closed

[2021-03-21 22:35] CatarinaSilva commented on #45
Is the intro session so big that we need to have another mandatory day in the bootcamp?

[2021-03-21 22:39] CatarinaSilva commented on #76
Given we're planning on continuing remote (most countries in Europe are entering wave 4 so it doesn't make sense to assume we'll push people to be in person in events) should we follow the same things as last year?

For reference here is the doc:
https://docs.google.com/document/d/1MD7-mxV6ftqS40v5oOwWr7NJsNSdPx_YR5Wkk6faEQI/edit#

I believe we opened 50 positions without "scholarship" and 50 w/ s

[2021-03-21 23:01] CatarinaSilva opened #129 "Batch 5 Starter's Academy Calendar"
### Context
For alignment with prep course

Prep Course: (29th March - 4th April)
- Start date: 5th of April
- End date: 18th of June

### Calendar

Group |  Description |  Date |
-------|-------------|-------------|
Admissions |   Applications   |  25th June |
Admissions |       |    |
Specialization 1  |   Bootcamp   |  24th & 25th July 2021 |
Specialization 1  |   SLU deadlines  | 14th August 2

[2021-03-21 23:01] minhhoang1023 commented on #87
@ramaroesilva there is a lot of this type of talk available online. Curious to know what you are looking for if we were to have one? (e.g. focus on DS?)

[2021-03-22 14:47] hcastilho commented on #114
Could I get a link to the actionable result of this issue?
Wondering what I should do as devops AOR PE.
@Juliana-R

[2021-03-22 15:15] dominguezmaria commented on #128
I agree with the goals and prioritisation 👍

[2021-03-22 15:16] Juliana-R commented on #114
My action was to update the LDSA Primary Enabler Agreement, that you can see in either of these links:
[old wiki - LDSA Primary Enabler Agreement page](https://github.com/LDSSA/wiki/wiki/LDSA-Primary-Enabler-Agreement)
[new wiki (beta) - LDSA Primary Enabler Agreement page](https://github.com/LDSSA/wiki/wiki/LDSA-Primary-Enabler-Agreement)

[2021-03-22 15:21] hcastilho commented on #114
But should AOR PE's write and publish a general OKR or an OKR for batch 5?

I'm happy to open an issue for this question if you feel it's something to address by itself.

[2021-03-22 15:29] Juliana-R commented on #114
Open an issue. 🌳 🙏

[2021-03-22 15:30] Juliana-R commented on #24
Should I replace https://github.com/LDSSA/wiki/wiki/How-to-offer-a-job-on-the-Lisbon-Data-Science-Academy-website with https://docs.google.com/document/d/1HcJ9PtLP4Ks_-O7d9ykCJKZJraciLqkugBH6UoOpH4s/edit?pli=1#heading=h.ndsphrhxfpq6 ?

[2021-03-23 10:43] Juliana-R opened #131 "test GitHub page template with sidebar and searchbar"
Test this template https://github.com/CloudCannon/edition-jekyll-template (MIT License).

[2021-03-23 12:24] hcastilho opened #132 "AOR goals and/or OKR"
I've been seeing some activity related to setting AOR goals and reviving the OKR strategy.

I'm not sure what is expected each AOR to set or deliver, are there any guidelines?

[2021-03-23 12:32] minhhoang1023 commented on #132
@hcastilho thanks for raising this! I'll sync with @dominguezmaria and @CatarinaSilva on defining it

[2021-03-23 12:33] minhhoang1023 commented on #132
will create an issue for this

[2021-03-23 13:22] thecarolmartins commented on #132
Great issue @hcastilho - I've been wondering the same 👍

[2021-03-23 15:42] PedroGFonseca commented on #24
No, they are different things. The google doc is a "team doc" about what we know.

The wiki page is an instructions manual for companies that want to post jobs.

[2021-03-23 15:43] PedroGFonseca commented on #76
Related: we're keeping (but hopefully not needing) the quota?

[2021-03-23 15:45] PedroGFonseca commented on #45
I'd say it's not necessarily part of the bootcamp, it is its own thing. A pretty relaxed (but probably long) session for introductions, questions and talking about teaching stuff. Could even have some games or something that gets people to know each other a bit.

[2021-03-23 15:58] PedroGFonseca opened #133 "Requirement of attribution"
Prior context: in batch 4, [two students copied the same stackoverflow code](https://github.com/LDSSA/batch4-instructors/issues/176), and it got flagged by the code duplication detector. It was not considered an offense, as there is no reason to believe they copied from each other.

It did however lead to the question: is copying code without attributing it to the author acceptable practice?

Ther

[2021-03-23 16:05] PedroGFonseca opened #134 "Investment in code duplication detection"
In Batch 4 we first used a code duplication detector for the Capstone.

It was scrappy, and mostly caught overlaps with teacher code, but was enough to detect [some duplications](https://github.com/LDSSA/batch4-instructors/issues/176) that required the students to clarify and attribute authorship.

Should we invest in having a well designed app for code duplication detection that could run on all

[2021-03-23 16:13] Juliana-R opened #135 "automatic onboarding slack message for new members"
Create an automatic message for new volunteers entering the Leaders of LDSA Slack with the link to the Volunteer Onboarding wiki page and asking to go through the checklist.

[2021-03-23 17:37] Juliana-R commented on #76
Could you open a new issue with that question @PedroGFonseca? 😛 Please help keep our GitHub organized and discussions traceable. 🗃️😄

[2021-03-23 18:06] PedroGFonseca opened #136 "Related: we're keeping (but hopefully not needing) the quota?"
Related: we're keeping (but hopefully not needing) the quota?

__Originally posted by @PedroGFonseca in https://github.com/LDSSA/wiki/issues/76#issuecomment-805010162__

[2021-03-23 19:16] thecarolmartins commented on #136
My two cents would be to keep it and (hopefully) not use it 🤞

Although I’m not a fan of the quota, I do understand that sometimes a push in a specific direction needs to be made to make the change quicker than if it was a natural process.

[2021-03-23 21:53] Juliana-R commented on #131
Done. Works. ✔️

[2021-03-23 21:53] #131 closed

[2021-03-23 21:55] Juliana-R commented on #132
Actionable:
- Create an issue for this;
- Idea: create a template for OKR document and add it in the LDSA Primary Enabler Agreement Wiki Page.

(to be closed after the above is done)

[2021-03-23 21:57] Juliana-R commented on #119
Status: branch "131-template-testing" deployed and working.
To be done:
- Update all links;
- Complete README part for contributors (how to create a page, commit push);
- Merge to master;
- Deprecate wiki.wiki an leave a link to new wiki.

[2021-03-23 22:10] PedroGFonseca opened #137 "Default Slack channels on instructors slack"
Proposed:

Defaults:
- Announcements
- Ideas-and-brainstorming
- Random
- Thankyou

Then the rest should be up to the person doing the onboarding to add the newbie, depending on the AOR(s) they are joining.

[2021-03-23 23:16] thecarolmartins commented on #137
I agree with having the ideas-and-brainstorming channel. I was wondering if we should have a celebration channel to celebrate our wins - either organization-wide or AOR-specific?

E.g. we should celebrate having documentation or having 250 applications on the prep course.

it could be increase inclusiveness across teams and it’s always a happy channel to have!

[2021-03-23 23:18] dominguezmaria commented on #119
Uau!! The wiki looks awesome! Not only pretty but also super organised! Thank you @Juliana-R 🙏 😄 🥳

[2021-03-23 23:30] thecarolmartins commented on #132
An easy way is to do this:

**Objective 1: state overall objective**

- Key Result 1: describe
- Key Result 2: describe
- Key Result 3: describe

_Extreme and unrealistic example_

**Objective 1: Increase transparency in internal communications**

- Key Result 1: Have more >80% of issues on GitHub instead of Slack by the end of Q1
- Key Result 2: Implement an emoji voting system for decision-makin

[2021-03-24 01:10] PedroGFonseca commented on #137
Shouldn't those be announcements? It feels as if pitting them anywhere else would actually devalue them :)

[2021-03-24 08:38] Juliana-R opened #138 "Official capstone evaluation criteria on Wiki page"
When the capstone criteria are disambiguated and closed (check all issues), I'll create a new Wiki page with the Official capstone evaluation criteria and index it.
@CatarinaSilva is this ok?

[2021-03-24 08:48] Juliana-R commented on #132
@thecarolmartins A template would be awesome! I don't get to decide on this, but I'm totally for it. 😛

 @minhhoang1023 @CatarinaSilva @dominguezmaria what do you think?

[2021-03-24 08:56] Juliana-R commented on #119
Thank you @dominguezmaria !! Super happy you like it. ❤️

Any suggestions let me know. 😄

[2021-03-24 09:03] minhsf commented on #53
@thecarolmartins thanks for the quotes Carol. I'm going to speak with Joao this weekend to see if we can make payments. Will keep you updated

[2021-03-24 09:06] Juliana-R commented on #53
![image](https://user-images.githubusercontent.com/52176135/112283629-40745380-8c80-11eb-963a-2d92376eabf8.png)

[2021-03-24 09:08] Juliana-R commented on #53
![image](https://user-images.githubusercontent.com/52176135/112283916-8df0c080-8c80-11eb-86ad-7c9f4a9c117f.png)

[2021-03-24 09:51] dominguezmaria commented on #132
I think a template in the wiki would be useful.
It can borrow from the [doc](https://docs.google.com/document/d/1o1rjXCOXjxFJ64-skP0F5CYSbkkV9Ky2GI_fFqVr7UM/edit) that @thecarolmartins linked, because that looks like a good summary of what OKRs are.
In case we want to provide even further guidance about what OKRs are, I've found [this book](https://www.amazon.com/Radical-Focus-Achieving-Important-

[2021-03-24 09:52] Juliana-R opened #139 "🦋 Volunteers onboarding list [14/17 fully onboarded]"
## Volunteers onboarding list (Q1,Q2/2021)
_To be closed when all the applicable checkboxes are ticked._

### **Onboarding complete:**
1. **Inês Mendes** ✔️🦸‍♀️ **AOR(s):** Comms (LDSA), Instructor (Prep Course), DevOps (Prep Course)
1. **Rodrigo Amaro e Silva** ✔️🦸‍♂️ **AOR(s):** QA (Prep Course), Instructor (LDSSA: Time Series)
1. **Daniel Sousa** ✔️🦸‍♂️ **AOR(s):** Student Success, Instructor (

[2021-03-24 10:09] dominguezmaria commented on #139
@Juliana-R do I have something to do here? Or you tagged me just for visibility?

[2021-03-24 10:18] Juliana-R commented on #139
@dominguezmaria it was just for visibility because you're part of the executive team and I thought it would make sense. But if it doesn't let me know, I'm always a bit unsure as when/where to tag all the executive team or not, so let me know how I can do it better.

[2021-03-24 10:22] dominguezmaria commented on #139
It makes sense 😄 just double checking if there was something for me to do. This process is fine by me: if there is action point, then that should be obvious to the assignee, otherwise, it's just for visibility 👍

[2021-03-24 10:52] Juliana-R opened #140 "disambiguate terminology section vs. subsection"
**Issue**
Some students were confused between whether a section or a subsection being empty meant a fail.

**Solution**
Make it clear what a subsection is and that no subsection can be empty.

Related with LDSSA/batch4-instructors#164

[2021-03-24 10:54] Juliana-R opened #141 "make capstone rules clearer for the students"
**Issue:**
Some students were not aware that leaving a (sub)section empty would cause a fail, and so they put their effort on others and did not complete those. We only announced that it was reason for fail meanwhile, so they felt the process was not fair.

**Solution:**
Make the capstone rules available and transparent to students from the beginning, specially pass/fail criteria.

**Actionables:*

[2021-03-24 11:14] Juliana-R opened #142 "Batch 5 - capstone rules + delivery and evaluation criteria [moved here from batch4-instructors#162]"
This capstone we lost some time defining rules as we were reviewing. Suggestion for next one:

**Report rules:**
- whether an empty section implies immediate fail (and possibly post that);
- how many rounds of comments there will be (I'd suggest only 1 and as @PedroGFonseca already commented, only when we think we've been ambiguous on the comment would we need to answer them back);
- what's the de

[2021-03-24 11:42] Juliana-R commented on #120
Done.

[2021-03-24 11:42] #120 closed

[2021-03-24 11:43] Juliana-R opened #143 "Slack good practices"
### Concrete guidelines to use Students Slack:

**Questions on learning materials:**
1. Check if your question was already asked on the corresponding week channel;
1. If it wasn't asked, post your specific question on the channel of the topic you're asking about;
1. If you want to report bugs on the materials, open an issue on `batch5-students`/`ds-prep-course-2021`;

**Other questions:**
1. Anyth

[2021-03-24 11:43] Juliana-R commented on #143
**Concrete guidelines:**
- Use the channel of the topic you're asking about (e.g. SLU01);
- Check if your question was already asked before posting;
- If you want to report bugs on the materials, open an issue on ds-prep-course-2021;
- If you want to give feedback post it in the `#feedback` channel;
- Anything not related with the learning materials should go to the `#random` channel. No exception

[2021-03-24 12:37] Juliana-R commented on #137
@PedroGFonseca can you create the `ideas-and-brainstorming` channel and set it as default?

We can then add the celebrations when/if you converge on that.

[2021-03-24 13:44] Juliana-R commented on #52
The notes are also on the issue for that task @PedroGFonseca https://github.com/LDSSA/wiki/issues/92.

Will close this. Reopen if necessary.

[2021-03-24 13:44] #52 closed

[2021-03-24 15:18] PedroGFonseca opened #144 "Leadership structure for Specializations"
Apologies if I'm duplicating, but wanted to brain dump:

Every unit of work (e.g. Specialization) should have a Lead, Tech Lead, a Communications lead defined ahead of time. The same person can be multiple, but it addresses at the start who owns what.

**Lead:** responsible for making sure the unit of work is completed. Final dictator on decisions about that unit of work. Responsible for calendar,

[2021-03-24 17:48] PedroGFonseca commented on #137
Will do! Leaving this open until I've executed.

[2021-03-24 17:55] PedroGFonseca commented on #143
Suggestion: should the #feedback channel not be a well-publicized form?

There are two reasons:
1. Some people may prefer to give feedback anonymously, and that would give them that option
2. Some people may use that channel for venting.

There is a delicate balance between transparency of feedback and public venting of frustrations. From previous experience I've seen students (especially in situa

[2021-03-24 17:57] PedroGFonseca commented on #143
Adding @hershaw to this as he had to deal with some of that fallout at the time and may have some feedback on this.

[2021-03-24 19:49] Juliana-R commented on #137
@PedroGFonseca can you add the calendar as default to that list too? It's our source of truth for deadlines so it should probably appear by default. 😉

[2021-03-24 19:50] hcastilho opened #145 "Github members, teams and base permissions"
Currently, we have:
* Organization base repository permissions: Read (every LDSSA github member has read permission on every repo)
* Github LDSSA Members: 58
* Github LDSSA Outside Collaborators: 15
* Github LDSSA Teams: 9
* Curriculum Developers Team: 48 members

I think between active users, occasional users, and users that are no longer contributing it's time for a cleanup.
Also to formalize th

[2021-03-24 19:59] Juliana-R commented on #143
@PedroGFonseca I'm afraid I don't understand your point. They all agree to the Code of Conduct, which applies to all forms of communication. Are you suggesting that I should not mention that channel so that they don't overuse it?

[2021-03-24 20:02] Juliana-R commented on #144
Could you assign + label it?

[2021-03-24 21:54] minhhoang1023 commented on #139
@CatarinaSilva Now that we have closed batch 4, shall we add the remaining instructors from Prep Course to the Leaders of the Academy too? For next year, you raised a good point that we should create an issue for this and discuss how it should be done between as now we have 2 separate Slack for prep course instructors & starters academy course

[2021-03-24 22:17] minhhoang1023 commented on #76
+1 with keeping it remote. What do you think @dominguezmaria ?

Shall we create another issue for scholarship? Last year we have less than 5 people who asked for scholarship and pass, so would be good to revise the #

[2021-03-25 01:34] PedroGFonseca commented on #143
Not exactly. My question reduces to: what should be the standard way of delivering feedback:
a) in public
b) directly to us

Both have merits and de-merits. Making a channel skips that decision.

[2021-03-25 01:40] PedroGFonseca commented on #137
![image](https://user-images.githubusercontent.com/8465611/112405731-3c305080-8ce9-11eb-8eda-81d12f905214.png)

[2021-03-25 01:40] #137 closed

[2021-03-25 01:43] PedroGFonseca commented on #144
Labelled and assigned.

The actionable is whether this should be a concept of the LDSA (in which case it would mean a change to process), or whether it's not worth implementing.

I thought it would have been useful during the capstone.

[2021-03-25 01:48] PedroGFonseca opened #146 "Do we do full team meetings, and if so what is the frequency?"
[from the summit notes]

_A few people said that once every other month might be viable?_

- Would there be a full staff meeting?
- Would it be for everyone, or only AOR leads?
- What would the regularity be?

[2021-03-25 02:02] PedroGFonseca opened #147 "Should the curriculum AOR be lead by the same person for each course?"
[discussed at Summit]

_There was a discussion around the curriculum AOR and how it should work across the prep course as well as the LDSA._

For the time being the question is whether the same person should lead curriculum for Prep course + LDSSA, but the question generalizes to more courses in the future.

Options considered:
- Same person
- Different people
- One AOR lead, and possibly multiple

[2021-03-25 02:05] PedroGFonseca opened #148 "Delivery deadlines for specializations"
[From the summit notes]

What should be the rule for delivery dates?

[2021-03-25 08:22] CatarinaSilva commented on #148
@PedroGFonseca from here https://github.com/LDSSA/wiki/issues/128

and more specifically [here](https://docs.google.com/document/d/1XKLaO33qamTPR9KnK1ePCzMFZ1Yz05yJjnPBnkmNl-Q/edit) I kind of hint at that with the following metrics:

The differences from last year would be:

- in the specialization, instead of the deadlines being per BLU they are per spec, so all BLUs need to be ready 2 months bef

[2021-03-25 08:28] CatarinaSilva commented on #144
I don't know if I agree with setting such a structure in the specs:

* Right now we do have a lead which is already responsible by the first point and part of the second point ( you mentioned (delegation of implementation/division of work etc);
* As the student communication should not overlap with the implementation, I don't think it should overwhelm anyone

That being said, one thing that we cou

[2021-03-25 08:29] thecarolmartins commented on #53
Perfect!! Let me know when you can :)

minhsf ***@***.***> escreveu em qua., 24/03/2021 às 09:03 :

[2021-03-25 11:30] Juliana-R commented on #143
I actually mentioned the #feedback channel because we have that one on the Prep Course and I copied pasted my suggestions for the Slack good practices that I posted on the Prep Course #instructors to this issue. 😛

I rearranged the first comment. Do you feel it makes more sense to you now? @PedroGFonseca

[2021-03-25 22:26] minhhoang1023 commented on #143
One thing I saw with the Prep Course last year is that people feel more comfortable sharing feedback when they see others do it; and then seeing that we are receptive and welcome constructive feedback. This also creates a healthy discussion, which we can see different flows of opinions.

That being said, it will expose us to the risk that @PedroGFonseca mentioned. However, with the transparency an

[2021-03-25 22:27] minhhoang1023 commented on #143
Also, in terms of action points, what do you think about sending some automatic messages to all students about this practice when they first joined? Repeating this sort of practices is never too much. something like this: https://slack.com/intl/en-pt/slack-tips/automatically-onboard-new-channel-members

[2021-03-26 18:02] Juliana-R commented on #134
Related with #133 ?

[2021-03-26 18:33] Juliana-R commented on #135
I'm "talking" with the GreetBot and defining an onboarding message. Anything you want to change/add?

This is what I have right now:

1 - Introducte yourself in the #introductions channel;
2 - Read the Volunteer Onboarding page (https://ldssa.github.io/wiki/Volunteers/Volunteer-Onboarding/) and tick all items in the Onboarding Checklist;
3 - When you're ready to join a team (AOR), just let us know

[2021-03-26 18:52] PedroGFonseca commented on #134
Related but not duplicate. I was wondering if this is something that would be [1] worth having (@catarinacf) and [2] feasible to have as part of our portal (@hcastilho).

The current state is that I have some code that _works on my machine™️_ which I can use to check for duplicates ad-hoc. Having something proper would mean cleaning up, refactoring, packaging, adding tests, etc. Which I'm happy to

[2021-03-26 18:55] PedroGFonseca commented on #144
Sounds good to me, document and close?

[2021-03-26 22:09] minhhoang1023 commented on #135
⭐ This is excellent!

[2021-03-27 13:53] minhhoang1023 commented on #143
will shamelessly steal the best practices for the Wiki

[2021-03-27 16:33] Juliana-R commented on #143
@minhhoang1023 regarding the automatic messages, I used Greetbot app/addon on the Leaders Slack. You can add it to Prep Course Slack, it's pretty easy to use and you can set it to send a custom message to every new member. https://greet.bot/

[2021-03-27 16:34] Juliana-R commented on #143
hmm it looks like it's already there, did you set it up already?
![image](https://user-images.githubusercontent.com/52176135/112727409-48e7bb00-8f1a-11eb-8c80-e6f6334d6912.png)

[2021-03-28 14:01] CatarinaSilva opened #149 "Admission AOR responsibilities"
Hey @dominguezmaria from our meeting I wrote up this doc https://docs.google.com/document/d/1B546ZUqdPTri3LmvRIkH1lfN5CChPoEJskhpDTuSgkc/edit#

Can you give some overall feedback of things I missed and help me fill out the last part?

[2021-03-28 14:51] CatarinaSilva commented on #45
Who should this be assigned to then ?

[2021-03-28 14:53] CatarinaSilva commented on #127
Closing this as the graduates were already announced

[2021-03-28 14:53] #127 closed

[2021-03-28 15:11] CatarinaSilva commented on #65
Related to #128

[2021-03-28 15:43] PedroGFonseca opened #150 "Website domain expiring"
We have an email from namecheap saying that the auto renew will fail due to lack of funds.

@hershaw the email is addressed to Samuel so I'm guessing you are the one with access to this?

[2021-03-28 15:43] ramaroesilva opened #151 ""ID flag" for Prep Course contributors (likely extendable to Academy)"
After seeing various Prep course instructors with the "[Instructor] username" or "username (Instructor)" I started wondering on how I should identify myself as someone from the QA team.

[2021-03-28 15:46] ramaroesilva commented on #151
Feedback from @minhhoang1023:

Feedback from @ricardo alberto:

[2021-03-28 15:47] CatarinaSilva commented on #129
@dominguezmaria @minhhoang1023 I was thinking of getting this closed this week

@thecarolmartins when does this need to be shared (or has it been already?) and in particular put up in the website for the next batch?

[2021-03-28 15:49] CatarinaSilva commented on #73
My proposal for this batch:

- Admissions SLUs should be delivered to QA 1 month before release (for this batch, we should expand to 1,5 or 2 months for the next one (This batch: Early May)
- Bootcamp SLUs should be delivered to QA 2 months before release (This batch: 24th May)

And my proposal is that for the next batch we collapse both into 2 months

[2021-03-28 15:49] PedroGFonseca commented on #151
Interesting question, I don't think we ever formalized it and probably should.

Think of it from the perspective of the students, what's useful for them to see you as? If they are gonna treat you as a source of answers the [Instructor] is probably the best option (even if your aor is QA)

If you are staff but not answering course questions (eg from community or marketing) then making that clear wi

[2021-03-28 15:50] CatarinaSilva commented on #148
My current proposal a bit better defined for this batch:

- All Units of a specialization should be delivered 2 months before first unit is released:
  - Spec 2: 16th June 2021
  - Spec 3: 13th July 2021
  - Spec 4: 4th August 2021
  - Spec 5: 1st September 2021
  - Spec 6: 29th September 2021
- Hackathon to be delivered 2 months before hackathon (problem + instructor solution)
  - Hckt 1: 15th Au

[2021-03-28 15:50] ramaroesilva commented on #87
To be honest, I've never actively looked for materials on this issue, as I mostly work solo (which I guess is not that common in DS, at least at a corporate level).

But I guess that anything that possibly describes possible challenges in collaborative coding and/or provides some (even if vague) guidelines on how to work in such a context would help.

[2021-03-28 15:51] CatarinaSilva commented on #148
@FilipaRodrigues am going to share in both #teaching and #qa channels but would love your feedback here

[2021-03-28 15:52] PedroGFonseca commented on #151
Oh right other labels such as
- Devops
- student success
are probably also useful.

I'm not sure about QA, are we thinking students should treat QA instructions different from "content creating" instructors?

[2021-03-28 15:54] CatarinaSilva opened #152 "Meta-deadlines"
Things we need to set down in the calendar for the transition for batch 5 to batch 6:
* When to start gathering learnings
* When to start recruiting for next batch's SLUs/BLUs/specializations
* When should specialization leads be defined

[2021-03-28 15:54] CatarinaSilva commented on #152
Relates to https://github.com/LDSSA/wiki/issues/78

[2021-03-28 15:56] PedroGFonseca commented on #148
Clarification: when we say delivered do we mean
A. Delivered to QA
B. Delivered and fully QA'd (closed)

[2021-03-28 16:04] CatarinaSilva opened #153 "Proposal: enforce versions to keep consistency across units"
From  https://github.com/LDSSA/wiki/issues/65

### What is needed:
- close list of common libs to consider
- agree on versions
- Decide where to document and how to enforce

### Current suggestions

Enforce:
* python 3.7 (to be consistent with prep course)

Additionally, enforce versions for common libs:
* jupyter
* scikit-learn=0.24.1
* pandas=1.2.3
* numpy ?

To make this visible:
* Have base re

[2021-03-28 16:05] CatarinaSilva opened #154 "Proposal: expand hackathon creation deliverables"
Include in hackathon deliverables:

- Data + problem
- Instructor solution
- Creating evaluation guidelines doc
- Creating overall guidelines for instructors to help out in hackathon

[2021-03-28 16:06] PedroGFonseca opened #155 "Team event - FeedBackDrinkBeers"
We have quite a bit of feedback from batch 4 students. I propose we schedule some time to read through it together while drinking beers and basking in our own awesomeness.

I volunteer to turn the form results into slides if enough people are interested 😀

![image](https://user-images.githubusercontent.com/8465611/112758723-d5978500-8fbd-11eb-9415-9222688f122f.jpeg)

[2021-03-28 16:08] CatarinaSilva opened #156 "Setup tentative dates for late presentations"
One issue this year was chasing students and instructors to deliver late presentations.

My proposal to cope with this is share from the start 2 tentative dates for late presentations, and when students miss a hackathon ask them to provide us with the one they can attend. We can also have instructors allocated earlier with this as there's no need to adjust dates and time

[2021-03-28 16:12] CatarinaSilva opened #157 "Define and document higher-level teaching process"
As we’re moving into issues, I propose the following organization in #batch4-instructors

## Proposal

Preparation (owner: teaching lead)
- Create 1 issue for closing rules of graduation
- Create 1 issue per spec for curriculum discussion under the curriculum-development repo
- Create issues to staff leads of each spec and SLUs

Then, create milestones
- Admission BLU milestone (owner: teaching AO

[2021-03-28 16:20] minhhoang1023 commented on #128
Agree with the goals, as well as the order

[2021-03-28 16:22] minhhoang1023 commented on #129
@CatarinaSilva To confirm, the main changes from last year is that we extend the duration to finish bootcamp SLUs from 2 weeks to 3 weeks? That make sense as a change after the feedback we receive.

[2021-03-28 16:23] CatarinaSilva opened #158 "Setup checkpoint with each specialization team 6 weeks before deadline"

[2021-03-28 17:24] CatarinaSilva commented on #129
yes that's the main difference and that we're establishing from the start the exact hours for delivery of units and that the capstone itself is extended to match these year dates and to make explicit the rounds of comments

[2021-03-28 17:25] CatarinaSilva commented on #129
sorry @minhhoang1023 forgot to tag you in my answer above ☝️

[2021-03-28 17:52] Juliana-R commented on #144
Where should we document this?

[2021-03-28 17:53] Juliana-R commented on #135
Thanks Minh! ❤️ Will close the issue. ✔️

[2021-03-28 17:53] #135 closed

[2021-03-29 08:52] Juliana-R opened #159 "LDSA organization wiki page"
Is the LDSA organization page up to date?

https://github.com/LDSSA/wiki/wiki/Lisbon-Data-Science-Academy-(Organization)

More specifically, it mentions the organizing body which consists of the founders. Should we add the current Executive Team?

[2021-03-29 10:11] thecarolmartins commented on #129
Hi @CatarinaSilva with this timeline there's no absolute rush to announce it (on my side). Thanks for asking and taking into consideration! :)

Who's in charge of applications this year? @dominguezmaria?

[2021-03-29 11:26] ramaroesilva commented on #151
Would it make sense to create a glossary with a brief description for of each of these roles?

That would enlighten what each of us do as well as introduce DS roles to newbies.

[2021-03-29 17:25] rjna commented on #126
This must be the alumni slack: ldssa.slack.com

[2021-03-29 20:17] minhhoang1023 commented on #159
I think it should reflect the LDSA charter, giving an overview how to org works: https://docs.google.com/document/d/1EDQF8lFZA0DYKhru57rxLI4d7s3ReiN90BFdjTHtP-Q/edit

What do you think?

[2021-03-29 20:20] minhhoang1023 commented on #151
Shall we add the BLU number and SLU number in the title too? This brings to the bigger discussion of how students can know who to ask questions about slu/blu-related topics

Caveat is that for some highly devoted instructors, they might end up with a very long name

[2021-03-29 20:24] minhhoang1023 commented on #143
I just got to install it and didn't get the chance to use it yet. Will try to do it during this week

[2021-03-29 20:34] minhhoang1023 commented on #53
I talked with Veiga yesterday and we can make the payment. We will need a valid invoice with NIF, and help from @PedroGFonseca and Manuel to approve the payment.

With the quotes & assuming that we'll have around 50-70 people (students + instructors), the budget for this will be around 800e-1000e. We have 30k+ on the bank so this is doable. @CatarinaSilva @dominguezmaria Let me know in case you'd

[2021-03-29 20:40] minhhoang1023 commented on #145
Agree. 48 members for Curriculum Developers Team is way to many.

@hcastilho How do you think we should transition and during the transition period, will there be any implications? E.g. someone might not have access for a couple of days when we're adding people to Team

[2021-03-29 22:52] dominguezmaria commented on #45
I think student success could be in charge, since this doesn't contain learning materials.
But teaching should be a very important stakeholder, to make sure that all the rules about teaching are communicated (like graduating criteria, etc)

[2021-03-29 23:04] dominguezmaria commented on #76
+1 on keeping it remote for the whole duration and communicate that upfront.
+1 on keeping the quota, hopefully not needing it (as happened last year 💪, if I'm remembering correctly).

Last year we had 50 positions for regular+student+company and 50 positions for scholarships, and had only a few people joining with scholarship.
@CatarinaSilva is in charge of admissions this time around, but my two

[2021-03-29 23:16] dominguezmaria commented on #145
Agree that we should clean this up 😛
Agree with the base permissions being "None" for everyone.
Follow up questions:
- do we make distinction between prep course instructors and starters academy instructors?
- will we still have a separate teams for QA and dev-ops? (I'm assuming yes)
- there is also a exec team, I believe. what do we want to do with this one?

[2021-03-29 23:36] dominguezmaria commented on #147
In my mind, all the AORs should be separate between the Prep Course and Starters Academy. And then we should have a course leader to oversee all the AORs related to one course, who should report to the exec team.
The Prep Course x AOR and the Starters Academy x AOR should be in close communication, and in some cases there is no problem with the leader being the same for both the Prep Course and th

[2021-03-29 23:56] dominguezmaria commented on #149
Done! Added comments and suggested improvements in the doc. Any questions let me know!

[2021-03-30 00:00] dominguezmaria commented on #129
@thecarolmartins it's @CatarinaSilva!
@CatarinaSilva looks good to me!

[2021-03-30 09:16] Juliana-R commented on #53
![image](https://user-images.githubusercontent.com/52176135/112965267-03590700-9141-11eb-9bc1-b4fc1fb7438f.png)

[2021-03-30 09:44] Juliana-R commented on #139
I think we should add all volunteers to the Leaders Slack @CatarinaSilva. So that they keep updated and we're all together. 😄

[2021-03-30 10:41] ramaroesilva commented on #151
some additional feedback that came out from the Prep Course QA team* meeting yesterday:
- can be confusing, as the meaning of each role is not clear (at all) to students
- "QA" could be understood as "Questions and Answers"
- handling mixed roles (as @minhhoang1023 mentioned) might be tricky

*@InesPessoa, @ClaraBarreto, Helena, and myself

[2021-03-30 14:13] thecarolmartins opened #161 "Landing Jobs / Tech Careers Report & Data Challenge"
We have received the following email, and I'd like to know how this fits in our overall strategy and if it's something worth accepting.

It seems that there are 2 things here:

**1. Sharing the Tech Careers Report 2021**
**2. Landing Jobs Data Challenge**

Here's the full email:

@minhhoang1023 @dominguezmaria @CatarinaSilva what are your thoughts on this?

_Edit: I've asked until when an answer n

[2021-03-30 14:15] thecarolmartins commented on #161
Here are my thoughts on this:

**Tech Career Report**

For this, I think it's okay to do (in terms of Marketing, **unless** we don't want to be alongside any for-profit institution. It might be the case, however, in terms of information, this might be useful to our students. We can share it internally only or share it publicly on our Social Media Channels. Still, the question "do we want to be sha

[2021-03-30 14:18] thecarolmartins commented on #53
Ok @minhhoang1023, I'll start working on the design and put it here for approval.

From previous experience, I know they will only start producing the swag **after** the first payment.

[2021-03-30 14:20] hershaw commented on #150
checking on that now!

[2021-03-30 14:24] hershaw commented on #150
![image](https://user-images.githubusercontent.com/424192/113005049-04ebf480-916c-11eb-83f5-d267545b0269.png)

looks like we're good. it was already set to auto-renew. I've also added myself to the accounts.admin google group so I'll get those emails from now on as well.

[2021-03-30 14:34] Juliana-R commented on #74
Closing as we have an issue for this #92.

[2021-03-30 14:34] #74 closed

[2021-03-30 15:27] Juliana-R commented on #60
Can we close this?

[2021-03-30 15:35] Juliana-R opened #162 "Updating the LDSSA GitHub organization page"
1 - On https://github.com/LDSSA we have as contact e-mail @hershaw 's. Should we change this to a general e-mail, like `info@lisbondatascience.org`?

2 - Also I believe the link to the lisbondatascience page should be `https://www.lisbondatascience.org/`.

3 - And we are calling ourselves LDSSA but actually we're LDSA, since we include LDSSA and Prep Course in our repos...

![image](https://user-i

[2021-03-30 16:09] PedroGFonseca commented on #150
The email says that while it is set to auto renew we don't have funds to renew.

Do you know what card is associated with it?

[2021-03-30 16:55] hcastilho commented on #147
The devops AOR has already been split in two. With the current structure, the workload is too much and doesn't give any time between the courses.

[2021-03-30 17:05] hcastilho commented on #145
I suggest doing it and waiting for people to complain.

For instructors, we would create a batch5-instructors (the prep-course instructors would have another team).

QA and dev-ops need access to different repos, so yes.

The only usefulness I see for the exec team is that you can assign stuff to a team instead of the individual people.

[2021-03-30 17:11] hcastilho commented on #153
Historically files like this have been in the sample learning unit. We could have it there or include an actual learning unit template that should be copied over.
Of course, any decision will require adding it to the instructions (historically in the instructor's repository README).

[2021-03-30 23:01] dominguezmaria commented on #145
Right.
I've updated the exec team and removed a "Batch2 students" team that had just 2 elements.

[2021-03-31 00:03] PedroGFonseca commented on #53
@minhhoang1023 i was tagged with Manuel up there, was it a mistake?

I'm not in any way on the finance side, I'm guessing maybe Sam could still formally be, not sure

[2021-03-31 00:03] #92 closed

[2021-03-31 08:56] Juliana-R commented on #151
@ramaroesilva documentation of processes and/or general guidelines should ideally go to the Wiki. :)

[2021-03-31 08:57] Juliana-R commented on #151
@minhhoang1023 I think we can put the instructor(s) name(s) on the Channel topic. What do you think?

[2021-03-31 08:58] Juliana-R commented on #151
@minhhoang1023 I think we can put the instructor(s) name(s) on the Channel topic. What do you think?

[2021-03-31 12:00] minhhoang1023 commented on #53
@PedroGFonseca Joao Veiga mentioned to me that you are a Treasury Assistant. So whenever we made a payment, we'd need both Manual (Treasurer) and you (Treasurer Assistant) to approve in the banking app. Is it indeed the case?

[2021-03-31 18:20] dominguezmaria commented on #53
@minhhoang1023 I think he meant @UrbanoFonseca (Francisco Fonseca)

[2021-03-31 19:21] UrbanoFonseca commented on #53
correct @dominguezmaria . payments currently need to go through me (Fonseca junior, not @PedroGFonseca ) and Manuel. do we already have an invoice and official approval?

[2021-03-31 19:33] Juliana-R opened #169 "LDSA general e-mail"
Are we still using info@lisbondatascience.org for any general contacts? I'm mentioning it in the main page of the [Wiki](https://ldssa.github.io/wiki/).

[2021-04-01 05:04] thecarolmartins commented on #169
Yhap @Juliana-R that’s correct! That’s our main contact

[2021-04-01 11:31] Juliana-R commented on #169
Thank you @thecarolmartins ! Closed! 😄

[2021-04-01 11:31] #169 closed

[2021-04-01 13:54] Juliana-R opened #171 "Format html tables"

[2021-04-01 15:16] Juliana-R opened #172 "Update current staff list"
We have an outdated list of current staff in the Wiki: https://ldssa.github.io/wiki/About%20us/Member-Directory/#all-current-staff.

1. Could you give me a list of all current staff?
2. Should we create a new section for staff that has contributed but is no longer active?

Alternatively, I can ask each member of the Leaders Slack one by one, but it will take a while so if you have this info that w

[2021-04-01 15:36] Juliana-R opened #173 "Students of Batch 1"
The section Students has a "(to-do)" on the subsection "Batch 1 (2017) (https://ldssa.github.io/wiki/About%20us/Member-Directory/#batch-1-2017). Where can I find the info to fill this section?

[2021-04-01 15:54] Juliana-R opened #174 "instructors vs AOR"
We have an organizational structure with several AORs, but we usually represent the instructors separately.

Do they belong to a specific AOR (e.g. Teaching) and if so can I add them in the [Organizational Structure table](https://ldssa.github.io/wiki/About%20us/Member-Directory/#organizational-structure) ?

[2021-04-01 16:45] Juliana-R opened #175 "Outdated info: trello board"
I'm removing the section on "Trello board" as this is no longer used I believe. (here: https://ldssa.github.io/wiki/About%20us/LDSA-Areas-of-Responsibility/).

If you want me to bring it back please let me know.

[2021-04-01 17:20] Juliana-R opened #176 "admissions link"
We mention this link https://admissions.lisbondatascience.org/account/signup in the Wiki page on "Application process" (https://ldssa.github.io/wiki/Applicants/Application-process/). Does this link still stand?

[2021-04-01 17:24] hcastilho commented on #134
I have no clue what's the technical effort of something like this. Would love to see your solution @PedroGFonseca.

But I'm sure we can whip something up if teaching deems it important.

[2021-04-01 17:56] PedroGFonseca commented on #134
Nice, then it's down to how important @CatarinaSilva finds it to be!

[2021-04-01 17:58] hcastilho commented on #176
This will be replaced once admissions moves to the portal.
Currently there are not admissions.

[2021-04-01 17:59] hcastilho commented on #134
DevOps sync meeting is almost starting if you want to join.
By the way, you can check selected and under consideration features for the portal here:
https://github.com/LDSSA/portal/projects/2

[2021-04-01 18:24] Juliana-R opened #177 "Update Application Process page when Batch 5 calendar and deadlines are defined"
Page: https://ldssa.github.io/wiki/Applicants/Application-process/

Edit: https://github.com/LDSSA/wiki/blob/main/docs/_docs/Applicants/Application-process.md

[2021-04-01 18:51] Juliana-R commented on #176
I'll leave this open until we replace it then. 👍

[2021-04-01 19:07] Juliana-R opened #178 "Broken link on page "How to build Learning Units""
This link is not working: https://github.com/PedroGFonseca/preping_template_learning_unit/blob/master/SLU6_Intermediate_Statistics/utils.py. It is on section "Hide peripheral support code" of the [How to build Learning Units](https://ldssa.github.io/wiki/Instructors/How-to-build-Learning-Units/) page.

What shall we replace it by?

[2021-04-01 19:09] Juliana-R opened #179 "SLUs info"
Do we have a more recent version of this? https://docs.google.com/spreadsheets/d/14XVv6vx0NicWEGeYEE-rhLSxrqeevqTadP_NgbBUF70/edit#gid=427798470

It is mentioned a few times in the Wiki page https://ldssa.github.io/wiki/Instructors/How-to-build-Learning-Units/.

Not sure if Teaching or Curriculum AOR. 😅

[2021-04-01 19:15] Juliana-R opened #180 "broken link in page "Using nbgrader for Exercise Notebooks""
This link does not work https://stackoverflow.com/questions/49720663/in-nbgrader-how-to-show-an-answer-set-to-none-rather-than-show-empty-rows.

I've removed the paragraph where it occurs, namely:

@CatarinaSilva FYI

[2021-04-01 19:16] #180 closed

[2021-04-01 19:16] PedroGFonseca commented on #178
Well caught, that's super obsolete. Can we just not mention it? No one makes notebooks from scratch anymore i guess

[2021-04-01 19:18] Juliana-R opened #181 "Assign AORs to review/update/create Wiki pages"
Several Wiki pages are outdated. Gather the pages that need updating or complementary info and assign each to the responsible AOR.

[2021-04-01 19:20] Juliana-R commented on #178
@PedroGFonseca Do you mean excluding the link or the whole page?

[2021-04-01 19:32] Juliana-R opened #182 "what's the current link for this?"
What would be the modern version link for https://docs.google.com/spreadsheets/d/1E_r65ZLUwbtDwbdoSyuU4S2fC17kvRpezRUl-XyU4c4/edit#gid=0 ?

This link is given on the Wiki page https://ldssa.github.io/wiki/QA/How-to-help-improve-the-materials/ .

[2021-04-01 19:37] Juliana-R opened #183 "Add staff emails in the Member Directory All Staff section"
@minhhoang1023 it's ok if I add each staff's LDSA e-mail to the Wiki https://ldssa.github.io/wiki/About%20us/Member-Directory/?

[2021-04-01 19:41] Juliana-R opened #184 "concern form link"
This form is mentioned as a form to express concerns https://docs.google.com/forms/d/e/1FAIpQLSeqSl_jatUTfXrVPBVaZuaKK0ygxQ065nnAZdPG4mG7ht_-Zw/viewform

on the Wiki page "Exposing concerns". https://ldssa.github.io/wiki/Students/Exposing-concerns/

Is this form still being used by us?

[2021-04-01 20:12] PedroGFonseca commented on #184
Yes, I monitor that. We should actually make it more visible.

[2021-04-01 20:14] PedroGFonseca commented on #184
Also could you remove `(starting with Sam)` on the wiki?

[2021-04-01 20:16] PedroGFonseca opened #185 "The links to "disciplinary action" are broken"
On [this section](https://ldssa.github.io/wiki/Students/Exposing-concerns/) there are a couple of links that go to empty old wiki sections.

[2021-04-01 20:27] Juliana-R commented on #184
Removed. Can you move the "make the process more visible" suggestion to a new issue? 😄 🌳

[2021-04-01 20:27] #184 closed

[2021-04-02 03:43] PedroGFonseca opened #187 "Ensure students know how to express concerns"
This form is mentioned as a form to express concerns https://docs.google.com/forms/d/e/1FAIpQLSeqSl_jatUTfXrVPBVaZuaKK0ygxQ065nnAZdPG4mG7ht_-Zw/viewform

on the Wiki page "Exposing concerns". https://ldssa.github.io/wiki/Students/Exposing-concerns/

Is this form still being used by us?

__Originally posted by @Juliana-R in https://github.com/LDSSA/wiki/issues/184__

[2021-04-02 07:50] thecarolmartins commented on #177
This will also be important to insert on the website.

[2021-04-02 09:43] Juliana-R opened #188 "Correct paths"
Correct all paths to external dirs to `../../`.

[2021-04-02 09:50] Juliana-R opened #189 "Create a last modified at + author per page"
**Issue:** Github-Pages does not support **last-modified-at** Jekyll plugin.

**To be tried:** JS script to get info on file changed, author and date.

This will take some time.

[2021-04-02 09:52] minhsf commented on #183
this one makes sense! if you see adding certain info can be useful to people (given that it's ok to be public), feel free to go ahead without checking in with me or other exec member

[2021-04-02 11:32] CatarinaSilva commented on #128
Going to close this as we have exec ok with it and no comments from teaching peeps :)

[2021-04-02 11:32] #128 closed

[2021-04-02 11:32] CatarinaSilva commented on #129
I'm going to try to find some people help me with that @dominguezmaria actually 😂

[2021-04-02 11:51] CatarinaSilva commented on #45
Assigned also to @rjna then 😄

[2021-04-02 11:52] CatarinaSilva commented on #56
@rjna if we do the intro session this should also be presented

[2021-04-02 12:10] CatarinaSilva commented on #142
My suggestions for capstone rules:

#### 1. Automatic fails

I would say these below could lead to automatic fails:

- Empty section
- Section with 1/2 sentences
- Section with bullet points/table but no actual text
- No API built is a fail

This relies on the fact that we will have to make this super super clear from the start.

I would also suggest giving actual examples of what sections automat

[2021-04-02 13:39] FilipaRodrigues commented on #100
Yes @Juliana-R ! That qa repo can be killed.
I will be in charge of updating the QA section on the wiki in the next days, so then we can update the info.

[2021-04-02 14:26] FilipaRodrigues commented on #148
@CatarinaSilva I agree with the proposed dates; I never really think of QAing all the spec BLU's at the same time and I think it's a great idea.

@PedroGFonseca I would say that we mean option A. Delivered to QA. What needs to happen after is that the QA team needs to commit to review the materials in a certain period of time. I would suggest that for the SLU's we make that period the following tw

[2021-04-02 14:27] FilipaRodrigues commented on #73
@CatarinaSilva I agree with the proposed dates; as I commented in issue [Related](https://github.com/LDSSA/wiki/issues/148) to the

[2021-04-02 14:44] FilipaRodrigues commented on #182
I was not aware of this documents. I think it's probably from batch1 or 2. We need to update all of this section for the QA, I will create an issue related to the update of QA wiki pages.

[2021-04-02 14:45] FilipaRodrigues opened #190 "Update Wiki for QA"
The section of QA in the wiki (https://ldssa.github.io/wiki/QA/How-to-help-improve-the-materials/) is not updated.

TO-Do's:

- [ ] How to QA SLU materials?
- [ ] How to QA BLU materials?
- [ ] How to QA Hackathon?
- [ ] QA process

[2021-04-02 14:46] FilipaRodrigues commented on #182
#190

[2021-04-02 18:27] CatarinaSilva commented on #148
@PedroGFonseca I meant delivered to QA

[2021-04-02 21:50] minhhoang1023 commented on #172
When you mentioned staff, does it include instructors as well?
- AOR Lead & Members, the current ones we have should be updated
- Instructors, I don't think we know yet who will be active again this year unless we asked (@CatarinaSilva might have already done this)

[2021-04-02 21:52] minhhoang1023 commented on #159
i think it should be everything. @CatarinaSilva @dominguezmaria what do you both think?

[2021-04-02 22:12] minhhoang1023 commented on #132
I think OKRs could be a good topic to discuss in a team-wide meeting. So that everyone has visibility or even help what other AORs are working on and trying to achieve this year.

Any thoughts on this?

[2021-04-02 22:13] minhhoang1023 opened #192 "Proposal: Next Team-wide Meeting"
Now that we will soon start the next Batch, and AORs are setting OKRs, I'd like to propose for us to have an upcoming all-hands meeting where we would discuss a few topics below:

### 1. OKRs Discussion
We would have each AOR presents their OKRs and their main objectives for this year. This gives visibility to everyone, whether it's an instructor or a staff member, to know where we are heading tow

[2021-04-03 10:17] #188 closed

[2021-04-03 10:55] Juliana-R opened #193 "removed reference for batch 2 curriculum in Volunteer Onboarding page"
I removed this

   in the past. Please note that the curriculum for the current batch may have
   changed.

from the [Volunteer Onboarding](https://ldssa.github.io/wiki/Volunteers/Volunteer-Onboarding) Wiki page, to make this quick and simple for new volunteers to read.

If you feel this is relevant please let me know and I'll bring it back.

@dominguezmaria for Curriculum AOR, @CatarinaSilva FYI

[2021-04-03 11:02] Juliana-R commented on #118
@mariana-s-fernandes please check if the text introduced solves this. If not let me know and/or do a PR with your suggestion.
Commit: LDSSA/wiki/commit@564886c

[2021-04-03 11:04] Juliana-R commented on #187
I had no idea that form existed all the time I was Student Success AOR. 😅 What folder is that even stored in?  😛

[2021-04-03 12:07] Juliana-R commented on #182
Thank you @FilipaRodrigues !! Shall we close this one then?

[2021-04-03 12:12] Juliana-R opened #194 "Close Member Directory for Batch 5"
Close:
- [ ] Close members of each AOR for Batch 5;
- [ ] Close Primary Enablers of the empty AORs (Operations and Admissions) for Batch 5;
- [ ] Document this on the Wiki and close #26 .
- [ ] Close this issue.

[2021-04-03 12:13] Juliana-R commented on #26
Blocked by #194

[2021-04-03 13:06] Juliana-R commented on #100
Thank you @FilipaRodrigues! @InesPessoa also had some ideas to document QA I think, so maybe it's better that you coordinate that together, as some things will overlap between LDSSA and Prep Course.

[2021-04-03 13:06] Juliana-R commented on #100
@hcastilho can you please kill the repo as authorized by @FilipaRodrigues above?

Thank you 🙏

[2021-04-03 13:22] Juliana-R opened #195 "🎂 Birthday list! Count: 22"
Birthdays added to the Birthday Calendar:
1. 🎂 Juliana Rodrigues
2. 🎂 Sam
3. 🎂 Hugo Castilho
4. 🎂 Carol
5. 🎂 Catarina
6. 🎂 Miguel Dias
7. 🎂 Pedro Fonseca
8. 🎂 Rita Sousa
9. 🎂 Telmo Felgueira
10. 🎂 Frederico Nunes
11. 🎂 Minh
12. 🎂 Ricardo Alberto
13. 🎂 Mariana Fernandes
14. 🎂 Inês Pessoa
15. 🎂 Pavel Nikalayeu
16. 🎂 Rodrigo Amaro e Silva
17. 🎂 Carlos Fonseca
18. 🎂 Juliane Silva
19. 🎂 Rita Carvalho
2

[2021-04-03 14:09] Juliana-R opened #196 "Teaching team for GitHub"
We currently don't have a Teaching team (where we'd put all instructors) on GitHub. This would have special acccess to the relevant repos on GitHub from an instrcutor perspective.

[2021-04-03 14:10] Juliana-R commented on #145
We don't have a Teaching team: https://github.com/LDSSA/wiki/issues/196.

[2021-04-03 14:28] minhhoang1023 commented on #91
Right now it is the following:
- Minh: Treasury, Ops, Marketing & Communications, Partnership, Community, Jobs
- Catarina: Teaching, QA, Student Success, Dev-Ops, Curriculum Development, Documentation

[2021-04-03 14:32] minhhoang1023 commented on #87
FYI @cimendes, as she's in charge of Git SLUs for the Prep Course. I believe we already teach important concepts such as merge conflicts. If you think it'd be helpful (your call on this), might be worth it to teach briefly the workflow + some possible challenges as Rodrigo suggested.

[2021-04-03 15:07] minhhoang1023 commented on #70
For me, the second option is more clear in terms of AOR's responsibilities. If it's an org-wide AOR, that AOR will provide support for both Main Course and Prep Course. In case it's necessary, we can create course-specific AORs as we did for devops, teaching and student success.

What's your thoughts on this @CatarinaSilva @dominguezmaria ?

[2021-04-03 15:12] minhhoang1023 commented on #77
Action items we already closed:
- Extend Prep Course duration from 9 weeks => 11 weeks
- Dedicate 2 extra weeks to prepare people for exams
- Adjust SLU order to balance workload throughout the course
- Create more difficult exercises for people to get used to the Entrance Exams
- Encourage people taking last year exams under time constraints

[2021-04-03 15:18] minhhoang1023 opened #197 "How many scholarship slots we should have?"
Last year we had 50 scholarship slots, but very few people asked for scholarship and pass.

- Shall we continue our scholarship policies this year?
- If so, how many slots we should dedicate to it?

From what I remembered, 50 scholarship slots are fixed. Meaning that, if we have 50 slots and only 5 people applied and passed the tests. The other 45 slots won't be converted into normal slots. @domin

[2021-04-04 12:36] hershaw commented on #132
so from my end I can probably come up with OKRs myself since I have enough institutional context. So the process for myself can probably be lightweight. I can draft up some documents, have Minh review it, give some feedback, and probably get to where we need to be in a few iterations.

For someone who has less context though, the process should probably be different. It should probably be Minh, Ca

[2021-04-04 13:01] hershaw commented on #126
So here's a first draft of the OKRs for community:

## Objective 1 - Everyone in the community can get in touch with each other

Now that the course has been going for some years and there are hundreds of people that have taken part in the community, we should have a way to know who is part of it. We currently have a member directory that lists the names of the graduates but there should be some b

[2021-04-04 15:24] dominguezmaria commented on #174
Yes, I think it makes sense that instructors belong to the teaching AOR.

[2021-04-04 15:31] dominguezmaria commented on #70
I think the division "Org - Main Course - Prep Course" could work well.
Could we formalise which AORs should be at org level and which ones should be split?
There is a discussion about the curriculum AOR [here](https://github.com/LDSSA/wiki/issues/147).

[2021-04-04 15:47] dominguezmaria commented on #179
Hey! We don't have it yet. Will have the curriculum finalised very soon (Curriculum is responsible), then the assignment to instructors is on teaching

[2021-04-04 15:49] dominguezmaria commented on #193
Agree that it should be removed. I suggest adding a link to the last batch's instructors repo instead (both starters academy and prep course), so that new instructors can take a look at it and start getting familiar with how our repos work!

[2021-04-04 15:54] dominguezmaria commented on #197
No, last year, the open scholarship slots were converted to normal slots. Last year we ended up accepting everyone who passed the admissions tests and payed, so we didn't fill in all the available spots (we accepted ~53 and had 100 spots).
Last year there were very few communications around scholarships, so not a lot of people applied.
I'd like to keep the same number of available scholarship spot

[2021-04-04 17:31] minhhoang1023 commented on #197
Sounds good. In the case we don't fill all scholarship slots, those can be converted into normal ones so it won't go to waste.

[2021-04-04 17:35] minhhoang1023 commented on #197
Tagging @thecarolmartins for context; and as we will soon advertise for the next batch

[2021-04-04 19:37] rjna opened #198 "Prep Course SLU feedback template with questions"
This issue aims to collect feedback about the template. The template represents the questions that will be made each week, about the SLUs from the particular week. The idea is that these questions will give you information that will be granular enough to i) assess if each particular SLU is too big (>5 hours) and ii) assess if any particular week is too dense compared to others (week = pair of SLUs

[2021-04-04 19:53] minhhoang1023 commented on #136
+1 Seeing from last year's results, it's totally possible to keep quota while not having to use them.

Apart from the the Prep Course, is there any other initiatives we should pursue this year to make sure we don't need to use the quota? Prep Course only helps women to pass. But if we don't have enough women apply in the first place, we might not hit the quota again this year.

Previously we had t

[2021-04-04 20:45] mariana-s-fernandes opened #199 "Birthdays - should we be enforcing people to share their birthday?"
Hello, just opening this issue since I know that some people, due to their religious or cultural background don't celebrate their birthdays, so it could be a bit awkward if they were pressured into sharing their date of birth or make any kind of celebration.

It is ok if people want to celebrate, but only if they are wiling to.

@minhhoang1023 @Juliana-R (I can't assign this issue)

[2021-04-04 20:51] cimendes commented on #87
In SLU03 I focused only in the workflow that is followed to work with the course materials. I'll definately try to explore this more in SLU05!

[2021-04-05 08:43] #91 closed

[2021-04-05 08:43] Juliana-R commented on #91
Thanks @minhhoang1023 ! Added the following under section **Executive Team** in the [Areas of Responsibility wiki page](https://ldssa.github.io/wiki/About%20us/LDSA-Areas-of-Responsibility/). ✔️

[2021-04-05 09:05] Juliana-R commented on #199
I will change the bullet point about the birthday calendar to optional on the page https://ldssa.github.io/wiki/Volunteers/Volunteer-Onboarding/#onboarding-checklist.

[2021-04-05 09:30] ramaroesilva opened #201 "Scheduling Slack announcements"
Doing so would make the early morning announcements bullet-proof.

This might help: https://slack.com/intl/pt-pt/slack-tips/schedule-messages-in-the-future

@InesPessoa alerted to the importante of being possible to double-check the stand-by post.

If this is possible, we can leverage from the final QA steps demanding two people, with one prepping the announcement and the other confirming the exis

[2021-04-05 09:31] ramaroesilva commented on #201
Motivation: I was in charge of the announcement -> I had insomnias -> I woke up late -> (luckily) @InesPessoa had my back

[2021-04-05 10:04] #193 closed

[2021-04-05 10:04] Juliana-R commented on #193
done! thanks @dominguezmaria

[2021-04-05 10:06] Juliana-R commented on #198
Question: Did we collect any feedback on the last edition of Prep Course? FYI @swcwang

[2021-04-05 10:12] Juliana-R commented on #190
Some of these topics might overlap with Prep Course QA documentation @InesPessoa.

[2021-04-05 10:36] Juliana-R commented on #174
To be closed after PR #200 is approved.

[2021-04-05 10:39] Juliana-R commented on #24
Ok I'm a bit out of context here. 😅 Can you update the page yourself (assuming it's Jobs AOR), or provide me with a text to put there? @PedroGFonseca thanks 🙏

[2021-04-05 10:40] Juliana-R opened #202 "🗃️ Create a standard system of labels for issues"
**Problem:** filtering and triage of issues depends on informative labels.

**Goal:** create a useful system of labelling based on: AOR, priority, current status, type of issue

**Action items:**
- [ ] research and brainstorm good practices
- [ ] decide on a system
- [ ] document it on the Wiki
- [ ] announce it

Any ideias on this? @PedroGFonseca

[2021-04-05 10:46] Juliana-R opened #203 "Documentation Strategic Goals"
Create goals/OKR for Documentation AOR.

[2021-04-05 10:55] Juliana-R opened #204 "📜 Update OKRs 2021 on Wiki page"
**Context:**
We have defined our OKRs for 2021/Batch#5 and we shared all existing AORs OKRs on a Team-Wide Meeting on 22 May 2021. The next step is to have these documented and available on the Wiki.

---
**Goals:**
- [x] Check GitLab idea https://about.gitlab.com/company/okrs/
- [ ] Create a Wiki page template for the OKRs (new branch!)
- [ ] Confirm final version with each AOR Lead and add it to

[2021-04-05 11:02] Juliana-R commented on #48
I'm lost. What should we do about this issue? 😛

[2021-04-05 11:03] Juliana-R commented on #51
Does this issue still need fixing? What wiki page does this refer to? @minhhoang1023

[2021-04-05 11:04] Juliana-R commented on #59
@CatarinaSilva what should we do about this issue?

[2021-04-05 11:06] #60 closed

[2021-04-05 11:07] Juliana-R commented on #128
@CatarinaSilva where was this documented? It would be good to have this on the Wiki.

[2021-04-05 11:07] Juliana-R commented on #65
What was the actionable from this issue? @FilipaRodrigues @CatarinaSilva

Should we close it?

[2021-04-05 11:09] Juliana-R commented on #69
@thecarolmartins I will close this issue as the AOR title was closed as **Marketing and Communications**. Reopen if this is not correct.

Regarding the videocall, can you please open a new issue with that idea? 😄

[2021-04-05 11:09] #69 closed

[2021-04-05 11:13] Juliana-R commented on #70
Let me know if I should add that column on the [Member Directory wiki page](https://ldssa.github.io/wiki/About%20us/Member-Directory/), table in section on "Organization structure".

[2021-04-05 11:31] Juliana-R commented on #76
I don't think so.
- On Student Success we had only 1 person as a member, which was I. We now have 3 people for Batch 5 (but still need to increase this if we want to provide enough support);
- On the Hackathon days, I believe we lacked some staff and we did not distribute all tasks early on which caused us some additional stress. But @CatarinaSilva will know better;
- On some specializations, we d

[2021-04-05 11:37] Juliana-R commented on #77
What is pending in this issue or should we close it?

[2021-04-05 11:38] Juliana-R commented on #79
Will close this issue, action was taken on this here: https://github.com/LDSSA/wiki/issues/75, decision was to make it 3 weeks. https://github.com/LDSSA/wiki/issues/75#issuecomment-803643647

[2021-04-05 11:39] Juliana-R commented on #79
Reopened. What should be made regarding the last point, "Capstone: this will be intense. let people know before hand.", @CatarinaSilva ?

[2021-04-05 11:40] Juliana-R commented on #81
what should we do about this issue?

[2021-04-05 11:57] Juliana-R commented on #89
Should this be considered @minhhoang1023 or shall I close this for now?

[2021-04-05 11:58] Juliana-R commented on #201
@ramaroesilva what AOR and/or person should perform this task?

[2021-04-05 12:12] Juliana-R commented on #94
**Update:**

I will close this issue as we have a workflow going on as follows:
- @CatarinaSilva is making the onboarding call;
- Someone is adding them to Leaders Slack;
- We have an automatic welcoming message on Slack;
- @Juliana-R is creating the staff account;
- @Juliana-R is updating their onboarding status on #139.

If you have any objections please reopen the issue.