[2021-04-05 12:12] #94 closed

[2021-04-05 12:17] Juliana-R commented on #203
https://docs.google.com/document/d/13g_aFbU7fE5571zs-Be1ubeC_Xtj-ol0Tbufm55Sr9U/edit#

[2021-04-05 13:49] #171 closed

[2021-04-05 14:46] dominguezmaria commented on #70
I think not yet. I dropped that table so that we could sync on what's the current status and start a discussion 😄

[2021-04-05 15:00] dominguezmaria commented on #76
Thank you @Juliana-R !
So, it seems that on the Student Success and QA fronts we are now good to fulfil the needs of roughly 50 students, and if we have the same number and distribution of instructors as last time, we'll be a bit short in instructors.
However, we're expecting some more help from the new volunteers, so this shortness in instructors will hopefully not be there.

Given this, I think

[2021-04-05 21:21] minhhoang1023 commented on #76
100 slots can be quite a big push, as we basically double it.

Was wondering if we should go for a slightly higher number, e.g. 60? The reason is that we usually have a few people drop out after the bootcamps, and the number of people continuing to the capstone is around 30-35.

[2021-04-05 21:58] dominguezmaria commented on #76
@minhhoang1023 , I thought about suggesting some more spots. But then thought that, since we're investing more in student success this time, we might have lower drop out rate, which means that we'll already be at a higher capacity than last time.
But on the other hand +10 students doesn't sound like that much more effort :p

[2021-04-06 07:53] Juliana-R commented on #76
I'd say for Student Success we're not there yet. For 50 students, we'd like to have at least 5 people in Student Success and we're still 3: @rjna @dbsousa01 @Juliana-R .

[2021-04-06 07:55] Juliana-R commented on #76
If we are able to create a team of 5-6 people in Student Success, 60 people looks like a good number to me. 👍

[2021-04-06 11:11] minhhoang1023 commented on #76
@Juliana-R Where do you think the main effort from Student Success will go this batch?

If the Buddy system is one of them, do you think if we could ask people to give a help, without being a part of Student Success. well technically, they are. But some people might think that being a part of Student Success will mean doing some other tasks too. Speaking for me, I can be a part of the buddy system

[2021-04-06 11:18] minhhoang1023 commented on #81
i think this is duplicated with Changes to the Prep Course.

[2021-04-06 11:19] minhhoang1023 commented on #77
Let's close it!

[2021-04-06 11:19] #77 closed

[2021-04-06 11:21] minhhoang1023 commented on #51
I'd say it's be good to have a Student Onboarding, similar to the one you created for Instructors Onboarding.

There was an old wiki page for Student Onboarding batch2, but i can no longer find it.

[2021-04-06 11:23] minhhoang1023 commented on #132
thanks @hershaw ! It's very useful

[2021-04-06 13:13] Juliana-R commented on #76
I'd say it would be better to have a solid team of 5 members instead of external help here and there, because that way we ensure we have always someone at hand in case one of us is not around, that is aware of the processes we're implementing and what not (feedback forms, automatic polls, mentorship tasks, etc. etc.).

Student Success is more of a continuous task throughout the Batch, so we are ai

[2021-04-06 13:20] Juliana-R commented on #81
Closing as this was addressed in #77.

[2021-04-06 13:20] #81 closed

[2021-04-06 13:30] Juliana-R commented on #99
**Current status**
We have now 5 members 🎉
1. Ricardo Alberto @rjna
2. Carlos Fonseca @ecarlosfonseca
3. Daniel Sousa @dbsousa01
4. Juliana Rodrigues @Juliana-R
5. Rita Carvalho @anaritarc

I've added you all guys to [our team on GitHub](https://github.com/orgs/LDSSA/teams/student-success/members).

FYI @minhhoang1023 @CatarinaSilva @dominguezmaria

[2021-04-06 13:46] Juliana-R commented on #51
All pages of the Old Wiki are on the folder **old_wiki** of the Wiki repo: https://github.com/LDSSA/wiki.

[2021-04-06 13:46] Juliana-R commented on #51
Di you mean this one? https://github.com/LDSSA/wiki/blob/main/old_wiki/Batch3-Student-Onboarding.md

It's for Batch 3 so I'm not sure this is the correct one.

[2021-04-06 13:48] Juliana-R commented on #51
**Actionable:**
@rjna shall we assign this task to one of the new volunteers maybe? It would be a good thing for them to get acquainted with the AOR. I can then review it and merge to the Wiki.

[2021-04-06 13:59] dominguezmaria commented on #76
I agree that we should have a solid team for Student Success. We've tried the with occasional peers before and it didn't work very well. It's true that we also didn't have a central person in charge of coordinating the instructor peers, but the way it turned out was that the instructor peers were not very proactive, they were waiting for students to reach out. And of course that disengaged student

[2021-04-06 14:00] Juliana-R commented on #76
Well good news 🎉 apparently we now have 5 members. 😛 https://github.com/LDSSA/wiki/issues/99

[2021-04-06 16:21] mariana-s-fernandes commented on #118
It's perfect, thanks!

[2021-04-06 16:21] #118 closed

[2021-04-06 17:11] Juliana-R commented on #98
Implicit in #202.

[2021-04-06 17:11] #98 closed

[2021-04-06 17:11] Juliana-R commented on #95
Will close this. Issues open related with this:
- Labelling #202
- Template for issues #111
- Bot to close inactive issues #124

[2021-04-06 17:11] #95 closed

[2021-04-07 09:21] Juliana-R opened #205 "Organization Admin AOR"
On [a thread on Slack](https://ldsacademy.slack.com/archives/C9CRBC10F/p1617537878030200?thread_ts=1599054272.004100&cid=C9CRBC10F) it was discussed that we should end the Organization Admin AOR:

Who is currently responsible for the following ?
1. Staff accounts and Google Drive management --> Documentation AOR, Executive Team, ?
2. Slack workspace management --> ?
3. Website domain --> ?
4. GitH

[2021-04-07 09:27] Juliana-R commented on #204
@CatarinaSilva can we do this?

[2021-04-07 09:31] Juliana-R commented on #24
@PedroGFonseca is the **Actionable** here to put [all that's on the document](https://docs.google.com/document/d/1HcJ9PtLP4Ks_-O7d9ykCJKZJraciLqkugBH6UoOpH4s/edit?pli=1#) in a Wiki page under section jobs ?

![image](https://user-images.githubusercontent.com/52176135/113844426-5d367e00-978c-11eb-8734-9558aa682881.png)

[2021-04-07 09:36] Juliana-R commented on #132
@hershaw @minhhoang1023 @dominguezmaria could you please split this issue into **actionables** (e.g. 1 issue with a list of actionables **or** 1 actionable per new issue) and close this one? :pray:

It's a bit difficult to keep track of all the actionables that are on it in its current format.

[2021-04-07 09:38] Juliana-R commented on #103
@PedroGFonseca can we make this and archive this repo or do you need the repo?

[2021-04-07 09:48] Juliana-R commented on #175
Will close.

[2021-04-07 09:48] #175 closed

[2021-04-08 09:49] minhhoang1023 opened #206 "Set up OKRs for next batch with AOR Primary Enablers"
# Description
As the next batch is starting, we should set up a list of OKRs that each AOR will be focus on. This gives the visibility and direction for both the AORs as well as rest of the team.

Ideally this will be set up and proposed by the OKR Leads & members, and then have the exec team review them. However, for the AORs that needs some context and vision (e.g. new AORs or AORs with big chan

[2021-04-08 09:51] minhhoang1023 commented on #132
Moving it to a new issue with all deliverables: https://github.com/LDSSA/wiki/issues/206

[2021-04-08 12:24] Juliana-R commented on #132
Shall we close this one?

[2021-04-08 12:25] Juliana-R commented on #206
@minhhoang1023 could you please specify the assignee for each of the action points?

And maybe you can use checkboxes if you feel it's useful. It helps to keep track of what was done from the list.

[2021-04-08 15:34] thecarolmartins commented on #161
hey @minhhoang1023 kind reminder for this one, when you have time  :)

[2021-04-08 15:34] thecarolmartins commented on #107
We have found the lovely @cimendes for the role!! 🎉 🌮 and 🍻

[2021-04-08 15:34] #107 closed

[2021-04-08 15:36] thecarolmartins commented on #85
@cimendes please keep this in mind when starting the development of the editorial calendar. But don't worry, we will have the opportunity to talk about how to do this - my comment is just to keep it top of mind for both of us 👍

[2021-04-08 15:41] thecarolmartins commented on #53
@UrbanoFonseca we still don't have an invoice because I need to finish the design for approval... I'll try to do that ASAP.

@minhhoang1023, either way, do we have the approval for both front and back? Talking about money -> 70 pieces x 12,65 = 885,50€ + VAT (total of 1 089,17€).

The main operational problem I'm foreseeing is deciding on the quantities for each size. It is always a pain in the ar

[2021-04-08 15:46] thecarolmartins opened #207 "Side-Car Academy for Batch 5?"
I'm starting the debate on whether we are planning on having a side-car academy this year.

What are your thoughts on this?

[2021-04-08 18:31] cimendes commented on #85
@thecarolmartins this is a big "eat your own dog food" for me 👼 😛

[2021-04-09 20:49] minhhoang1023 commented on #207
To answer this question, there's a few things I'd still need to do:
- Check out Side Car Academy Slack & see how the community have been helping each other (it was created for this purpose)
- Speak with Vitor & Gonçalo to understand
- Share the feedback here & discuss with you guys

@thecarolmartins until when we'll need to have the answer for this?

[2021-04-10 10:36] Juliana-R commented on #206
Ah nevermind! I was reading the numbered steps as actionables. My bad. 😓

[2021-04-10 10:41] Juliana-R commented on #185
I've corrected, tested and this should be solved now @PedroGFonseca . Please reopen issue if the problem still happens.

[2021-04-10 10:41] #185 closed

[2021-04-10 10:45] Juliana-R commented on #151
@ramaroesilva can you create this new wiki page under section DS Prep Course?

We could include:
- Instructions for "ID flag"
- Slack Emojis filtering as per https://github.com/LDSSA/ds-prep-course-2021/issues/41

[2021-04-10 19:01] ramaroesilva commented on #201
not sure @Juliana-R. I'm kinda divided between QA (as this is related to the QA process) or dev-ops (as it entails some know-how on Slack operability*).

* I myself would be interested on learning to more about slack , but I've always used it as any other chat user.

[2021-04-10 19:10] ramaroesilva commented on #151
Count me in.

I just looked at the DS Prep Course wiki page and all of it seems to be addressing students.

However, this ID flagging is something done by instructors. Could you comment on this?

[2021-04-10 19:48] PedroGFonseca commented on #48
I'll let @CatarinaSilva make the final call. My understanding is that we will be teaching them both methods, and that both can show up at different stages.

[2021-04-10 19:49] PedroGFonseca commented on #53
So that brings us to the [step 1](https://github.com/LDSSA/wiki/issues/53#issue-813738708), which is to decide who gets them. I'd say that between @thecarolmartins and @minhhoang1023 that should be "closable".

[2021-04-10 19:50] PedroGFonseca commented on #205
This seems like an organization question, should it not be assigned to @minhhoang1023?

[2021-04-10 21:15] PedroGFonseca opened #208 "Batch 5: graduate without passing capstone?"
In Batch 4 we allowed students to graduate without having passed the capstone, as long as they didn't miss it (we're creating this concept of "attempted but failed").
The exact wording on [our website](https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/Starters-Academy-(Course)/) for the requirements to get a certificate is

This may however be a bit tricky in future, as it may create a bit

[2021-04-11 09:37] Juliana-R commented on #151
Ah I see what you mean. Then maybe it can go under the category _**Instructors**_, on a new page called "DS Prep Course guidelines" or similar.

[2021-04-11 09:38] Juliana-R commented on #205
I assigned to @hershaw because he's the Primary Enabler of the Organization Admin, but yes, it's also Executive Team related, will add @minhhoang1023 .

[2021-04-13 07:51] minhhoang1023 commented on #205
+1 that we should kill it, as it's similar to my role and I could take it up. Going through the wiki's description, I can take up all of them, apart of getting bank account since it's required that an official Treasurer do this.

For rest of tasks:
1. Staff accounts and Google Drive management --> thanks for taking this up @Juliana-R - shall we assign this to Documentation AOR?
2. Slack workspace

[2021-04-13 08:15] minhhoang1023 commented on #53
For recipients, i'd propose we give the hoodies to all students this batch + current staff.

And that's a good point @thecarolmartins ! It'd violate our Code of Conduct (Single plastic use) if we ship sweaters with a bunch of plastic within in.

To reduce # of shipping packages, I am thinking of two options:

1. We don't provide shipping options at all. We'll organize a social gathering in Lisbon

[2021-04-13 08:22] minhhoang1023 commented on #161
@thecarolmartins

**Tech Career Report**
This would be relevant to our community so i think it'd make sense to share it. So far, I've been taken the approach of asking "Would this be useful to our students?". If it's the case, I'd share it within Slack, be it jobs or professional opportunities.

**Jury at Data Challenge**
I hear that choosing one person arbitrarily might not feel right. What if we

[2021-04-13 08:30] minhhoang1023 commented on #51
@Juliana-R Indeed, that's the one!

[2021-04-14 21:03] minhhoang1023 commented on #161
cc @ivopbernardo

[2021-04-17 17:40] PedroGFonseca opened #209 "Reusing some exercises from the previous batch"
We have historically not re-used exercises from the previous years. However in the [OOP basics exercises](https://github.com/LDSSA/ds-prep-course-instructors/blob/master/Week%204/SLU07%20-%20OOP%20Basics/Exercise%20notebook.ipynb) the first 3 are deliberately very similar to what they have in the learning notebook, so that they have a way to get their feet wet before things get serious.

Unless we

[2021-04-18 11:33] minhhoang1023 commented on #76
I synced up with @CatarinaSilva & @dominguezmaria today and we agreed that 60 slots is a reasonable number given our current resources.

[2021-04-18 11:34] #76 closed

[2021-04-18 11:35] minhhoang1023 commented on #197
We will have 10 slots for scholarship this year. And if there's not enough people, those slots will be converted to normal slots.

[2021-04-18 11:37] minhhoang1023 commented on #197
@thecarolmartins It'd be good to advertise more on our scholarship slots this batch, to reach people who need it. Let me know if you would need any other info

[2021-04-18 11:38] minhhoang1023 opened #210 "Officially have a complaint book & refund policy"
We previously had a student asking for a complaint book and then asking for a refund, and we do not have it right now.

Action: To investigate on whether it's required to have a complain book, and if so, how should it be?

[2021-04-18 11:47] minhhoang1023 commented on #209
👍 As we don't issue certificate for the Prep Course, we can re-use the exercises

[2021-04-18 11:55] minhhoang1023 opened #211 "Define Area of Responsibilities for Operations AOR"
Previously, Operations AOR have dealt mainly with Hackathon physical tasks (e.g. catering, venue, etc.). Now that our courses are organized remotely, the Operations AOR will need to be adjusted.

At the moment,  each of us are splitting Operations AOR work such as marking attendance, creating the Meet links, etc. This should instead fall into the Operations AOR.

Also, there are opportunities for

[2021-04-18 12:47] #132 closed

[2021-04-18 12:54] minhhoang1023 commented on #89
We should start doing this. We can first start with having new volunteers info on a database (E.g. google sheets). So we can have all their info (emails, github handles, etc.) for the onboarding process, as well as inviting them for future events

[2021-04-23 09:28] minhhoang1023 opened #212 "How we close decisions"
# Context
During batch 4, we identified several challenges with how we currently make decisions throughout the organizations. Gathering insights and feedback from multiple people from multiple places, the followings are the main ones we are facing right now:

### 1. Small decisions take a long time to close
- Up to now, we’ve been leaning towards a consensus approach to decision making.  While thi

[2021-04-24 14:01] minhhoang1023 commented on #126
@hershaw This looks great! We've been talking about Objective 1 for a while, and there's a great need for it, so good to get 'em into shape.

For KR5, for those who do not want to socialize, can we also get a sense of what they find rewarding in the community? E.g. learnings, networking, etc. This does not mean that the Community AORs will be solely responsible for making it happen. But once we ar

[2021-04-24 16:20] thecarolmartins commented on #210
Probably the accounting office should know if it’s required

[2021-04-25 15:03] PedroGFonseca commented on #212
This is a thing of beauty :)

Added some comments, and if/when I build another startup I'm totally stealing this.

[2021-04-26 09:35] thecarolmartins commented on #161
About the Jury, I checked the timeline and it has passed already - they also didn't reply back when I asked them about deadlines, so I wouldn't feel sad about this.

I'll be sharing the report straight away.

[2021-04-26 09:35] #161 closed

[2021-04-26 09:37] thecarolmartins commented on #197
thanks Minh! We'll take that into account!

[2021-04-27 10:14] thecarolmartins opened #213 "AEFFUP Event | Request for collaboration"
Hi, Partnerships team! We got this email communication for a potential collab with AEFFUP.

They are requesting possible instructors for an event that will be happening on the 8th and the 9th of May and will take place virtually.

Throughout the activity, they would like to address the following topics:

Workshop: Data Science platforms (8/05: 14h30-16h00)
Spreadsheet platforms: Excel, google shee

[2021-04-28 21:49] ivopbernardo commented on #213
@thecarolmartins after reviewing all the materials and the e-mail I don't think we can, as LDSA participate on this one as it seems extremely out of scope of what we do. We only teach Python in the academy from all the tools above and it doesn't seem to make sense to tie this to anything related to the Lisbon Data Science Academy, officially.

The best thing we can aim for is to ask around for ins

[2021-04-29 14:05] thecarolmartins commented on #213
Yhap @ivopbernardo, I totally agree with that call. It makes sense to approach this as a non-official partnership. We can be intermediaries in sharing the info if an instructor would like to teach.

[2021-04-30 13:32] dbsousa01 opened #214 "Prep course improvement - Passing by reference vs passing by value"
I don't what best LU would be to include this (Data Structures when talking about mutable vs immutable objects) or Functions but some students had doubts about variables being assigned to another variable as a reference, when you change one variable then you also change the other since both are connected. And why it doesn't happen with strings, ints, between others

Maybe we could include this spe

[2021-04-30 15:50] ivopbernardo commented on #213
Thank you @thecarolmartins, totally agree. Due to the short timeline I'll be going forward with that decision as it seems the most reasonable, atm.

[2021-04-30 15:50] #213 closed

[2021-05-01 10:16] minhhoang1023 commented on #213
+1 with the decision

[2021-05-01 10:18] minhhoang1023 commented on #212
@PedroGFonseca Thanks for reviewing! I was stealing your great suggestion of stakeholder definition so we're equal :)

[2021-05-02 11:18] rjna opened #217 "First draft Student Success OKRs"
Objective 1: We know when a student is at risk of dropping out
KR 1. We are aware of 50% of dropouts with enough time to talk with them

Objective 2: We always react when students are showing difficulties
KR 1. 100% of students behind schedule on completing the LUs are contacted by personal chat (via an automated bot) within 1 day of being behind schedule

Objective 3: We keep track of the student

[2021-05-03 18:07] dominguezmaria commented on #210
@minhhoang1023 I confirmed with my cousin, who is a lawyer and her opinion is that we're not legally obliged to have a Livro de Reclamacoes.
The law says this:
[code]

We're not a "estabelecimento com carácter fixo ou permanente", so we don't need to have the Livro de Reclamacoes.

[2021-05-03 18:09] dominguezmaria commented on #199
Sharing the birthday should be optional and the onboarding guidelines already reflect that.
@Juliana-R , can we close this one?

[2021-05-03 23:47] dominguezmaria commented on #150
ATM we don't have a way to make online payments with the academy's cards.
I'll be replacing Manuel / Veiga as treasurer, and while the transition is not complete (so I can start working on getting us cards), I've added my card there and made the payment.
So this is solved for now!

[2021-05-03 23:47] #150 closed

[2021-05-04 00:47] dominguezmaria commented on #88
I'm going to suggest that we go with all remote up-front for all the learning activities (bootcamp + hackathons).
In case the pandemic allows, we can have in-person social events, or facilitate in-person study groups.
Reasoning behind this is:
- We generally have young students, and there is still no predicted date for when young people will be vaccinated. This means that there are no reasonable p

[2021-05-04 00:54] dominguezmaria commented on #136
Yes, let's keep to quota!
@minhhoang1023 , having more women applying is an important point!
@thecarolmartins , we could include this in the marketing strategy (alongside with trying to get more people for scholarships).
I'll close this one, because the quota decision has been made :p

[2021-05-04 00:54] #136 closed

[2021-05-04 00:58] dominguezmaria commented on #197
Decision has been made: 50 normal seats + 10 scholarships.
If scholarships are not used, they will be converted to normal seats, which means that we're aiming at 60 students.

[2021-05-04 00:58] #197 closed

[2021-05-04 09:42] CatarinaSilva commented on #88
@dominguezmaria agreed to go with all remote, in fact that's what I communicated to @thecarolmartins since all the times we talked about this I think everyone was leaning to this decision.

This is mostly because we have no idea of what is going to happen on the next months and we shouldn't force people to be present until everyone feels comfortable.

[2021-05-04 10:24] dominguezmaria commented on #88
Cool! So we can close this one :D

[2021-05-04 10:24] #88 closed

[2021-05-04 10:53] cimendes commented on #207
Jumpin on this issue, @minhhoang1023 If the sidecar is to happen, we'll need to spread some awareness over on social media. I would say after admissions is best for those who didn't manage to pass the exam. Therefore, I would need to plan something around mid-June!

[2021-05-04 11:05] cimendes commented on #177
Adding website link so it won't get forgotten when the dates are updated: https://www.lisbondatascience.org/starters-academy/

[2021-05-04 17:12] thecarolmartins commented on #109
@CatarinaSilva kind ping to remind about the curriculum and to send it over once it's ready so we can update the website :)

[2021-05-04 17:14] thecarolmartins opened #219 "Review content of website to see what needs to be updated"
Since the current content of the website - which refers to the previous edition - will be similar this year, I'd need a bit of help from Teaching to verify if everything stands as it is or is there anything that needs to be updated because it might be inaccurate.

@CatarinaSilva could you help with this or is there anyone that could help me review it?

[2021-05-04 17:20] thecarolmartins opened #220 "Refund policy on website"
To avoid unpleasant situations in the future, I believe it would be beneficial to add the refund policy on the website.

@minhhoang1023 I talked to Catarina the other day and she mentioned you could help with this because you might be drafting something. Do you have any documents that I can use as a reference? Or if not, do you have an estimated idea when it might be ready?

There's no rush, we ju

[2021-05-04 17:43] thecarolmartins opened #221 "Merch for Batch 5"
How are we going to do with merch for Batch 5? Are we going to create merch for all students?

If so, the Ops related to that are quite high.

[2021-05-04 20:28] minhhoang1023 commented on #221
@thecarolmartins what merch are you talk about? T-shirt?

[2021-05-04 20:32] minhhoang1023 commented on #207
@cimendes This should be decided before then. I already talked with Vitor, and need to talk with Gonçalo - another co-organizer.

[2021-05-04 20:33] minhhoang1023 commented on #210
That was in line with info from the lawyer friend of Pedro. In that case, if we have complaints, we can direct them to the public portal and we can reply directly there.

[2021-05-04 20:34] minhhoang1023 commented on #210
Will close the issues.
cc @CatarinaSilva

[2021-05-04 20:34] #210 closed

[2021-05-05 09:05] minhhoang1023 commented on #220
@thecarolmartins It's on my to-do list. I can try to get it done by the end of this month :)

[2021-05-05 20:07] Juliana-R commented on #221
![image](https://user-images.githubusercontent.com/52176135/117202575-e241a100-ade5-11eb-9daf-cbb7f9022c63.png)

[2021-05-05 20:32] Juliana-R opened #222 "Documentation AOR - OKRs"
**Objective 1**: Wiki maintenance and use
**KR 1**: new processes (at AOR, inter-AOR and executive level) are documented and indexed in the Wiki in `<TODO>` time from decision
**KR 2**: new merge requests (content updated) are reviewed in 1-2 weeks from pull
**KR 3**: github pages is checked weekly to see if all working as expected
**KR 4**: staff is using the Wiki and we have less than ??? reques

[2021-05-05 20:33] Juliana-R commented on #222
Some of the KRs still need to be quantified, please let me know if you have any ideas for that, I'm feeling uncreative. 😅

[2021-05-06 07:45] thecarolmartins opened #223 "Communications & Marketing AOR - OKRS"
And here they are: behold the OKRS for the Communications & Marketing AOR ⚔️

This is our first draft and it's up for revision by everyone. If there's anything we might be missing or having a blind spot, please let me, @cimendes or @joseprsm know!

# Purpose

This document aims to define the OKRs of the Communications & Marketing AOR for the year 2021 and Batch 5. This will allow continuous alignm

[2021-05-07 09:22] hcastilho opened #224 "DevOps AOR OKRs 2021 Q2"
## Objective 1. Wrap up batch 4 infrastructure
Key Results:
* All infrastructure used for batch 4 is stopped or deleted.
* Data from batch 4 is backed up.
* The location of the data is documented in the wiki.

## Objective 2. Applications and admissions process integrated into the portal
Key Results:
* Candidates go through the application and admission process in an integrated portal.
* Staff man

[2021-05-07 11:12] dbsousa01 commented on #223
I really liked the podcasts 👀

[2021-05-07 11:36] thecarolmartins commented on #223
I'd love to bring the podcast on again @dbsousa01 but I need help! If you'd like to help on editing and making it happen, I'd looooove it!!!

[2021-05-07 12:04] ivopbernardo opened #225 "Partnerships - OKRs 2021"
Hey! Here's my first draft for the Partnership AOR OKR's for this batch.

I'm also looking for people to jump in and give some help on this AOR to bring some fresh ideas (I'm becoming an old dino on this one 🦕 )

Oh, and I've also copied the structure from @thecarolmartins because it's just so good. @thecarolmartins owing you a beer for this one!

# Purpose

This document aims to define the OKRs o

[2021-05-07 12:25] buedaswag commented on #224
Sounds great to me!

[2021-05-07 16:44] thecarolmartins commented on #53
Didn't see this one @minhhoang1023 - sorry.

I agree with option 2. I still need to think a bit more on the packaging side because we can do it with paper and paper boxes, but that will add extra costs. Do we have an estimate of the number of people in (1) Lx, (2) outside Lx, and (3) outside PT? @PedroGFonseca maybe you have this info, just by chance?!

And without further due, here's my proposal!

[2021-05-07 16:56] thecarolmartins commented on #220
yhap! it seems okay by me! :)

[2021-05-07 17:02] thecarolmartins commented on #207
I agree with @cimendes suggestion but I would put it a bit earlier - a bit before mid-June to allow time for the rest of marketing to happen. It makes sense that we announce it after admissions. However, we need to have a bit of time between the end of the admission process and the start of the academy to fully announce it.

I'd add to what Ines mentioned, that we should also promote it with those

[2021-05-07 18:40] FilipaRodrigues opened #226 "Quality Assurance OKRs 2021"
# Purpose

This is a list of objectives and corresponding key results for batch 5 for the Quality Assurance AOR.

# OKRs

## Objective 1. Material delivered to students with little or zero bugs

## Objective 2. Close relation with Teaching AOR

## Objective 3. Team meetings

## Objective 4. Documentation

## Objective 5. Team management

## Objective 6. Beta testers (aka students)

[2021-05-08 14:20] #129 closed

[2021-05-08 14:22] #45 closed

[2021-05-08 14:22] #56 closed

[2021-05-08 22:40] PedroGFonseca opened #227 "Jobs OKRs 2021"
Objective #1 - Give students an understanding of the Lisbon jobs market
KR1 - Have a directory of companies that have active data science teams in Lisbon

Objective #2 - Make the Academy jobs page relevant
KR1 - At least 10 job openings are posted in 2021
KR2 - At least 2 students find jobs via offers that were on the Academy jobs page

Objective #3 - fully automate the creation of CVs
KR1 - Creat

[2021-05-08 22:40] PedroGFonseca commented on #227
Fixes part of #206

[2021-05-09 19:39] #138 closed

[2021-05-09 19:39] #141 closed

[2021-05-09 19:39] #142 closed

[2021-05-09 19:41] CatarinaSilva opened #228 "Refine capstone evaluation information"
What needs refinement:

* Set of standards mentioned for reports
* app evaluation methods

Once we define the capstone team, they can be assigned to this

[2021-05-09 19:42] CatarinaSilva commented on #125
Added to the wiki with #218

[2021-05-09 19:42] #125 closed

[2021-05-10 22:45] minhhoang1023 commented on #223
Thanks for putting this together Marketing team! ⭐

Will be posting my comments below:

**Objective 1. Increase the external brand exposure and brand value**
Throwing a thought-provoking question: What are we trying to achieve with this brand exposure? E.g. helping with Admission, or targeting companies in PT to help with graduates finding jobs? It'd be good to have a KR that ties with this goal,

[2021-05-11 20:50] Juliana-R commented on #199
I believe it's optional. The Birthday Calendar is mentioned in the Volunteer Onboarding as one of the calendars they can subscribe too, but it is tagged as **optional**. Will close. @mariana-s-fernandes please feel free to reopen if anything comes up.

[2021-05-11 20:50] #199 closed

[2021-05-11 21:02] Juliana-R commented on #177
@CatarinaSilva updated our Wiki page for the LDSSA with dates: https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/Starters-Academy-(Course)/ 😉

[2021-05-11 22:07] thecarolmartins commented on #223
Thanks for your feedback @minhhoang1023 ! I've read all your comments and I thought about them. I hope to address them all :)

I understand that the concept of KRs is that they are quantifiable. Honestly, I feel that, in this case, simply adding percentages will not serve a quantifiable purpose because they will be a random number that can, or cannot, be achievable as we do not have a very clear g

[2021-05-12 00:39] dominguezmaria opened #229 "Finance - OKRs 2021"
**Objective 1:** The academy complies with all legal requirements on the finance domain.

**KR1:** The treasurer position is not filled in by Manuel Reis anymore, and the transition to a new assignee complied with all the legal requirements.
**KR2:** We, as a non-profit association, are aware of our financial obligations, comply with them, and documented them in an appropriate format (so that a ne

[2021-05-12 00:42] dominguezmaria opened #230 "Admissions - OKRs 2021"
**Objective 1:** The set of batch 5 students is not biased towards males with solid engineering background.

**KR1:** We have at least 50% success rate on the coding test for applicants who’ve completed the prep course (final project included).

---

**Objective 2:** The admissions process for batch 6 can be led by anyone.

**KR1:** We’ve written thorough documentation about the admissions process

[2021-05-12 00:43] dominguezmaria opened #231 "Curriculum - OKRs 2021"
**Objective 1:** Improve the bootcamp and specialisations’ curriculum according to feedback from previous batches.

**KR1:** We have discussed feedback about previous batches with specialisation leads and the community, using GitHub issues (one per specialisation) in the curriculum development repository.
**KR2:** We have implemented the improvements that result from these discussions.

---

**Obj

[2021-05-12 01:49] dominguezmaria commented on #222
Hey @Juliana-R ! First of all, sorry for my late reply on this. Here are my comments on your proposed OKRs.

**Objective 1**
The objectives should be formulated more like goals that we want to achieve and less like a topic that the following KRs refer to.
So, what is the objective here exactly? From the context, I'm interpreting it as something like "The Wiki's content is complete and up to date,

[2021-05-12 20:24] thecarolmartins opened #232 "Marketing Calendar with Batch 5 dates"
Hi everyone!

[Here ](https://docs.google.com/spreadsheets/d/1EHLP0L1DyfTMdNA_ek1wDxWXMXkyr-kaK7FQB1dY-_s/edit?usp=sharing)is the promotional calendar for Batch 5.

Our rationale behind it is to create a Waiting List and align efforts to have a good populated Waiting List. This waiting list will be an exclusive landing page. This landing page will be a clone of the Starters Academy webpage with up

[2021-05-12 21:17] thecarolmartins commented on #221
Yes, @minhhoang1023 - either t-shirts or sweatshirts :) or cotton tote bags! We could do something different this year (just a thought :)

[2021-05-12 21:19] thecarolmartins commented on #85
Kind reminder on this @cimendes for the SM for batch 5 :)

[2021-05-13 17:04] dominguezmaria commented on #232
Hey @thecarolmartins !
Is the goal of having a separate webpage and promoting the waiting list in 3 different moments, just to categorise where does a lead come from into "Prep Course", "General Mailing List" and "Social media"?
Because if it is, couldn't we achieve that by having different links for the prep course and social media, and then do this categorisation on the website side?
That seems

[2021-05-13 17:05] dominguezmaria commented on #232
But of course that you're the one who knows about this, I'm only throwing "larachas" 😂

[2021-05-13 19:10] thecarolmartins commented on #232
yes, we could do that too. But I think I didn't explain well this idea:

Since we share information first for "insiders", the idea is also to have an "exclusive" space (i.e., the landing page) where "insiders" can see the information first, such as dates, curriculum, etc. Previously we've been following this concept of "news first-hand" for the mailing list subscribers. This year I was adding the

[2021-05-13 19:33] Juliana-R commented on #139
@CatarinaSilva will Faouzi be joining? I can't find him on Slack.

[2021-05-14 23:48] thecarolmartins opened #233 "Updating info for Batch 5 on wiki"
Information on our wonderful wiki should be updated before we share the information of batch 5 via email. We'll be sending it on the 25/May, so I would say having this done by the 23rd of May.

This is the page that has outdated information: https://ldssa.github.io/wiki/Applicants/Application-process/ - @Juliana-R I'm not sure if you are the right person! Do you need help on my side?

Also, on the

[2021-05-16 11:39] Juliana-R commented on #222
Regarding "Keep the number of open issues below a certain threshold.", this depends a lot on how people respond, how many active members we have, etc.

So giving a hard number for the overall number of issues (regardless of their date, status, etc.) I don't think would work, since there are periods where we have a high number of open issues and that should not be perceived as a "bad thing" (e.g. e

[2021-05-16 12:28] Juliana-R commented on #222
@dominguezmaria thank you so much for the precious help. Here's the new version after considering your suggestions.

---

The 🤝 means the goal depends on other AORs, so although I'll leave it here, it is more of a pseudo/shared key result (KR) than an actual Documentation AOR goal, that I could fully control. The 📅 is to easily spot 1-time tasks where I put a deadline for my AOR. The 📝 is for recu

[2021-05-16 12:51] Juliana-R commented on #103
This issue has been rotting for more than 28 days. To be closed after 7 June 2021 if not action taken. @PedroGFonseca

[2021-05-16 12:55] Juliana-R commented on #48
This issue has been rotting for more than 28 days. To be closed on 16 July 2021 if no action is taken. @CatarinaSilva @PedroGFonseca

[2021-05-16 13:05] Juliana-R commented on #51
Hey @rjna ! 👋

This issue has been rotting for more than 28 days now, and will be closed on 16 July 2021, if no action is taken. 😢 Can you give it some love? ❤️

Let's keep our Wiki fresh and sanitized. ✨

[2021-05-16 13:08] Juliana-R commented on #59
Hey @CatarinaSilva ! 👋

This issue has been rotting for more than 28 days now, and will be closed on 16 July 2021, if no action is taken. 😢 Can you give it some love? ❤️

🧹✨

[2021-05-16 13:14] Juliana-R commented on #61
Hey @minhhoang1023 ! 👋

This issue has been inactive for more than 28 days now. 😢 Should we close it? 🤔

🧹✨

[2021-05-16 13:54] Juliana-R commented on #65
Hey @CatarinaSilva @FilipaRodrigues ! 👋

This issue has been rotting for more than 28 days now, and will be closed on 16 July 2021, if no action is taken. 😢 Can you give it some love? ❤️

🧹✨

[2021-05-16 13:55] Juliana-R commented on #70
Hey @PedroGFonseca @dominguezmaria ! 👋

This issue has been rotting for more than 28 days now, and will be closed on 16 July 2021, if no action is taken. 😢 Can you give it some love? ❤️

🧹✨

[2021-05-16 14:00] Juliana-R commented on #73
Hey @PedroGFonseca @CatarinaSilva ! 👋

This issue has been inactive for 28 days and just gained status `rotten`. What are the **goal** (action needed) and **acceptance criteria** needed to close it?

🧹✨

[2021-05-16 14:04] Juliana-R commented on #78
Hey @CatarinaSilva ! 👋

This issue has been rotting for more than 28 days now. 😢 Does issue #152 address this already and, if so, can we close this one?

If no action is taken this issue might be closed on 16 July 2021 (2+ months inactivity).

🧹✨

[2021-05-16 14:06] Juliana-R commented on #79
Hey @CatarinaSilva @cimendes ! 👋

This issue has been inactive for more than 28 days now and is now in `rotten` status. 😢 Should we close it? 🤔

🧹✨

[2021-05-16 14:08] Juliana-R commented on #84
Hey @buedaswag ! 👋

This issue has been inactive for more than 28 days now and is now in `rotten` status. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 14:12] Juliana-R commented on #86
Hey @PedroGFonseca @minhhoang1023 ! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 14:17] Juliana-R commented on #87
Hey @ramaroesilva  @minhhoang1023 ! 👋

This issue will be closed since it looks like it was resolved. :tada:

If you reopen it, please include the following on a new comment:
- specific actionable item (goal)
- acceptance criteria (what needs to happen for the issue to be closed)

_Let's keep our Wiki fresh and clean! 🧹✨_

[2021-05-16 14:17] #87 closed

[2021-05-16 14:21] Juliana-R commented on #89
Hi @minhhoang1023 !

I can't pick up this task right now, so I'd suggest we open a new issue for anyone interested on doing this, or, if no one is, just close this for now.

Can you provide:
- a goal for this? (e.g. create DB on...)
- an acceptance criteria if applicable (could be the same as the goal)

[2021-05-16 14:32] Juliana-R opened #235 "Create a backlog section for closed but "active" long-term issues 📜"
**Context:**
We have 90+ open issues on the Wiki, a good amount of which older than 1-2 months. Presently we close issues that are older than a few months without any further action. For issues that the author/assignee don't want to close, but don't have any predictable date to close them, or person to do them, we don't have a satisfactory process and just leave them as open until they're so old t

[2021-05-16 14:35] Juliana-R commented on #99
Hey @rjna ! 👋

This issue will be closed since it looks like it was resolved. 🎉

If you reopen it, please include the following on a new comment:
- specific actionable item/items (goals)
- acceptance criteria (what needs to happen for the issue to be closed)

_Let's keep our Wiki sparkling! 🧹✨_

[2021-05-16 14:35] #99 closed

[2021-05-16 14:36] Juliana-R commented on #233
@thecarolmartins  I believe @CatarinaSilva is already working on this.

Catarina could you please confirm if the pages you've been updating already address this issue?

And if so, feel free to close it. 🙏

[2021-05-16 14:37] Juliana-R commented on #233
As for the Certificates part @thecarolmartins , feel free to add it when @PedroGFonseca agrees.

[2021-05-16 14:43] Juliana-R commented on #100
Hey @<author> ! 👋
Kind reminder to answer the question above.

---

This issue will be moved to status `rotten` for being inactive for more than 28 days. If no action is taken it shall be closed 2 months from now, on 16 July 2021. 😢

[2021-05-16 14:52] PedroGFonseca commented on #24
Yes please!

[2021-05-16 14:53] Juliana-R commented on #106
Hi @CatarinaSilva ! 👋

This issue no longer applies and will be closed. Feel free to reopen if necessary.

🧹 ✨

[2021-05-16 14:53] #106 closed

[2021-05-16 14:59] Juliana-R opened #236 "transfer jobs doc to Wiki"
**Context**:
Update the Jobs content on the Wiki.

**Goal:** (@Juliana-R)
- Transfer [this document](https://docs.google.com/document/d/1HcJ9PtLP4Ks_-O7d9ykCJKZJraciLqkugBH6UoOpH4s/edit?pli=1#) to a page on the wiki repo;
- Open the corresponding PR.

**Acceptance criteria**: (@PedroGFonseca)
- review/approve and merge the PR

[2021-05-16 14:59] Juliana-R commented on #24
Cool. Will close. Create actionable on #236.

[2021-05-16 14:59] #24 closed

[2021-05-16 15:05] Juliana-R commented on #111
Will close this. The new template should be simpler and only need:
- **context** -- provide some context to the issue
- **goal** -- actionable items for the assignee
- **acceptance criteria** -- QA check of the author/assignee (in some cases it can simply be the same as the goals)

This is part of the OKRs 2021 of Documentation AOR so this issue will be closed.

[2021-05-16 15:05] #111 closed

[2021-05-16 15:09] Juliana-R commented on #119
Closing. All ticks were either done or wont fixed.

[2021-05-16 15:09] #119 closed

[2021-05-16 15:10] Juliana-R commented on #124
Moved to backlog.

[2021-05-16 15:11] #124 closed

[2021-05-16 15:16] Juliana-R commented on #126
Hey @hershaw @minhhoang1023  ! 👋

It looks like this issue is pending an answer from @hershaw . Can you give it some love? ❤️

---

This issue has changed to `rotting` status, since it had no answer for more than 14 days. It will gain "rotten" status if no action is taken in the next 14 days.

_Let's keep our Wiki fresh and clean._ 🧹✨

[2021-05-16 15:18] Juliana-R commented on #133
Hey @PedroGFonseca @CatarinaSilva ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:19] Juliana-R commented on #134
Hey @PedroGFonseca @CatarinaSilva @hcastilho ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:21] Juliana-R commented on #139
will remove Faouzi from the checklist, plase let me know if he's still joining

[2021-05-16 15:22] #140 closed

[2021-05-16 15:23] Juliana-R commented on #143
Seems to be no longer applicable (Prep Course started 6 weeks ago). Closing, reopen if necessary.

[2021-05-16 15:23] #143 closed

[2021-05-16 15:24] Juliana-R commented on #144
Hey @PedroGFonseca! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:25] Juliana-R commented on #145
Hey @hcastilho @CatarinaSilva @minhhoang1023 @dominguezmaria ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:26] Juliana-R commented on #146
Hey @PedroGFonseca !

I belive this was addressed. @minhhoang1023 can we close this?

🧹 ✨

[2021-05-16 15:28] Juliana-R commented on #147
Hey @PedroGFonseca @dominguezmaria ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:29] Juliana-R commented on #148
Hey @PedroGFonseca @CatarinaSilva @FilipaRodrigues ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:30] Juliana-R commented on #149
Hey @CatarinaSilva @dominguezmaria ! 👋

This issue has been inactive for more than 28 days now and is now in `rotten` status. 😢 Should we close it? 🤔

If no action is taken this issue might be closed on 16 July 2021.

🧹✨

[2021-05-16 15:32] Juliana-R commented on #151
Hey @ramaroesilva ! 👋

This issue has changed to `rotten` status, since it had no answer from @ramaroesilva in more than 28 days.

If no action is taken this issue will be closed on 16 July 2021.

_Let's keep our Wiki fresh and clean._ 🧹✨

[2021-05-16 15:34] Juliana-R commented on #152
Hey @CatarinaSilva ! 👋

This issue has been inactive for more than 28 days now, and thus gained the status `rotten`. The milestone deadline associated with this issue is due 23 days. 😢

Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:35] Juliana-R commented on #153
Hey @CatarinaSilva @hcastilho ! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:36] Juliana-R commented on #154
Hey @CatarinaSilva ! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:37] Juliana-R commented on #155
Hey @PedroGFonseca ! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:38] Juliana-R commented on #156
Hey @CatarinaSilva  ! 👋

This issue has been inactive for more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:38] Juliana-R commented on #157
Hey @CatarinaSilva  ! 👋

This issue has been inactive for more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:39] Juliana-R commented on #158
Hey @CatarinaSilva  ! 👋

This issue has been inactive for more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:43] Juliana-R commented on #159
Hey @CatarinaSilva @dominguezmaria   ! 👋

This issue is still waiting for your answer. 🥺 Can you give it some love? ❤️

---

This issue has been inactive for more than 28 days now, and thus gained the status `rotten`. If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 15:44] Juliana-R commented on #173
Issue had no answer for more than 28 days. Will close as wont fix.

[2021-05-16 15:44] #173 closed

[2021-05-16 15:54] Juliana-R commented on #162
Closing as wontfix because:
- has been inactive for more than 28 days;
- not that relevant overall.

[2021-05-16 15:54] #162 closed

[2021-05-16 15:58] Juliana-R commented on #172
Hey @minhhoang1023 ! Yes it woul ideally include instructors.

@CatarinaSilva do you know who will be helping in Batch5 and/or which staff I should add on that page?

[2021-05-16 16:04] #174 closed

[2021-05-16 16:04] Juliana-R commented on #174
PR was not reviewed but since 28+ days passed I decided to merge it and so this issue is now closed.

[2021-05-16 16:06] Juliana-R commented on #176
@hcastilho can you provide a link to the issue that's blocking this?

[2021-05-16 16:07] Juliana-R commented on #178
Hey @PedroGFonseca ! 👋

This issue is still waiting for your answer. 🥺

---

This issue has changed to `rotten` status, since it had no answer in more than 28 days. If no action is taken it will be closed on 16 July 2021.

_Let's keep our Wiki fresh and clean._ 🧹✨

[2021-05-16 16:08] Juliana-R commented on #179
@dominguezmaria could you please link the issue that's blocking this here?

[2021-05-16 16:09] Juliana-R commented on #181
Moved to Documentation OKRs list. Closing.

[2021-05-16 16:09] #181 closed

[2021-05-16 16:10] Juliana-R commented on #190
Hey @FilipaRodrigues  ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:11] Juliana-R commented on #182
Closing as it's addressed by #190.

[2021-05-16 16:11] #182 closed

[2021-05-16 16:14] Juliana-R opened #237 "📜 Update staff on the wiki Member Directory + AOR pages"
**Context:**
It would be nice to have a way to contact the staff members on our directory page.

**Goal:**
- [ ] Update Member Directory + AOR pages on the Wiki according to infos compiled on #242
- [ ] Add staff email (`@lisbondatascience.org`) on the Member Directory + AOR pages of the Wiki
- [ ] Add staff on the Member Directory + AORS pages of the Wiki

**Acceptance criteria:**
- [x] Emails li

[2021-05-16 16:15] Juliana-R commented on #183
Decision is closed so will close isse, actionables moved to #237 .

[2021-05-16 16:15] #183 closed

[2021-05-16 16:16] Juliana-R commented on #187
Hey @PedroGFonseca @rjna ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:16] Juliana-R commented on #189
Will close as wontfix. No time for now to make this improvement.

[2021-05-16 16:16] #189 closed

[2021-05-16 16:19] Juliana-R commented on #192
I like this idea! ❤️ 💯

[2021-05-16 16:20] Juliana-R commented on #195
Will close this issue. Any new birthdays will be added directly to the calendar.

[2021-05-16 16:20] #195 closed

[2021-05-16 16:20] Juliana-R commented on #196
Hey @CatarinaSilva ! 👋

This issue has been inactive for more than 28 days now, and is now in `rotten` state. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:21] Juliana-R commented on #198
Hey @rjna! 👋

This issue has been inactive for more than 28 days now and is now in `rotten` status. 😢 Should we close it? 🤔

If no action is taken this issue might be closed on 16 July 2021.

🧹✨

[2021-05-16 16:23] Juliana-R commented on #201
Hey @ramaroesilva ! 👋

This issue has been inactive for more than 28 days now and is now in `rotten` status. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:24] Juliana-R commented on #202
This was moved to OKRs of Documentation AOR.
The system is already in place although staff might not be using it entirely yet.
Main labels to be used are:
- AOR
- priority (low, medium, high)
- other...
- rotten, rotting, dead (this is done in Documentation AOR weekly check)

[2021-05-16 16:24] #202 closed

[2021-05-16 16:25] #203 closed

[2021-05-16 16:27] Juliana-R commented on #205
Hey @minhhoang1023 ! 👋

What should we do about this? Is there actionable we should implement here?

---

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:28] Juliana-R commented on #207
Hey @thecarolmartins @CatarinaSilva @dominguezmaria @minhhoang1023 ! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:31] Juliana-R commented on #208
Hey @PedroGFonseca! 👋

This issue has been left abandoned more than 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:32] Juliana-R commented on #209
This issue looks like it can be closed. Reopen if necessary.

_Let's keep our Wiki fresh and clean. 🧹✨_

[2021-05-16 16:32] #209 closed

[2021-05-16 16:33] Juliana-R commented on #211
Hey @minhhoang1023 ! 👋

This issue has been ianctive for 28 days now, and thus gained the status `rotten`. 😢 Can you give it some love? ❤️

If no action is taken this issue will be closed on 16 July 2021.

🧹✨

[2021-05-16 16:36] Juliana-R commented on #212
Hey! 👋 This issue has been inactive for more than 14 days and will be changed to `rotting`.

[2021-05-16 16:38] Juliana-R commented on #214
Hey! 👋 This issue has changed to rotting status, since it had no action in 14 days. It will gain "rotten" status if no action is taken in the next 14 days.

@minhhoang1023 could you check the question above?

[2021-05-16 22:27] minhhoang1023 commented on #212
All questions have been addressed. I'd suggest leaving it until we go through it in the team meeting (next Saturday) and then we close it

[2021-05-16 22:30] minhhoang1023 commented on #205
We should document this on the wiki, namely removing the Org Admin AOR and add the unofficial responsibilities of others to the Wiki as the source of truth.

@Juliana-R What do you suggest to be the process for this?

[2021-05-16 22:34] minhhoang1023 commented on #146
Would there be a full staff meeting? - Yes! We had the Summit and love it that everyone contributed ideas :)
Would it be for everyone, or only AOR leads? - We should have it open to everyone
What would the regularity be? - Don't think we should have an established schedule for this, but we should aim for a meeting once everyone 2-3 months to discuss important issue

[2021-05-16 22:52] minhhoang1023 commented on #227
Thanks for drafting this up!

### Objective 1
@buedaswag has put together a very nice (almost finished) Jobs guideline for graduates. Shall we include this as an KR too?

### Objective 2
in KR2, "find jobs" you mean they actually get the actual job? If so, how will we be able to find out about this (e.g. surveys, etc.)? I'm asking because at the moment, we don't have any insights about the placeme

[2021-05-17 08:03] Juliana-R commented on #205
Since this does is a decision above AOR-level, I think it would make sense that an executive member makes those changes.

On the Wiki the process I have at the moment is:
- the AOR responsible for the process/decision being documented makes the changes and pulls them on new branch;
- the Documentation AOR reviews and approves the PR;
- the AOR responsible that made the changes merges the PR.

Maki

[2021-05-17 20:54] Juliana-R commented on #146
Shall we close this?

[2021-05-17 21:07] #146 closed

[2021-05-17 21:09] minhhoang1023 commented on #139
Confirmed that Faouzi won't be joining anymore

[2021-05-17 21:16] minhhoang1023 commented on #70
So I was discussing this with @dominguezmaria & @CatarinaSilva and we decided with the the below.

Main reason for this is to split up AORs with heavier work load into Course level. This allows the team to take a break between Prep Course & Academy. Let me know if anyone has a question :)

<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-7871cd41-7fff-c0e4-f1c3-229b39f72

[2021-05-17 23:04] minhhoang1023 commented on #225
Thanks for putting this together @ivopbernardo ! Agree with them as well as the priority from 1-4. Love KR4.2 - good idea to spread the words of our jobs page!

A comment aside, during our chat, we briefly talked about the possibility of having a business problem for Hackathons, similar to the one organized by Feedzai. I know this would require more efforts as Partnership would need to reach out t

[2021-05-17 23:14] minhhoang1023 commented on #229
Love this!

A small comment: we don't yet have a bank card, so it'd be a KR to get 'em 😅

[2021-05-18 12:50] cimendes commented on #89
Pinging @thecarolmartins as this is related to our website update! The current and still incomplete list of people for website update is available [here](https://docs.google.com/spreadsheets/d/1G-Li9z9v1wDlOZ76mj0vXa5gthFn-VHnunYe0lg_ZRw/edit?usp=sharing). I'm sort of dealing with this issue now so I can pick it up (given that I'm also in Ops) and unblock myself for the Comms AOR. 😜  Pinging @hcas

[2021-05-19 06:35] thecarolmartins commented on #89
Thanks Inês! We’ll be adding this info to the website as soon as we have
availability- probably after signups or, at least, when the marketing
strategy is up and running.

And since you’re doing a terrific job at compiling it all, yes, I’d say we
can use that as a db of current and former volunteers.

Inês Mendes ***@***.***> escreveu em ter., 18/05/2021 às
13:51 :

[2021-05-19 16:04] dominguezmaria commented on #235
💯 agree with this one! The wiki issues shouldn't be a dump site for ideas that we want to have in the back of our heads but won't do anything about.

[2021-05-19 16:20] dominguezmaria commented on #233
@thecarolmartins and @Juliana-R, after all I'll be in charge of admissions again!
I have on the admissions to-do list to review and update the wiki with all the relevant information, will add 23rd of May as a deadline for this. Sounds good?

[2021-05-19 16:53] dominguezmaria commented on #232
Got it! Sounds good to me :)

[2021-05-19 16:57] dominguezmaria commented on #229
I know, I know! KR1 implicitly says that, because to have "payment cards are in the name of volunteers who can reliably approve payments" means that we need to get them 😂

[2021-05-19 20:56] Juliana-R commented on #139
Thank you Minh! 🙏

[2021-05-20 01:16] dominguezmaria commented on #196
What would be the scope of this team? All the starters academy instructors or including prep course instructors as well?
We already have a curriculum developers team that could fit this purpose. We could give it a clean to remove old members, but from a repos permissions POV, that should be it!

[2021-05-20 01:20] dominguezmaria commented on #159
Agree with Minh!

[2021-05-20 01:22] dominguezmaria commented on #149
We can close this one! This [doc](https://docs.google.com/document/d/1FUxdipix-0JdIcDR1StDmO7NwT_O2lNIYD1DkqQuNYc/edit#) describes what's the admissions process, and we're using this [trello board](https://trello.com/invite/b/yzBo2EFZ/b571e4819963c38bf131811d6c878a7a/admissions) to manage our work.

[2021-05-20 01:22] #149 closed

[2021-05-20 01:24] dominguezmaria commented on #147
We've discussed this issue in the last exec sync and decided that the curriculum AOR should be led by different people for the starters academy and prep course. There should be one Curriculum lead for the Starters academy and the Prep course lead should be in charge of the prep course curriculum.

[2021-05-20 01:24] #147 closed

[2021-05-20 01:29] dominguezmaria commented on #145
@hcastilho, from what I understood you suggested creating a batch5-instructors team, which will give permissions to the batch5-instructors repo and will include all the currently active instructors.
But what do you suggest doing to the curriculum-developers team? If we just get rid of it, most of the people will miss access to the batch4-instructors repo, which is kind of useful...

[2021-05-20 01:30] dominguezmaria commented on #109
FYI, batch5 bootcamp curriculum is closed and can be consulted [here](https://github.com/LDSSA/curriculum-development/blob/master/curriculum/01-bootcamp-and-binary-classification.md)

[2021-05-20 01:34] dominguezmaria commented on #61
I'll be the new treasurer! Working on the transition with Joao Veiga. This is be a long and painful process 😢

[2021-05-20 01:34] #61 closed

[2021-05-20 19:51] cimendes opened #238 "LDSA Website - About us section update"
First, apologies for the spam of labels, but this issue involves many parts of the LDSA :)

The Commns AOR is now in the process of updating the LDSA website for Batch #5 and we need to update the team on our page "About Us".

For that we've created a list with:
- names
- photos
- job title
- company

The page is available here:
https://docs.google.com/spreadsheets/d/1G-Li9z9v1wDlOZ76mj0vXa5gthFn-

[2021-05-20 20:55] cimendes commented on #172
I guess it lines up with #238 😅

[2021-05-20 20:57] Juliana-R commented on #196
It would be for the instructors yes, so that when they're onboarded as instructor-only we know to which Team on GitHub we would assign them.

[2021-05-20 20:59] Juliana-R commented on #159
**Goal**:
- Add https://docs.google.com/document/d/1EDQF8lFZA0DYKhru57rxLI4d7s3ReiN90BFdjTHtP-Q/edit to the Wiki.

**Acceptance critera**:
- The documment is available on the Wiki page.

[2021-05-20 21:00] Juliana-R commented on #238
Should I add this to the Wiki ?

[2021-05-20 21:03] Juliana-R commented on #172
**Goal**:
- Update [Member Directoy page](https://ldssa.github.io/wiki/About%20us/Member-Directory/) according with the infos compiled on #238

**Acceptance criteria**:
- Final info is confirmed on #238
- Page is added and available on the Wiki (Goal)

[2021-05-21 18:01] CatarinaSilva opened #239 "Finalize calendar for batch 5 and make public"
- [x] Finalize calendar
   - [x] Add main events
   - [x] Add sub-events
       - [x] Bootcamp
       - [x] Hackathon 1
       - [x] Hackathon 2
       - [x] Hackathon 3
       - [x] Hackathon 4
       - [x] Hackathon 5
       - [x] Hackathon 6
       - [x] Capstone deadlines and events
   - [x] Add slido links in bootcamp
- [x] Make calendar public
- [x] Update wiki links

[2021-05-21 18:43] CatarinaSilva commented on #239
https://calendar.google.com/calendar/u/2?cid=Y18yODE2azVnYXVscmw3MXVybnJwbGhjbW05c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t

I've made this public but it seems it didn't work

![Screenshot 2021-05-21 at 19 41 38](https://user-images.githubusercontent.com/11612892/119184078-d227f380-ba6c-11eb-934b-79905f364648.png)

Would love some people to check if it is or isn't

[2021-05-21 18:52] Juliana-R commented on #239
@CatarinaSilva the link to public calendar (no request for link) is this one: https://calendar.google.com/calendar/embed?src=c_2816k5gaulrl71urnrplhcmm9s%40group.calendar.google.com&ctz=Europe%2FLisbon

[2021-05-21 19:41] minhhoang1023 commented on #61
@dominguezmaria you're the savior on this one. thanks so much for taking this on!

[2021-05-21 19:44] minhhoang1023 commented on #89
Thanks so much for picking this up @cimendes !

I'll create an issue for myself to create the form asking all of this info in advance when people joined

[2021-05-21 19:47] minhhoang1023 opened #240 "Create a Volunteer Onboarding form collecting main info"
To create a Google Form asking important details when a new volunteer joins. This then will be a part of our Database to keep track of past volunteers.

Information
- Name
- Email
- Phone (optional)
- Responsibility : AOR / Instructor
- Github handler

[2021-05-21 20:13] minhhoang1023 commented on #205
This week I won't be able to. But can try to do it the next weekend

[2021-05-21 20:14] minhhoang1023 commented on #214
@Juliana-R Good suggestions and we should add!

For next-batch suggestions like this, how do you think we should keep track of it?

[2021-05-22 07:58] Juliana-R commented on #233
Sounds good to me. We already have a lot of updated info that @CatarinaSilva has been putting together which we already reviewed and should be merged soon I think.
- Besides the pages related with the Starters Academy and Batch#5, is there anything else that's critical until tomorrow?

---
🙋  As for the admissions part, @dominguezmaria I can lend some time during the week to help out with the admi

[2021-05-22 08:49] Juliana-R opened #241 "add google drive index link to volunteer onboardin"
**Context:**
- We are missing the link for our Google Drive Index (this one: https://drive.google.com/drive/folders/1dlVRsbnHiw9xJYosAvtdkthqxDyU2-27) on the Volunteer Onboarding page: https://ldssa.github.io/wiki/Volunteers/Volunteer-Onboarding/.

**Goal:**
- Add the link to the Volunteer Onboarding page

**Acceptance Criteria:**
- The link is visible and works on the Wiki github page for Volunte

[2021-05-22 09:23] Juliana-R opened #242 "Complete #238 with list of past and present members"
**Context:**
- @cimendes started compiling a list of LDSA volunteers on #238
- we can complement this with a full list of past and present members, gathered from GitHub and our [Slack](ldsacademy.slack.com)

**Action items:**
- For each member (first and last name):
    - [x] add all people that was active on GitHub between July-2020 and 15-08-2021
    - [x] add all people that was active on our S

[2021-05-22 09:24] Juliana-R commented on #242
@minhhoang1023 pinging you as it's related with #240

[2021-05-22 09:28] Juliana-R opened #243 "Update GitHub Teams"
**Context:**
- Our teams on GitHub include members that have been inactive for more than 1 year

**Goal:**
- In order to keep our GitHub decluttered and as unambiguous as possible for new volunteers, it would make sense to update the teams with the actual current members they have and remove the inactive ones.

**Acceptance criteria:**
- [x] Decide whether to do this or not
- [x] Remove inactive m

[2021-05-22 09:34] #241 closed

[2021-05-22 09:36] Juliana-R commented on #222
@dominguezmaria can you give your 🦦 of approval above ?

[2021-05-22 10:19] dominguezmaria commented on #222
Hey @Juliana-R ! Sorry for my late reply!
These look great! I especially like the 🤝 emoji that make it super clear if the KRs are achievable by your AOR alone or if it depends on other AORs 👍

The only improvement I'd make is to synthesise the KRs a bit more, since KRs are meant for stakeholders who don't necessarily need to know **how** you're going to achieve them: they'll be happy as long as yo

[2021-05-22 11:03] CatarinaSilva commented on #239
it's already updated on the wiki

[2021-05-22 12:21] #75 closed

[2021-05-22 13:00] CatarinaSilva commented on #148
Added in the private calendar: https://calendar.google.com/calendar/u/2?cid=Y19vcWhqYmU5cjNjdjVrcWtvdGtlczM3M2RvZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t

[2021-05-22 13:01] CatarinaSilva commented on #148
I'm going to leave this for the weekend in case of last minute feedback and close it at the end of the weekend

[2021-05-22 13:03] CatarinaSilva commented on #78
See https://github.com/LDSSA/wiki/issues/148 for the delivery deadlines @TSFelg

Regarding recruiting/building teams, for this batch I'm pinging people to check the status of all teams before June and will coordinate with each team. But hopefully (and aligned with OKRs of several areas) we'll document better this process during this batch and on batch6 we'll add a deadline for team creation also 😄

[2021-05-22 13:04] CatarinaSilva commented on #73
As we're already delayed i've added here but with 1 month to all SLUs https://calendar.google.com/calendar/u/2?cid=Y19vcWhqYmU5cjNjdjVrcWtvdGtlczM3M2RvZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t

@FilipaRodrigues please check if it's ok and we'll proceed with locking these

[2021-05-22 13:09] CatarinaSilva commented on #152
As this will be more impactful for batch 6 it is not a priority right now, but it's still valid, so let's leave it open. I'll move to a different milestone, related to setup process stuff for batch 6

[2021-05-22 13:20] CatarinaSilva opened #245 "Organize batch 5 instructor-related information"
- [x] Decide which section all of this information should be [Update: README for most of the issues, remaining will be moved to batch6 to be added in the wiki]
- [ ] Document #144  [Moved to #279]
- [x] Document #65
- [x] Document #153
- [x] Document #154
- [x] Add link to calendar there (see https://github.com/LDSSA/batch5-instructors/pull/69)

[2021-05-22 14:41] cimendes commented on #227
Some symbiotic synergy can be gained here between the Jobs and "Comms & Bebes" AORs. We can use the social medial channels to promote the Jobs page (example post: 2 new jobs added!), and at the same time increase our brand exposure and the interest of companies to collaborate with us (and therefore increase the number of job postings in our page). I suggest a brainstorm session between the two AOR

[2021-05-22 15:02] thecarolmartins commented on #227
I totally agree! Let’s see what Pedro has to say 🙂

iPhone. iTypos. iApologize.

[2021-05-22 15:08] cimendes commented on #230
Do we need to have a sync meeting about syncing with Marketing and Comms AOR (comms calendar) @thecarolmartins @dominguezmaria

[2021-05-22 15:40] CatarinaSilva commented on #239
Everything updated in the student calendar

[2021-05-22 15:40] #239 closed

[2021-05-22 22:27] dominguezmaria commented on #243
@Juliana-R I've done a clean up to the Curriculum Developers team. All the other teams seemed updated to me.
Let me know if I should do something else!

[2021-05-22 22:31] dominguezmaria commented on #242
[code]

I think we could use as criterium to have no activity on Slack and Github for over a year (if we have a volunteer who regularly contributes with an SLU per batch, we don't want to consider them inactive in the meanwhile).
I'm for dropping the "not assigned to an AOR on the Wiki/issues" because if we just consider Slack + Github activity we can more easily automate this.

[2021-05-22 22:35] dominguezmaria commented on #233
OMG, that's awesome @Juliana-R !! Could I have some help from the documentation goddess? 😄
I have described the admissions process [here](https://docs.google.com/document/d/1FUxdipix-0JdIcDR1StDmO7NwT_O2lNIYD1DkqQuNYc/edit#). It would be super useful to add this to the wiki in the most batch agnostic way possible, so that we can re-use it every year. Something like, we would just need an extra pag

[2021-05-23 08:43] thecarolmartins commented on #233
sorry, missed the notifications for this. On my end, I don't have anything that's critical besides the LDSSA and batch #5 information (overall information)

[2021-05-23 12:01] CatarinaSilva commented on #233
Hi @thecarolmartins I've updated all info on the academy itself, except for FAQs, but I'll definitely open a PR with the certificate expected time.

@dominguezmaria I can try to help out updating that page. Btw should we put it inside the starters academy section? Right now it's an orphan section but that is weird since it doesn't apply to the prep course

Besides that is there any urgent thing mi

[2021-05-23 12:09] CatarinaSilva commented on #233
@thecarolmartins https://github.com/LDSSA/wiki/pull/246

[2021-05-23 15:30] Juliana-R opened #247 "update kramdown in Gemfile"
**Context**
- Dependabot alert for kramdown version https://github.com/LDSSA/wiki/security/dependabot/docs/Gemfile.lock/kramdown/open

**Goal:**
- Update the version on Gemfile on new branch
- Test website on localhost
- Merge to main

**Acceptance Criteria:**
- [ ] GitHub pages are functional (5+ pages ok, search is working) after merge
- [ ] Dependabot alert no longer appears

[2021-05-23 15:33] Juliana-R opened #248 "📜 💻 Create template issue on wiki repo"
**Context:**
- In order to facilitate good practices when opening issues and make sure the assignee has enough data to be able to act on the issue and ultimately close it, we should create an automatic template with the minimum sections of the issue and a short description of the content that should go into each

**Goals:**
- Implement a general template following the links given by @cimendes :

[2021-05-23 17:40] thecarolmartins commented on #233
We have until signups to close the Refund Policy and we’ll make it very clear that people should read it before applying. Should we add that to the acceptance criteria? I don’t know if candidates need to check boxes acknowledging they’ve read the  code of conduct. If yes, maybe we could add one to make sure they’ve read the refund policy too?

thanks @CatarinaSilva ! I’ll be closing the landing pa

[2021-05-23 18:12] CatarinaSilva commented on #148
Alright , closing since it was added on the calendar

[2021-05-23 18:12] #148 closed

[2021-05-23 18:12] CatarinaSilva commented on #78
Closing this since #148 was solved

[2021-05-23 18:12] #78 closed

[2021-05-23 18:31] CatarinaSilva commented on #158
Marked checkpoints in calendar

[2021-05-23 18:31] #158 closed

[2021-05-24 08:58] Juliana-R commented on #214
I have a pending suggestion which would be to have a backlog for long-term issues.

So for long-term issues we would:
- label as "backlog"
- add their number to a backlog section on the Wiki
- close them

This would allow us to keep the wiki issues decluttered but at the same time not lose track of the backlog issues we want to act on next year/years.

If you agree with this I can start to impleme

[2021-05-24 09:00] dbsousa01 commented on #214
we can also create a Project for the corresponding repo and put these tickets in the backlog

[2021-05-26 09:06] fabiocruz commented on #139
I confirm that I completed all steps of the onboarding process 🙌 I'll be joining the Admissions AOR!

[2021-05-26 09:58] CatarinaSilva commented on #73
Closing this as it was already shared in diverse channels without any further comments

[2021-05-26 09:58] #73 closed

[2021-05-26 10:01] CatarinaSilva opened #250 "Kick off teaching batch 5"
- [ ] Staff all needed teams/units
- [ ] Ensure base batch5-instructor repo is created
- [ ] Create templates for issues in batch5-instructor repo
- [ ] Create example milestones/issue/structure for specialization
- [ ] Make sure all initial milestones/issues are created and there's visibility of instructors <> QAs

[2021-05-26 10:02] #250 closed

[2021-05-26 10:12] CatarinaSilva commented on #156
After positive feedback via slack and no comments here, added all dates in the student calendar, I'll close this now

[2021-05-26 10:12] #156 closed

[2021-05-26 11:09] Juliana-R opened #251 "Wiki - correct image path"
**Context**:
The image in "Summary" section is not showing on https://ldssa.github.io/wiki/Applicants/Application-process/

`<img src="docs/images/admissions_flow.png"/>`

**Goal**:
- [x] Correct the path on a new branch
- [x] Merge to main

**Acceptance criteria**:
- [x] image shows up on https://ldssa.github.io/wiki/Applicants/Application-process/

[2021-05-26 11:12] #251 closed

[2021-05-26 11:25] anaritarc opened #253 "Prep Course | Retention - Brainstorming"
**Context:** On the prep course meeting of 25/05/2021 the following ideas were given as retention incentives:
1. Have a fee to enrol the course.
	- issue: no certificate.
2. Prep course students didn't do the exam.
	- issue: unfairness.
3. Prep course students would have priority to enrol the starters academy.
	- issue: unfairness.
4. x number of openings just for prep course students (that succee

[2021-05-27 12:41] Juliana-R commented on #139
Thank you for letting me know @fabiocruz ! Will update. ☺️

[2021-05-27 12:59] #243 closed

[2021-05-27 13:07] Juliana-R commented on #242
Actually the Slack part might not make sense. Someone might still be social on Slack from time to time but not actively contributing to anything LDSA-related. 🤔

And for people that are not instructors nor assigned to an AOR, however they might contribute from time to time... do we consider them active volunteers? Do we open a section for other contributors (non-regulars?)... how should we present

[2021-05-27 20:51] minhhoang1023 commented on #214
@Juliana-R Great idea! It'd be great if we can have some sort of tags, like this one is "Prep Course curriculum". So tha tnext year when we start thinking about the curriculum, we can easily find it.

[2021-05-27 20:53] minhhoang1023 commented on #235
@Juliana-R  Big +1 on this one. As we only have one batch every year, the backlog is something very much needed.
Thank you for taking the initative on this!

[2021-05-28 15:52] CatarinaSilva opened #254 "Admission SLU allocation"
SLU | Name | Last year instructor | Batch 5 instructor |
-- | -- | -- | --
SLU01 | Pandas 101  | @veiguinha  | @Juliana-R
SLU02 | Subsetting Data in Pandas | @CatarinaSilva | @CatarinaSilva
SLU03 | Visualization with Pandas &amp; Matplotlib | @manugarri |  @Jujulian3

Contents and minimum changes:

* Learning notebooks - minimum change: review
* Example notebooks - minimum change: review
* Exercis

[2021-05-28 15:53] CatarinaSilva commented on #254
Tagging potential interested people from @LDSSA/curriculum-developers @LDSSA/prep-course-instructors

[2021-05-28 16:04] CatarinaSilva opened #255 "Bootcamp SLU allocation"
SLU | Name | Presentation date | Last year instructor | Batch 5 instructor | Notes | Status |
-- | -- | -- | -- | --| --| --
SLU04 | Basic Stats with Pandas | 24th July | @wilsonramos1  | @wilsonramos1 | | In progress 🛠 |
SLU05 | Covariance &amp; Correlation | 24th July | @PedroGFonseca  | @ClaraBarreto  | | Submitted to QA ☑️ ||
SLU06 | Dealing with Data Problems | 24th July | @InesPessoa  | @cim

[2021-05-28 16:05] CatarinaSilva commented on #255
Tagging potential interested people from @LDSSA/curriculum-developers @LDSSA/prep-course-instructors

[2021-05-28 20:48] Luisfandrade commented on #255
I'd be happy to help out here (with SLU15, for example, as I've done it in Batch 3)

[2021-05-29 12:47] Juliana-R commented on #194
closed - to be address here https://github.com/LDSSA/wiki/issues/237

[2021-05-29 12:47] #194 closed

[2021-05-29 12:48] Juliana-R commented on #26
Added to https://github.com/LDSSA/wiki/issues/237.

[2021-05-29 12:48] #26 closed

[2021-05-29 12:49] Juliana-R commented on #172
Moved to #237

[2021-05-29 12:49] #172 closed

[2021-05-29 13:31] Juliana-R commented on #206
Should we close this one @CatarinaSilva ?

[2021-05-29 13:50] Juliana-R commented on #254
Hi @CatarinaSilva ! I don't mind helping with SLU01 or SLU02 if we don't have anyone interested. As to the deadline I'm not sure I can have new exercises ready in 10 days.

Let me know what you think. ☺️

[2021-05-29 13:57] Juliana-R commented on #192
@minhhoang1023 this event has already taken place, shall we close this?

[2021-05-29 14:05] Juliana-R opened #256 "Create Student Onboarding Page for Batch 5"
**Context:**
- It was previously suggested by @minhhoang1023 that we have a student onboarding page on the Wiki for Batch#5 -- https://github.com/LDSSA/wiki/issues/51, similar to the one we had for Batch#3 on the old wiki -- https://github.com/LDSSA/wiki/blob/main/old_wiki/Batch3-Student-Onboarding.md

**Goal(s):**
- [ ] Check if @CatarinaSilva and @rjna AORs (Teaching, Student Success) agree with

[2021-05-29 14:06] Juliana-R commented on #51
Moved to new issue here: #256. Pending approval and possible execution by Teaching and Student Success AOR.

[2021-05-29 14:06] #51 closed

[2021-05-29 14:11] Juliana-R opened #257 "Update the start page of the Wiki regularly"
**Context:**
- The Wiki start here page contains the presentation of the LDSA but also some more current info, such as which AORs we're hiring to.
- It should be updated weekly and/or monthly and contain relevant info depending on the time of year (e.g. as of now it should contain  a link to the section on Batch#5 LDSSA pages)

**Goals:**
- [x] Set a recurring time for the Documentation AOR to upd

[2021-05-29 14:17] Juliana-R commented on #214
@dbsousa01 go ahead and do it and ping me, please! 😄 However maybe better keep the project in the Wiki, as we're not reusing the repo next year (we usually create a new one each year).

[2021-05-29 14:27] Juliana-R commented on #233
@dominguezmaria only saw this now!

Please let me know if there is anything pending from me on that page ? 🙏

[2021-05-29 14:27] dbsousa01 commented on #214
if that is the case then maybe we should have the TODO's for every next year's batch in the wiki as projects (upgrades and todos for the new batch and prep course)

[2021-05-29 14:30] dbsousa01 commented on #214
done @Juliana-R

[2021-05-29 14:30] cimendes opened #258 "troubleshooting: WLS & Jupyter"
**command:**
`jupyter notebook` on WLS

**error:**
![image](https://user-images.githubusercontent.com/15690332/113190125-e06b4780-9253-11eb-96c7-b1ef334f5c27.png)

**solution:**
Use the full command for opening a jupyter notebook on WLS
`jupyter notebook --NotebookApp.use_redirect_file=False`

[2021-05-29 14:31] dbsousa01 commented on #258
Added to the next year's prep course project in the wiki

[2021-05-29 14:39] Juliana-R commented on #196
Closing with note: As of now we will continue using the same GitHub Team for Teaching and Curriculum Developers members.
@dominguezmaria @CatarinaSilva reopen if necessary.

[2021-05-29 14:39] #196 closed

[2021-05-29 14:41] Juliana-R commented on #70
Is this to be updated on the Wiki?
If so let me know so I can open an issue with the assignee and goals for this task.

[2021-05-29 14:47] Juliana-R commented on #214
I like this! Organized and centralized. ✔️

For the Prep Course it might make sense yes, (@minhhoang1023 what do you think?).

As for the LDSSA it depends -- if it's specific to Curriculum it might be better to move it to the Curriculum repo.

As to the LDSA in general, for now we can add them into backlog -- what I was thinking though was to create a Project called backlog instead of putting them

[2021-05-29 14:50] Juliana-R commented on #214
On a second though @dbsousa01 , it might be better to leave those Prep Course tickets on the Prep Course repo and just tag them as backlog, so we know which ones are for next year.

Then when we create the new repo for 2022, we move them to there.

What do you think?

[2021-05-29 15:23] Juliana-R opened #259 "Find someone for Operations AOR"
**Context:**
- We need someone to lead Operations AOR

**Goals:**
- Find person for Operations AOR
- Add member to GitHub team and Wiki pages
- Add OKRs to the Wiki

**Acceptance criteria:**
- Operations AOR is on the Wiki pages (Member Directory, OKRs, AOR description)

@minhhoang1023 let me know in case any of this is already addressed somewhere else. Did not find an issue for it. 🙏

[2021-05-29 15:25] Juliana-R commented on #155
@hershaw as you're now leading Community AOR, do you want to pick this up or should we close it?

[2021-05-29 17:06] CatarinaSilva commented on #254
That would be great @Juliana-R can you pick up SLU01? You can sync with QA about the exact date you can deliver I believe. In the meantime, I'm hoping to submit a couple of PRs with base structure to https://github.com/LDSSA/batch5-instructors so if you start working on it please do so locally from the previous year's repo and hopefully next Friday we'll have the batch5 repo setup with instruction

[2021-05-29 17:44] FredericoCoelhoNunes commented on #255
Hi, I won't be participating in the bootcamp this year. Can anyone replace me on SLU11 - Tree Based Models? Thanks.

[2021-05-29 18:33] Juliana-R commented on #254
Yes, I'll take SLU01! 😄 👍

[2021-05-29 19:23] CatarinaSilva commented on #254
Thanks, I'll update the issue

[2021-05-29 19:26] CatarinaSilva commented on #255
Thanks @Luisfandrade , I think it's great if you take SLU15, I'll update the issue. Thanks for the heads up @FredericoCoelhoNunes . Will you help with spec 2 though? I should open an issue soon for that one

[2021-05-29 20:33] Juliana-R commented on #235
Ok so after some thought on this I don't think the Wiki page would be a good place for a backlog, for now I'm adding these issues on a project called "Backlog", following the idea from @dbsousa01 .

Let me know if anyone has a better suggestion of how to create a backlog on GitHub.

[2021-05-29 20:36] Juliana-R commented on #65
Closing this issue as we have an issue open to make sure we document this here https://github.com/LDSSA/wiki/issues/245.

Reopen if necessary.

[2021-05-29 20:36] #65 closed

[2021-05-29 22:01] Juliana-R commented on #198
I believe this issue is no longer being used @rjna. Will close, please reopen if necessary.

[2021-05-29 22:01] #198 closed

[2021-05-29 22:05] Juliana-R commented on #144
Closing this issue as it's mentioned on https://github.com/LDSSA/wiki/issues/245 as source of info and no further actionable is to be left here.

Reopen if necessary.

[2021-05-29 22:05] #144 closed

[2021-05-29 22:10] Juliana-R commented on #207
Hey @thecarolmartins @CatarinaSilva @dominguezmaria @minhhoang1023 ! 👋

This issue has gained rotting status, for being inactive in the last 14+ days. It will become rotten if no action is taken in the next 14 days and might be closed after 10 weeks of inactivity.

_Let's keep our Wiki fresh and clean!_ 🧹✨

[2021-05-29 22:12] Juliana-R commented on #206
It looks like all deliverables (except for the template) were completed. Since the OKRs will be transferred to the Wiki a template might not make sense at this point. I will close this issue as completed. Reopen if necessary.

[2021-05-29 22:12] #206 closed

[2021-05-29 22:15] Juliana-R commented on #85
Hey @thecarolmartins @cimendes ! 👋

This issue has gained `rotting` status, for being inactive in the last 14 days. It will become `rotten` if no action is taken in the next 14 days and might be closed after 10 weeks of inactivity. 😢

Care to give it some love? ❤️☺️

[2021-05-29 22:20] Juliana-R commented on #220
Hey @thecarolmartins @minhhoang1023 ! 👋

This issue has gained `rotting` status, for being left abandoned for more than 14 days.😢 Issues become`rotten` after 28 days and might be closed after 10 weeks inactive.

Care to give it some love? ❤️☺️

[2021-05-29 22:23] Juliana-R commented on #151
Hey @ramaroesilva ! 👋

This issue is still waiting for your attention. 🥺 Can you give it some love? ❤️

If no action is taken, this issue might be closed in the next 4 weeks.

---
_Let's tidy up our Wiki. It ain't gonna clean itself!_ 🧹😅

[2021-05-29 22:29] Juliana-R commented on #176
@hcastilho can you please add the link to the issue for this change?

[2021-05-29 22:31] Juliana-R commented on #177
Page was already updated. Will close.

[2021-05-29 22:31] #177 closed

[2021-05-29 22:33] Juliana-R commented on #212
@minhhoang1023 shall we close this now the meeting has taken place?

[2021-05-29 22:34] Juliana-R commented on #219
Hey @thecarolmartins @CatarinaSilva ! 👋

What is pending here?

---
This issue has gained `rotting` status, for being left abandoned for more than 14 days.😢 Issues become`rotten` after 28 days and might be closed after 10 weeks inactive.

[2021-05-29 22:37] Juliana-R commented on #235
Closing after decision mentioned above. Backlog will be stored in backlog project: https://github.com/LDSSA/wiki/projects/4, until a better alternative is found. All such issues are traceable by the label "backlog".

Current documentation checklist for weekly issue grooming available here: https://docs.google.com/spreadsheets/d/1XdfdnIsckGyflxQctvGkU3BfxqMI0gElupfAC_udU-M/edit#gid=255380370.

[2021-05-29 22:37] #235 closed

[2021-05-29 22:43] Juliana-R opened #260 "📜 💻 Automate the boring stuff -- Issue grooming&cleaning"
**Context**:
- currently issues grooming and rotting status is made manually as per this checklist: https://docs.google.com/spreadsheets/d/1XdfdnIsckGyflxQctvGkU3BfxqMI0gElupfAC_udU-M/edit#gid=255380370

**Goals**:
- [ ] automate the "rotting" and "rotten" labelling, as well as comment message pinging author and assignee
- [ ] automate message for issues without an assignee
- [ ] automate message

[2021-05-29 22:45] Juliana-R commented on #257
Done here: https://docs.google.com/spreadsheets/d/1XdfdnIsckGyflxQctvGkU3BfxqMI0gElupfAC_udU-M/edit#gid=255380370.

[2021-05-29 22:45] #257 closed

[2021-05-29 22:52] Juliana-R commented on #176
Moved to backlog.

[2021-05-29 22:52] #176 closed

[2021-05-29 22:59] Juliana-R opened #261 "Capstone allocation"
### Team

Batch 4 team:

- **Catarina Silva (@CatarinaSilva ) [lead]**
- Maria Dominguez (@dominguezmaria)
- Pedro Fonseca (@PedroGFonseca) - support if needed

Batch 5 team:

| Person | Task(s)   |
|--------|------|
| @CatarinaSilva  | Coordinating |
| @BAZAntonio  |   Preparing dataset and problem  |
| @PedroGFonseca  | Mentoring |
| @dominguezmaria   |   Mentoring/QA/Grading   |
| @minhhoang102

[2021-05-30 18:46] FredericoCoelhoNunes commented on #255
@CatarinaSilva yup, I'm taking the BLU03 - Data Sources and helping with that spec's hackathon

[2021-05-30 19:04] Jujulian3 commented on #254
Hi @CatarinaSilva,
I will take the SLU03 | Visualization with Pandas &amp; Matplotlib ;)
Thanks

[2021-05-31 01:18] PedroGFonseca commented on #233
i would say giving the expectation of 1 to 3 months is reasonable, but we should invest separately in automating the certificates (tracked in #227)

[2021-05-31 01:21] PedroGFonseca commented on #227
Fair question, maybe we ask the job posters to tell us when they ask to take down the post?

All for it

Having said that, I am currently open to collaborating on this OKR but handing over the leading of it, as the timezone difference makes it quite tricky. @minhhoang1023 do you have any good leads on an OKR lead for this one?

[2021-05-31 13:17] wilsonramos1 commented on #255
Hello @CatarinaSilva, I can do SLU04 again.

[2021-05-31 21:51] InesPessoa commented on #255
Hello @CatarinaSilva , I can't manage to prepare the SLU06 for the 24th of June, so if anyone wants to handle it, it would be great.

[2021-05-31 22:02] #192 closed

[2021-05-31 22:03] minhhoang1023 commented on #70
@Juliana-R Yes it should - thank you!

[2021-05-31 22:04] minhhoang1023 commented on #212
@Juliana-R I'd still need to create a wiki page for this. Basically copy paste it. Will close when it's done

[2021-06-01 08:21] TSFelg commented on #255
Heya @CatarinaSilva, I'm not available for SLU08, would be great if we can find someone else.

[2021-06-01 08:30] cimendes commented on #255
I think I can take on the challenge of SLU06 @CatarinaSilva @InesPessoa :)

[2021-06-01 12:38] manugarri commented on #254
i can do the dataviz one as usual :)

[2021-06-01 20:39] Juliana-R opened #262 "📜 Compile all current pages that need updating"
**Context:**
We lack updated information in a few pages on the Wiki. For example: https://ldssa.github.io/wiki/Instructors/Using-nbgrader-for-Exercise-Notebooks/.

**Goal:**
- Compile a list of all pages on the Wiki that are **not** updated as of now

**Acceptance criteria:**
- [ ] Put list on this issue
- [ ] Open an issue for updating the page and assign it to the responsible AOR/AORs

[2021-06-01 20:41] Juliana-R commented on #223
@thecarolmartins where can I find the official final OKRs for Marketing and Communication?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:41] Juliana-R commented on #224
@hcastilho where can I find the official final OKRs for DevOps?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:42] Juliana-R commented on #225
@ivopbernardo could you confirm if this is the official final OKRs for Partnerships?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:43] Juliana-R commented on #226
@FilipaRodrigues could you confirm if this is the official final OKRs for QA?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:43] Juliana-R commented on #227
@PedroGFonseca where can I find the final official list of OKRs for Jobs?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:44] Juliana-R commented on #229
@dominguezmaria can you confirm this is the final list for OKRs of Finance?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:45] Juliana-R commented on #230
@dominguezmaria can you confirm this is the final list for OKRs of Admissions?
I should put them soon on the Wiki. ☺️

[2021-06-01 20:45] Juliana-R commented on #231
@dominguezmaria can you confirm this is the final list for OKRs for Curriculum?
I should put them soon on the Wiki. ☺️

[2021-06-02 09:29] cimendes opened #263 "Send certificates to Batch #4 Graduates"
**Context:**
The certificates for the Batch #4 graduates are ready. These need to be sent out to the students via e-mail.

**Goal:**
- [x] Compile a list of graduates with name, e-mail information and link for certificate
- [x] Write e-mail template
- [x] Send graduates from Batch #4 their certificate
- [x] Post on Batch 4 slack an announcement that the certificates are in their inboxes

**Accepta

[2021-06-03 08:57] thecarolmartins commented on #223
Here @Juliana-R : https://docs.google.com/document/d/1ydmFg8DPDeqTZPhE3abWm-ZXeFnsdbwyYO4JG4goXWU/edit#

😄

[2021-06-03 10:06] dominguezmaria commented on #242
"Someone might still be social on Slack from time to time but not actively contributing to anything LDSA-related" -> I think we can live with this. We can even argue that chatting on Slack is participating :p

Agree with having a section for people who are not assigned to an AOR.

Most importantly, whatever solution we come up with must be easy to implement and maintain. And this is probably more

[2021-06-03 10:13] dominguezmaria commented on #231
Confirmed!

[2021-06-03 10:18] dominguezmaria commented on #230
@cimendes if we could do that asynchronously it would be easier for me! I'm aware of [this](https://docs.google.com/spreadsheets/d/1EHLP0L1DyfTMdNA_ek1wDxWXMXkyr-kaK7FQB1dY-_s/edit#gid=0) marketing calendar and have documented the admissions process [here](https://docs.google.com/document/d/1FUxdipix-0JdIcDR1StDmO7NwT_O2lNIYD1DkqQuNYc/edit#), do you think there is something more we should sync abo

[2021-06-03 10:19] dominguezmaria commented on #229
Confirmed!

[2021-06-03 10:30] FredericoCoelhoNunes opened #264 "Create a page: how to start from last batch's BLU/SLU"
# Description

There is [quite a nice page](https://ldssa.github.io/wiki/Instructors/How-to-build-Learning-Units/) about how to build learning units in the Wiki. However, I feel like for 99% of the cases, most people will not start from scratch, but rather from last batch's learning unit.
I always find this process a bit confusing, and I assume it can be a bit overwhelming for new instructors:

*

[2021-06-03 10:43] dominguezmaria commented on #233
@Juliana-R , if you could check if there is anything missing in the wiki, from what is described in the admissions doc [here](https://docs.google.com/document/d/1FUxdipix-0JdIcDR1StDmO7NwT_O2lNIYD1DkqQuNYc/edit#), that would be super helpful. If you're not available anymore, no worries, let me know!

The refund policy is not created yet!

[2021-06-04 11:08] Juliana-R commented on #264
@hcastilho assigning this to your team as it might fall under @LDSSA/infrastructure.

@dominguezmaria @CatarinaSilva FYI

[2021-06-04 11:11] Juliana-R commented on #229
Thank you @dominguezmaria ! 😄

[2021-06-04 11:14] Juliana-R commented on #145
Hey @hcastilho ! 👋

Kind reminder to the question above.

---
This issue has gained `rotting` status, for being left abandoned for more than 14 days.😢

[2021-06-04 11:18] Juliana-R commented on #89
I believe we have open issues for all the discussions above, so I'll close this for now. Reopen if necessary!

[2021-06-04 11:18] #89 closed

[2021-06-04 11:21] Juliana-R commented on #178
Hi @PedroGFonseca, kind reminder ^
Don't leave it hanging there...
![image](https://user-images.githubusercontent.com/52176135/120793409-c4737300-c52e-11eb-9d6f-d347c67be6b3.png)

[2021-06-04 11:25] Juliana-R commented on #109
Should we close this issue @dominguezmaria ?

[2021-06-04 11:33] Juliana-R commented on #126
@hershaw may I consider this the final OKRs list for Community to be included in the Wiki?

[2021-06-04 11:37] Juliana-R commented on #152
Hi @CatarinaSilva ! The Documentation proposal for long-term issues is to close them and leave them tagged as backlog to be traced in the future.

It will still be accessible in the [backlog](https://github.com/LDSSA/wiki/projects/4).

Can I close it?

[2021-06-04 11:48] Juliana-R commented on #217
Hi @rjna ! Is this the final list of OKRs for Student Success?

Lemme know so I can add it to the Wiki. 😄

[2021-06-04 14:42] CatarinaSilva commented on #254
Hi @manugarri yap @Jujulian3 is on it this time, but there's many more needing love here: https://github.com/LDSSA/wiki/issues/255

[2021-06-04 14:43] CatarinaSilva commented on #255
Thanks for the heads up @InesPessoa @TSFelg.

@cimendes that would be great! Will put you down for SLU06 💪

@wilsonramos1 thanks, will register that on the main body of the issue 👍

[2021-06-04 14:47] CatarinaSilva commented on #264
Hi @FredericoCoelhoNunes this sounds like a great idea! do you want to take the lead on it? 😉

We could:

1. add a section to the wiki page itself explaining that
2. add it as part of the README in batch5-instructors

[2021-06-04 14:51] CatarinaSilva commented on #208
Hi @PedroGFonseca as we've closed most of the rules and are already sharing the wiki in the communications, my suggestion would be not to change it for batch 5 and re-evaluate for batch6 (hopefully next batch will start being prepared sooner). If you agree I'll move this to https://github.com/LDSSA/wiki/milestone/6

[2021-06-04 14:52] CatarinaSilva commented on #152
@Juliana-R  I would prefer to leave it open but given I have them under a milestone and tagged it is not a blocking thing.

Can you point me to the doc/issue with that proposal please?

[2021-06-04 15:00] CatarinaSilva opened #265 "Specialization 2 allocation"
### Team

Batch 4 team:

- **Nuno Bras (@nunobbras) [lead]**
- Rui Figueiredo (@ruimgf)
- Frederico Nunes (@FredericoCoelhoNunes)
- Miguel Dias (@buedaswag)

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
BLU01 | Messy Data | 2nd July |  16th August |   @nunobbras |  @PedroRibeiro80

[2021-06-04 17:57] FredericoCoelhoNunes commented on #265
I'm taking BLU03 as always, already done half of it.

It will require some structural changes this year though, which might lead to delays depending on how available the Devops team is. I want us to host our own API/website for the exercises so it doesn't end up like last batch when the live API we were using went down a couple of days before the BLU delivery date! It's already enough of a pain to

[2021-06-04 17:58] FredericoCoelhoNunes commented on #264
@CatarinaSilva I am really sorry but I can't... this month I am starting two work projects, I have my BLU/hackathon, and a lot of real life stuff that is also taking a bunch of my time. I am completely swamped...

[2021-06-04 18:19] dominguezmaria commented on #109
@Juliana-R we'll be tracking curriculum changes on the [curricululm-development ](https://github.com/LDSSA/curriculum-development) repo. I think we can close this one!

[2021-06-04 19:57] dominguezmaria opened #266 "Update the estatutos of our Associação"
We need to update the _estatutos_ of our non-profit association.
_Estatutos_ are roles that we are legally obliged to fill in, and we need these people's approval and signature to make structural changes to our association.

This table shows the current state of our _estatutos_ and the updates that we're making.

| Orgão | Position | Current | New |
| -- | -- | -- | -- |
| Direção | Presidente | S

[2021-06-05 13:56] CatarinaSilva commented on #154
Under review here: https://github.com/LDSSA/batch5-instructors/pull/13

[2021-06-05 13:56] CatarinaSilva commented on #153
Under review here: https://github.com/LDSSA/batch5-instructors/pull/13

[2021-06-05 14:00] CatarinaSilva commented on #254
Hi @Jujulian3 @Juliana-R I'm submitting the base files for the repo along with issue templates and some process [here](https://github.com/LDSSA/batch5-instructors/pull/13). Please check it out as it will probably be the process to follow

[2021-06-05 14:11] CatarinaSilva commented on #263
Hi @cimendes is this something you think is valuable as part of the certificate or just as extra info to provide to the students? If the later, then maybe it can be delivered as a separate document and not part of the curriculum.

[2021-06-05 14:14] cimendes commented on #263
After some discussion with @thecarolmartins, and to accelerate the delivery of the certificates, I think the feedback can be delivered in a separate communication. :)

[2021-06-06 18:32] thecarolmartins commented on #85
hey @Juliana-R, we are waiting to insert this on a social media post and we have a trello card linking to this issue. However, @cimendes what do you think? This issue still needs to be open or it can be closed? I've added the info to the card, so I'll let you decide whats best 😄

[2021-06-06 18:36] thecarolmartins commented on #232
all is set, I'm closing this one

[2021-06-06 18:36] #232 closed

[2021-06-06 18:40] thecarolmartins commented on #230
@cimendes @dominguezmaria - I don't think there's anything else to sync, however, we'll review everything.

@dominguezmaria there are still minor details in the [email communications](https://docs.google.com/document/d/1IiN_qEslxIeHQKeYXmRVJ-x6HA7pxn_6zn-JglJiDgc/edit#heading=h.zhxug87r8tsk) that need to be checked by you. What's the status of the portal copy? Do you still want me to review it?

[2021-06-06 18:42] thecarolmartins commented on #220
hey @minhhoang1023 just checking on the news on this? We still need to create the page on the website. We're currently less than 2 weeks away, so I'm starting to have a need for this to give me time to do it :) Do you have a timeline of when you can have It ready (so I can organize it on my end)?

[2021-06-06 18:42] thecarolmartins commented on #219
nothing! Happy to close another one!

[2021-06-06 18:42] #219 closed

[2021-06-06 18:43] thecarolmartins commented on #53
should we do a Y/N poll to vote for this?

[2021-06-07 19:02] minhhoang1023 commented on #220
@thecarolmartins Sorry for the delay. The refund policy is ready here at:

https://docs.google.com/document/d/11ZpamNHNDdQ2NS9DSFS_tbBj0UDz7Vbd7L2jIZgUC1g/edit#

any feedback would be great!

[2021-06-07 22:16] ruimgf commented on #265
I can take BLU02 again this year 👍

[2021-06-08 13:22] Juliana-R commented on #152
Hi @CatarinaSilva ! It was decided here https://github.com/LDSSA/wiki/issues/23, approved by  @minhhoang1023 and @dominguezmaria.

Let me know if I should revert this decision.

[2021-06-08 13:26] Juliana-R commented on #152
I did not find a better way to have a backlog on GitHub than the one proposed there (tagging the issue as backlog, saving it in project "backlog" and closing it), but if you know of any better alternative let me know, I understand this is not the optimal way to do it.

[2021-06-08 20:34] #103 closed

[2021-06-09 20:15] Juliana-R commented on #254
Hi @CatarinaSilva sorry I'm a bit lost:
- where can I find the guidelines on how to build the SLU and what is different this batch
- where can I find the guidelines on how to submit the SLU

[2021-06-10 18:36] cimendes commented on #263
**Currently blocked:** Certificates need to be made available to everyone with the URL (tagging @PedroGFonseca for assistance with this)

[2021-06-11 15:30] dominguezmaria commented on #266
I've updated the entry above to add @ivopbernardo as the 2º Secretário do Conselho Fiscal.
Since no one is against the proposed changes, I'll start working on implementing them and close this issue!

[2021-06-11 15:30] #266 closed

[2021-06-12 11:25] Juliana-R opened #268 "📜 correct broken link"
**Context:**
- Broken link at https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/Starters-Academy-(Course)/.
Identified on commit https://github.com/LDSSA/wiki/commit/2db4d8d07532d0337faf1ac89d80b8dca759b269

**Goals:**
- [ ] Check occurrences of this reference besides the one identified at the beginning of https://ldssa.github.io/wiki/About%20us/Lisbon-Data-Science-Academy-(Organization)/

[2021-06-12 11:33] minhhoang1023 commented on #53
LOVE IT!

@thecarolmartins I don't think many people subscribe to this issue so would be good to share with them via Slack?

[2021-06-12 11:40] Juliana-R commented on #53
☝️ agreed

[2021-06-12 14:59] FilipaRodrigues commented on #226
@Juliana-R yes, this is the official OKRs for the QA :)

[2021-06-12 15:03] FilipaRodrigues commented on #100
@Juliana-R yes, I save the the info in the pages, don't worry :)

[2021-06-12 15:03] #100 closed

[2021-06-12 15:44] hcastilho commented on #254
@Juliana-R the readme with instructions is already in the instructors repo.
The instructor registration step is not ready but everything else is there, I think XD

[2021-06-13 21:14] FredericoCoelhoNunes commented on #265
Hey team! I was meaning to take the lead on the hackathon, but my BLU is taking up a lot of time this year. I am re-building everything so we don't have to rely on public websites/APIs that can crash or change at any point, and instead hosting our own stuff (and this involved building 2 webpages and 2 APIs, apart from everything else).

I am wondering if we can re-use last year's hackathon data (t

[2021-06-13 21:46] CatarinaSilva commented on #265
Hi @FredericoCoelhoNunes the hackathon deadline is a bit later. I would advise against repeating data and really trying to come up with a new problem. Would it help to get a couple more people to help the team out? :)

[2021-06-14 09:59] FredericoCoelhoNunes commented on #265
I think it would be good to have someone who could take the lead on the hackathon, just in case my BLU ends up taking a lot of time. As soon as I am done with it, I don't mind jumping in and taking 50% of the work, I just can't do them in parallel at the moment (lots of work stuff going on)

[2021-06-14 11:03] CatarinaSilva commented on #254
As all guidelines are alredy in the wiki/README of batch5-instructors and all units are assigned, closing this issue

[2021-06-14 11:03] #254 closed

[2021-06-14 11:08] CatarinaSilva opened #269 "Specialization 3 allocation"
### Team

Batch 4 team:

- **Telmo (@TSFelg ) [lead]**
- Juliana Rodrigues (@Juliana-R )
- Ricardo Alberto (@rjna)

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
BLU04 | Time Series Concepts | 13th July |  13th September |   @Juliana-R  |  @PedroRibeiro80  |
BLU05 | Classical Time Se

[2021-06-14 11:08] CatarinaSilva commented on #269
Hi @TSFelg can you complete the information in the table with the new team? From what I gathered we have at the moment 3 instructors involved, is there already a distribution ?

[2021-06-14 11:13] CatarinaSilva opened #270 "Specialization 4 allocation"
### Team

Batch 4 team:

- **Catarina Silva (@CatarinaSilva) [lead]**
- Christine Maroti (@cmaroti)
- Minh (@minhhoang1023 )
- Luis Andrade (@Luisfandrade )

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
BLU07 | Feature Extraction | 4th August |  11th October |   @cmaroti  |  @cmarot

[2021-06-14 11:14] CatarinaSilva commented on #153
Closed by https://github.com/LDSSA/batch5-instructors/pull/32

[2021-06-14 11:14] #153 closed

[2021-06-14 11:14] CatarinaSilva commented on #154
Closed by https://github.com/LDSSA/batch5-instructors/pull/32 (issue templates)

[2021-06-14 11:14] #154 closed

[2021-06-14 11:18] CatarinaSilva commented on #128
@Juliana-R these are the final OKRs. Given [this issue](https://github.com/LDSSA/wiki/issues/204) already reflects the documentation task, this is closed as the OKRs are defined. Please update the issue #204 to reflect that no confirmation is needed, just documenting, or let me know if you want me to update the body of that issue :)

[2021-06-14 11:24] CatarinaSilva opened #271 "Specialization 5 allocation"
### Team

Batch 4 team:

- **Ivo Bernardo (@ivopbernardo ) [lead]**
- Inês Pessoa (@InesPessoa)
- Francisco Caldas
- Bruno Antonio (@BAZAntonio)
- Pedro Fonseca (@PedroGFonseca) - support if needed

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
BLU10 | Non-personalised Recommender |

[2021-06-14 11:27] CatarinaSilva opened #272 "Specialization 6 allocation"
### Team

Batch 4 team:

- **Pavel (@Pavel216989) [lead]**
- Catarina Silva (@CatarinaSilva )
- Maria Dominguez (@dominguezmaria)
- Pedro Fonseca (@PedroGFonseca) - support if needed

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
BLU13 | Basic model Deployment | 29th September |  6th

[2021-06-14 11:42] Pavel216989 commented on #272
@CatarinaSilva I'm afraid I wouldn't be able to lead and teach this time. So we'd need to find someone else to take care of the BLU.

[2021-06-14 11:44] TSFelg commented on #269
Hi @CatarinaSilva! Yes, we're 3 and the distribution is already done :) I updated the table accordingly.

[2021-06-14 14:44] dbsousa01 commented on #270
As expected, If you need any help with this one I can volunteer! 😛

[2021-06-14 14:55] ivopbernardo commented on #255
Hi everyone!

Unfortunately, I won't be able to participate in the bootcamp this year - someone wants to grab SLU09? I promise it contains a lot of memes!

[2021-06-14 17:18] cmaroti commented on #255
Hi! I can't participate in the bootcamp this year either, sorry :( could someone take SLU13? I can definitely help with the NLP specialization, though!

[2021-06-14 21:09] InesPessoa commented on #272
@CatarinaSilva @Pavel216989 I woul like to help on this specialization. Not as lead, but I would like to help on one of the BLUs. I prefer 13 or 14, but I can also do 15.

[2021-06-14 21:11] InesPessoa commented on #271
I will not be able to help on this specialization this year.

[2021-06-15 09:36] cimendes commented on #263
Certificates have now been sent! 😁

[2021-06-15 19:47] rjna commented on #255
Hi guys, I'll take SLU08 this time :) It is likely that I will only be able to get it ready by 26 instead of 24 though

[2021-06-16 09:36] CatarinaSilva commented on #255
Cool @rjna thanks! No worries, I think the 26th is still ok :) Updated the issue accordingly

[2021-06-16 12:18] #263 closed

[2021-06-16 12:26] cimendes opened #274 "Send capstone feedback to Batch #4"
**Context:**
Feedback on the capstone projects submitted by batch 4 students still hasn't been sent. This should be done individually to each student that submitted the capstone (report 1 and 2 or just report 1).

**Goal**:

- [ ] Compile the feedback for report 1 and 2 for each student;
- [ ] Compile a list of students who submitted the capstone with name, e-mail information, link for report 1, l

[2021-06-16 12:42] #220 closed

[2021-06-16 15:40] cimendes opened #275 "Link refund policy to application process in wiki"
The refund policy should be linked in the application process page: https://ldssa.github.io/wiki/Applicants/Application-process/

[2021-06-16 15:41] cimendes commented on #275
Ahh I'm blind. Being addressed in #273

[2021-06-16 15:41] #275 closed

[2021-06-16 17:45] thecarolmartins opened #276 "Low conversion rates on LDSSA Waiting List"
This year the conversion rates have been lower than expected and, personally, I'm not happy with the results. Both @cimendes and I have been analyzing what might have happened but still couldn't find a viable explanation (just yet).

One of the main indicators of our "unhappiness" is that we have around 2.8k people on our mailing list, and on the previous email our open rate was around ~39% (1.109

[2021-06-16 18:10] thecarolmartins commented on #53
posted on our random channel

[2021-06-16 19:20] minhhoang1023 commented on #274
I don't think we need to send feedback to students who didn't submit it. It wouldn't be useful to them and takes time from us.

A few questions - so we could discuss them:
- Will the feedback include comments or only the P/F option?
- In case the students want to discuss the feedback, should we reveal the grader whom they can contact?

[2021-06-16 19:24] minhhoang1023 commented on #227
@PedroGFonseca I already asked Miguel Dias as he's already a member of the Jobs AORs. Let see what he says, then we can think of more leads

[2021-06-17 15:17] cimendes commented on #274
@minhhoang1023 so far the feedback sheet only has Pass and Fail for each section of each report. I would like to include some sort of feedback but I don't know how to go around that.

If the graders are comfortable with that, we can include that info (and their ldsa contacts) on the email template.

[2021-06-18 11:40] cimendes commented on #255
Hey @CatarinaSilva , if @joseprsm is not up to teach SLU16 again I can give it a go :) (might be a bit delayed on the delivery though as SLU06 comes first)

[2021-06-18 16:37] hcastilho commented on #145
We could leave the team as is and start using another.

[2021-06-18 16:59] hcastilho commented on #224
@Juliana-R the OKR is now closed

[2021-06-19 14:38] minhhoang1023 commented on #270
Sorry, this year I won't be able to help with the NLP Specs! :(

[2021-06-20 13:07] CatarinaSilva commented on #255
@cimendes are you sure that's not too much load?

[2021-06-20 13:09] CatarinaSilva commented on #265
I agree @FredericoCoelhoNunes do you have anyone in mind already?

Also do you know if Nuno Bras will be helping out this? If not, who is the lead for this spec?

[2021-06-20 13:13] CatarinaSilva commented on #255
no worries @cmaroti for the NLP one I'll tag you in the correct issue 😄

[2021-06-20 13:14] CatarinaSilva commented on #270
Hi @dbsousa01 glad to have you onboard 😄 at the moment the team is me, @cmaroti and you then. I'll set up a small meeting for us to kick off the spec

[2021-06-20 17:40] FredericoCoelhoNunes commented on #265
I'm sorry for being so unhelpful @catarinacf, but off the top of my head I can't remember anyone... maybe we should take this request to some Slack channel? Perhaps one of the new recruits would like to work on a hackathon.

As for @nunobbras, I have no idea. I'll ask him on Slack!

[2021-06-20 20:41] CatarinaSilva commented on #265
Already shared on slack also @FredericoCoelhoNunes 😉

[2021-06-21 20:15] cimendes commented on #255
@CatarinaSilva I might be able to manage it if I get an extension on the deadline. I'm kinda worried about the slu allocations

[2021-06-21 21:01] CatarinaSilva commented on #255
all right, if you are okay with it @cimendes yap I think extending the deadline for one is fine ;)

[2021-06-22 09:10] anaritarc commented on #255
Hi, I can have the SLU11 | Tree-Based Models.

[2021-06-22 09:30] CatarinaSilva commented on #255
Thanks @anaritarc we'll add you to curriculum-developers and I'll update the issue

[2021-06-24 10:33] thecarolmartins commented on #276
Ok, we have 198 candidates this year - slightly less than half. We'll look at these numbers and assess if there was anything we've done different and how to improve next year.

[2021-06-24 10:33] #276 closed

[2021-06-25 20:10] cimendes opened #277 "Add batch 4 graduates in the wiki page"
To be continued

[2021-06-27 11:32] CatarinaSilva commented on #264
Hi @FredericoCoelhoNunes can you check if this MR (https://github.com/LDSSA/batch5-instructors/pull/69) has the correct information? If so, I'll then submit a similar version in the wiki

[2021-06-27 11:49] CatarinaSilva opened #278 "Hackathon 1 allocation"
### Team

Batch 4 team:

- **Joao Veiga (@veiguinha) [lead]**
- Wilson Ramos (@wilsonramos1)

### Distribution

Work unit | Name | Instructor deadline | Release date | Last year instructor | Batch 5 instructor(s) | Notes |
-- | -- | -- | -- | -- | -- | --
Hackathon 1 | Binary Classification | 3rd August |  1st July | @veiguinha    |  @wilsonramos1   |

### Work load

- Come up with new problem for

[2021-06-27 11:50] CatarinaSilva commented on #278
Hi @wilsonramos1 can you validate you'll be available for this? BTW, an extension to the deadline is fine, as long as QA is aware. I was thinking this year you can be the lead and we can see if anyone else wants to join, wdyt?

[2021-06-27 11:56] CatarinaSilva opened #279 "Document some README details in wiki's teaching process"
See https://github.com/LDSSA/wiki/issues/245

[2021-06-27 12:02] #245 closed

[2021-06-27 12:04] CatarinaSilva commented on #179
The assignment is now done via issues and the first step of the teaching process is to open an issue where the responsible is identified. So this can be closed as that spreadsheet will be deprecated

[2021-06-27 17:59] FredericoCoelhoNunes commented on #264
Looks great!

[2021-06-28 21:14] wilsonramos1 commented on #278
Hello @CatarinaSilva, yes, I'm available for this. I might need a deadline extension though. I will give updates this weekend.
Sounds good to me!

[2021-06-30 17:55] anaritarc commented on #255
Hi, will also take SLU12, will finish latest at 11. 😄

[2021-07-02 18:50] FilipaRodrigues commented on #255
@CatarinaSilva I can take SLU09 as well :)

[2021-07-03 10:40] Juliana-R opened #280 "Remove deprecated spreadsheet from the Wiki"
**Context:**
A spreadhseet is mentioned in the Wiki that is no longer in use. Check #179 for details.

**Goals:**
Remove references to this spreadsheet from the Wiki

**Acceptance criteria:**
The Wiki (https://ldssa.github.io/wiki/) does no longer contain references to this spreadsheet.

[2021-07-03 11:25] Juliana-R commented on #128
Thank you! Updated. https://github.com/LDSSA/wiki/issues/204

[2021-07-03 11:26] Juliana-R commented on #128
Btw in things like this (straightforward non-approval dependent change) feel free to update the body of the issue yourself. No worries 😄

[2021-07-03 11:29] Juliana-R commented on #226
Thank you! 🙏

[2021-07-03 11:31] #109 closed

[2021-07-03 11:48] Juliana-R commented on #233
Can this issue be closed? We already merged a PR on this I believe? https://github.com/LDSSA/wiki/pull/273

[2021-07-03 13:52] minhhoang1023 commented on #271
I'd love to take one BLU, but not leading the entire specs.

[2021-07-05 21:11] isvpires commented on #271
I would like to help in this specialization.

[2021-07-09 20:38] CatarinaSilva commented on #270
Hi @dbsousa01 @cmaroti when can we meet to divide some work?

[2021-07-09 20:39] CatarinaSilva commented on #271
Great to here that @minhhoang1023 @BAZAntonio @isvpires ! @ivopbernardo should we book a meeting to already kick off some of the knowledge transition?

[2021-07-10 19:03] dbsousa01 commented on #270
If it's by the end of the day (4h30pm onwards) I should be good. Can also do it in the morning if you prefer (9h30 ish)

[2021-07-11 20:16] CatarinaSilva commented on #269
Going to close this as the allocation is done.

[2021-07-11 20:16] #269 closed

[2021-07-12 21:14] ClaraBarreto commented on #255
@CatarinaSilva I will gladly take SLU05 =P

[2021-07-12 22:47] CatarinaSilva commented on #255
Thanks @ClaraBarreto , will add in the table

[2021-07-20 09:23] cimendes commented on #207
@minhhoang1023 any updates on this? :D

[2021-07-20 22:17] CatarinaSilva commented on #265
Hii @FredericoCoelhoNunes any news on this? BLU01 and the hackathon are still in need of people right?

[2021-07-21 08:10] FredericoCoelhoNunes commented on #265
Hi @CatarinaSilva , yes I am afraid so. Sorry for not being much help but I have been very busy lately!

[2021-07-22 15:58] CatarinaSilva commented on #270
Updated the issue with the SLU responsibles. Tentative deadline as discussed will be 15th August @dbsousa01 @cmaroti :)

[2021-07-24 11:56] CatarinaSilva opened #282 "Release setup for students early on"
Release batch6-students repo (with sample unit + setup instructions only) one week before the bootcamp. We can even mention in the intro session (which I think it's worth keeping) and give support during the week

[2021-07-24 12:38] #255 closed

[2021-07-24 12:38] #278 closed

[2021-07-24 12:41] CatarinaSilva commented on #271
So  I created a meeting for us to talk about this spec and kick it off even if just initially to cover the BLUs, it's booked for 1st of August at 14, let me know if it's ok or we need to reschedule :) @isvpires @BAZAntonio @minhhoang1023 @ivopbernardo

[2021-07-24 14:53] anaritarc opened #283 "Q&A tool on meettings"
Explore options to use less tools for Q&A.
Meet as an alternative to slido.
But maybe if in person not needed, don't know how it use to work :)

[2021-07-24 15:36] minhhoang1023 commented on #207
It will happen this year! I found a good student from the Academy to lead the technical part - Still need to confirm the date regarding the course

[2021-07-26 13:37] isvpires commented on #271
For me the meeting schedule is ok.

[2021-07-27 14:10] minhhoang1023 commented on #271
@isvpires @BAZAntonio @minhhoang1023 @ivopbernardo Sorry for my late reply. Would it be possible for us to do it in the morning? 14h would be hard for me to attend - if it's not possible for you guys, i can hop in very quickly for the BLU allocation, but won't be able to stay for long.

[2021-07-30 10:29] cimendes commented on #272
I would like to help with one of the BLUs! (I prefer 13 but either one works :)) I can give a hand in the hackathon  :)

[2021-08-01 08:35] CatarinaSilva opened #285 "Allow PRs not on units to have a different branch name"
Right now, all PRs, even if they're on the README, template issues, etc require a branch name. We could probably make sure the CI checks if it's not inside of the units folders and allows in that case for any branch name. It's not an urgent or super important thing, but would be a nice to have. wdyt, @hcastilho ?

### Current status

All branches need to start with one of: `sluxx-xxxx`, `bluxx-xxx

[2021-08-01 11:55] CatarinaSilva commented on #265
Added @PedroRibeiro80 as he'll take BLU01

[2021-08-07 15:07] #139 closed

[2021-08-07 15:08] Juliana-R commented on #79
Closing as the batch already started. Reopen if necessary. 🙏

[2021-08-07 15:08] #79 closed

[2021-08-07 15:10] Juliana-R commented on #85
Any updates on this?

[2021-08-07 15:11] Juliana-R commented on #59
Closing since batch5 has already started. Please reopen if necessary. 🙏

[2021-08-07 15:11] #59 closed

[2021-08-07 15:13] Juliana-R commented on #86
Closing as I believe this was already decided. Reopen if needed. 🙏

[2021-08-07 15:13] #86 closed

[2021-08-07 15:14] Juliana-R commented on #145
Shall we close this?

[2021-08-07 15:15] Juliana-R commented on #151
Closing since Prep Course 2021 is over. Please reopen if this is to be implemented next Prep Course. @ramaroesilva @minhhoang1023

[2021-08-07 15:15] #151 closed

[2021-08-07 15:15] Juliana-R commented on #155
Any updates on this? @hershaw

[2021-08-07 15:21] #178 closed

[2021-08-07 15:22] #179 closed

[2021-08-07 15:23] Juliana-R commented on #187
Assigning to myself to remove the link from the Wikipage so we can close this one.

[2021-08-07 15:24] Juliana-R commented on #190
Hi @FilipaRodrigues , any updates on this one?

[2021-08-07 15:25] Juliana-R commented on #201
Closing this one has no one picked it up for a while. Feel free to reopen if you still want to implement this. 🙏

[2021-08-07 15:25] #201 closed

[2021-08-07 15:28] Juliana-R commented on #205
What's the status on this one? Anything left to do here?

[2021-08-07 15:29] Juliana-R commented on #207
Is there any actionable left on this issue or should we close it?

[2021-08-07 15:29] Juliana-R commented on #212
Any updates on this one?

[2021-08-07 15:29] Juliana-R commented on #211
Any updates on this one?

[2021-08-07 15:31] Juliana-R commented on #208
@PedroGFonseca any updates on this one?

[2021-08-07 15:31] Juliana-R commented on #217
@rjna could you check my question above? Just a quick yes or no. ☺️

[2021-08-07 15:33] Juliana-R commented on #222
Final list here https://docs.google.com/document/d/1zoGLekfFniu7r6RRO590m290d8xEqoDOg2nZC-CYp9Q/edit.
This issue is to be closed after OKRs are documented on the wiki.

[2021-08-07 15:34] #233 closed

[2021-08-07 15:36] Juliana-R commented on #238
Totally forgot this. Mea mea mea culpa.

[2021-08-07 15:37] Juliana-R commented on #240
Any updates on this one @minhhoang1023 ?

[2021-08-07 15:40] Juliana-R commented on #264
Can we close this one?

[2021-08-07 15:40] Juliana-R commented on #277
Hi @cimendes ! Do you have the list of graduates to be added?

[2021-08-07 15:42] Juliana-R commented on #274
Are we still doing this? 🤔

[2021-08-08 13:40] FredericoCoelhoNunes commented on #264
Ok for me :)

[2021-08-08 18:50] #264 closed

[2021-08-09 08:51] CatarinaSilva commented on #285
Closed by https://github.com/LDSSA/batch5-instructors/pull/268

[2021-08-09 08:51] #285 closed

[2021-08-13 11:38] rjna commented on #217
Yap it is, sorry for the delay!

[2021-08-14 12:35] Juliana-R commented on #217
No worries, thanks! 😄

[2021-08-14 12:49] Juliana-R commented on #280
Closed by https://github.com/LDSSA/wiki/pull/286.

[2021-08-14 12:49] #280 closed

[2021-08-15 10:06] Juliana-R opened #287 "📜 Revisit students engagement page"
**Context**
We currently have this page on the Wiki https://ldssa.github.io/wiki/Stats/Poll-results-on-student-dropout-from-Batch-2/ regarding some stats on students engagement in Batch#2. It would be cool to have an overview of the students engagement over time.

**Goals**
- [ ] Gather stats from Batches 2-4 and sum up into 1 page
- [ ] Remove the page on Batch#2
- [ ] Replace the section name "S

[2021-08-15 10:12] #268 closed

[2021-08-15 10:15] #260 closed

[2021-08-15 10:17] Juliana-R commented on #238
@cimendes is the list completed? What's the next steps on this one?

[2021-08-15 11:05] Juliana-R commented on #159
Hey! I've incorporated the LDSA Charter on the Organization page and the changes are on this PR https://github.com/LDSSA/wiki/pull/289.

Need review from a founder **and** a current executive team member.

Thank you!

[2021-08-15 11:09] Juliana-R commented on #247
Can't solve this yet. When I do `bundle install` it replaces the Gemfile. Need some expert help on this one. @Jujulian3 @hcastilho do you by any chance know how to fix this kind of thing? 😅

[2021-08-15 15:22] #248 closed

[2021-08-15 15:29] Juliana-R commented on #236
@PedroGFonseca related with this task, should I replace the page at https://ldssa.github.io/wiki/Jobs/Job-Posting-Approval-%5BWIP%5D/ with the content at https://docs.google.com/document/d/1HcJ9PtLP4Ks_-O7d9ykCJKZJraciLqkugBH6UoOpH4s/edit?pli=1# ?

Could you please confirm?

Waiting, thank you 🙏

[2021-08-15 15:35] Juliana-R commented on #277
(pending PR approval -- to be closed after it's merged) https://github.com/LDSSA/wiki/pull/290

[2021-08-15 15:54] Juliana-R commented on #259
This is done I believe. @minhhoang1023

[2021-08-15 15:54] #259 closed

[2021-08-15 16:42] Juliana-R commented on #187
We need a new point of contact  for this to add to the page and replace the committe mention altogether. @chi @PedroGFonseca can you help me close this please? It's important that we have updated info on this matter for the students during an an ongoing batch.

[2021-08-15 16:43] Juliana-R commented on #256
This is outdated as Batch5 has started already. Closing.

[2021-08-15 16:43] #256 closed

[2021-08-15 16:56] Juliana-R commented on #253
@anaritarc @rjna this issue has been sitting here for a while. Any updates? ☺️

[2021-08-15 16:59] Juliana-R commented on #242
@dominguezmaria any ideas on how we can automate the extraction of active users in the last 1 year?

[2021-08-15 17:50] Juliana-R opened #294 "Automate the collection of active contributors in LDSA"
**Context:**
On this issue https://github.com/LDSSA/wiki/issues/242 we collected a list of active volunteers in the last year (July-2020 to 13-Aug-2021) based on whether they had been active/contributed on GitHub and/or on our internal Slack. This process was tedious and manual and we should find a way to automate this in the future.

This is important so we are able to give the credit to the peop

[2021-08-15 17:56] Juliana-R opened #295 "Database of volunteers"
**Context:**
To track our volunteers and give the appropriate credit, we decided to start keeping track of members of the LDSA, past and current. For this we should collect data at the beginning when a volunteer onboards, as mentioned here https://github.com/LDSSA/wiki/issues/240. We need somewhere to store this safely, this is, an internal database. @hcastilho

**Goal(s)s:**
- [ ] Create a proces

[2021-08-15 17:57] Juliana-R commented on #242
The data is gathered on the spreadsheet (GitHub+Slack) and I will be moving on with that for the Wiki update.

[2021-08-15 17:57] #242 closed

[2021-08-15 17:59] cimendes commented on #238
I'm not sure if the list is completed, so I need some feedback on this from someone more senior. After the list is complete I need to update the website. I'll assign (aka cry for help) to the exec team :)

[2021-08-15 18:00] cimendes commented on #238
Also.... I think i need a checkmark on that file to check who has validated their own info and who's missing! Updating it now

[2021-08-15 19:44] rjna commented on #253
@minhhoang1023 regarding point 1, do you think we can issue a certificate for the prep course? The main issue is that we currently don't "control" the prep course in the same way that we do in the academy.

@anaritarc can you remind me what point 2 is about? Didn't do the exam? How so?

Regarding point 3 we ended up accepting every student that passed the exam so maybe we should make that clear? W

[2021-08-15 22:52] minhhoang1023 commented on #259
@Juliana-R Yep it's done. We have Silvana on the team now :)

[2021-08-15 22:58] minhhoang1023 commented on #211
Sorry had this for a while but forgot to put it here. Description for Ops AOR can be found here!
https://docs.google.com/document/d/11VO0vTeX_UYC3WjVBhg6_m0drW5n5MkGtzqP0ibMElk/edit

[2021-08-17 18:25] PedroGFonseca commented on #236
Sorry for the delay, the `LDSA jobs page - draft` is an internal work doc, and should not be where external companies get directed.

The https://ldssa.github.io/wiki/Jobs/How-to-offer-a-job-on-the-Lisbon-Data-Science-Academy-website/ seems like the right place to direct them, right?

[2021-08-18 08:32] Juliana-R opened #296 "Add correct list of founders to LDSA Org page"
**Context:**

When updating the page about the organization, some information was missing on the founders and history part. This needs to be done by a founder so it is as accurate as possible.

**Goal(s)s:**
- [ ] Add list of founders and context for the creation of LDSA in section "Founders & History" of LDSA Org page => this one https://ldssa.github.io/wiki/About%20us/Lisbon-Data-Science-Academy

[2021-08-18 08:38] Juliana-R commented on #187
I will add the email exec@lisbondatascience.org, as discussed with @dominguezmaria on Slack. Will remove the reference to the Form and to the Committee altogether, as the first no longer is used and the latter does not longer exist.

[2021-08-18 09:11] Juliana-R opened #299 "📜 Add Operations AOR description as per this document"
**Context:**
We recently found a lead to our Operations AOR. Minh has put together this document https://docs.google.com/document/d/11VO0vTeX_UYC3WjVBhg6_m0drW5n5MkGtzqP0ibMElk/edit with a description of the Operations AOR.

**Goal(s)s:**
- [ ] Add the Operations AOR description to the Wiki as per the document above.

**Acceptance criteria:**
-  [ ] The Wiki is updated with the description of the

[2021-08-18 09:28] #187 closed

[2021-08-18 17:10] cimendes commented on #85
I think we can close it as "women in stem" is part of our Social media calendar, and this issue is already linked to that post. :) Just waiting on an impactful/relevant date

[2021-08-18 17:10] #85 closed

[2021-08-23 14:59] cimendes commented on #265
Updated priority due to the status of the Hackathon 2. @FredericoCoelhoNunes you think you can give a hand? I suggest getting a few people together to try to spread the love through some brains and have this kicked-off and ready ASAP. @buedaswag @CatarinaSilva @ruimgf

[2021-08-25 08:32] cimendes commented on #274
@Juliana-R YES! 🦾

[2021-08-25 19:02] cimendes opened #301 "Jobs & Comms AOR alignment"
## Proposal

As discussed previously in #227, some symbiotic synergy can be gained here between the Jobs and "Comms & Bebes" AORs. We propose an official collaboration that can benefit not only the two AORs, but the LDSA as a whole in our brand exposure and community.

We propose the following integrations:

### Social Media

Use the social medial channels to promote the Jobs page (example post: 2

[2021-08-28 12:59] cimendes commented on #272
@CatarinaSilva Any updates here? :) where do we share our love?

[2021-08-28 16:29] minhhoang1023 opened #302 "Adapt Refund policy"
To reduce the refund deadline to 1-2 weeks instead of right before the hackathon. Reasons being people tend to ask for refund, if they don't manage to submit all the SLUs. And this is definitely not what we want - refund policy is created for people to withdraw in case our teaching style doesn't suit them.

Propose changes:
1. Change refund to 2 weeks (or less) after the Bootcamp
2. Who wants a re

[2021-08-30 10:11] CatarinaSilva opened #303 "Sharing units solutions with students"
### Question

* Should we release solutions of the exercise notebooks to students?
* If so, when? And how (eg. separate notebook or replacing current notebook)?

### Discussion

##### Should it be released ?

1. For the hackathons we already share the baseline solution so this could be considered similar

2. Prep-course is doing that

##### When ?

* Option 1: After late submission deadline
* Opti

[2021-08-30 10:17] cimendes commented on #303
**My suggestion:** I would follow the same format for the Prep course. and have a release of a "Solutions notebook" instead of just replacing it. Maybe at the same time as the baseline solution of the hackathon are released. That way we're not missing any "deadlines" with S01.
Summing up..

- **Should it be released?** YES!
- **When ?** Option 1: After the late submission deadline, alongside the r

[2021-08-30 12:19] minhhoang1023 commented on #303
- Should it be released? Big 👍 . The students could learn another approach of solving things, or simply how to write better code
- When? What was the policy for late submission? That they can submit both the BLU & Hackathons? In that case, if we release at the end of hackathon, then the solutions will be available to those peeps who still have to submit their work.
- Which format ? Have a separate

[2021-08-31 07:45] CatarinaSilva commented on #272
Hi @cimendes no updates, but not forgotten. Let's create a channel and start discussing async. I would like to continue with BLU14 if possible, as I already did it last year and had a bit of feedback there.

@InesPessoa @cimendes any of you comfortable with SLU15?

[2021-08-31 12:34] cimendes commented on #272
@CatarinaSilva I can take SLU15

[2021-09-04 09:54] CatarinaSilva commented on #272
Perfect! Thanks @cimendes 💪 will adjust the body with thee following:

* BLU13 @InesPessoa
* BLU14 @CatarinaSilva
* BLU15 @cimendes

Regarding the hackathon I was thinking the three of us can be involved and maybe @dominguezmaria and @PedroGFonseca can provide some support and advise ? 🙏 What do you think Chi and Pedro?

[2021-09-04 09:55] CatarinaSilva commented on #272
This should also be quite aligned with the capstone and would be really nice to have your guidance/advise on that  @dominguezmaria and @PedroGFonseca

[2021-09-04 09:57] CatarinaSilva commented on #265
Closing this with the final information: a team is picking up the hackathon:

@buedaswag @cimendes @CatarinaSilva @dominguezmaria @FredericoCoelhoNunes

[2021-09-04 09:57] #265 closed

[2021-09-04 09:57] #270 closed

[2021-09-10 07:09] thecarolmartins opened #304 "Proposal for "DS for Social Good" Programme/Initiative"
**Proposal Resume**
Create and run a "Data Science for Social Good" Programme/Initiative within the Academy.

**Context and Resuming**
_Preliminary note: This idea is still unfinished_

Usually, in the DS field it is mentioned how can DS help businesses (and whatnot) to solve problems. And this got me thinking: "What if - we, as a non-profit organization - could expand on this idea AND take it fur

[2021-09-11 16:29] rjna commented on #304
Sign me up!

[2021-09-12 09:13] thecarolmartins commented on #304
Nice Ricardo!! I'm delighted to know!!

On Sat, 11 Sept 2021 at 17:29, rjna ***@***.***> wrote:

[2021-09-15 08:41] thecarolmartins commented on #301
wondering if there's any news on this?

[2021-09-16 22:45] minhhoang1023 opened #305 "Adjustments to Hackathon: Provide personalized feedback after presentations"
Fred suggested a very good idea so putting it here - Feel free to elaborate more on this @FredericoCoelhoNunes!

One thing we can do to increase the learning curve for the students is to provide personalized feedback immediately after the presentations and discuss what they have done correctly or what could have done better. At the moment, they don't receive any feedback and it'd be hard to know w

[2021-09-16 23:27] minhhoang1023 opened #306 "Adjustments to Hackathon: Set clear & objective criteria for Hackathon grading"
We've seen that with the current evaluation guidelines, two instructors can have VERY different grading for the same presentation. This brought up the question whether the criteria is clear and objective enough to ensure that, a presentation should have very similar grading, regardless of the grader.

Some suggestions:
1. Instructors should discuss the criteria between all instructors before the p

[2021-09-16 23:27] minhhoang1023 commented on #305
Linked #306

[2021-09-23 18:45] thecarolmartins commented on #304
Tada! Two weeks have passed!

Since there are no objections to this initiative and Ricardo Alberto has volunteered, I’ll be proceeding with this.

Feel free to join the Slack channel called ‘ds-for-socialgood’ if you’re interested in joining!

See you there!

[2021-09-23 18:45] #304 closed

[2021-09-25 08:48] thecarolmartins commented on #295
Hj @Juliana-R is there anyway to make this easier? Like, instead of having Castilho creating a database, can it be a single spreadsheet?

[2021-09-25 08:50] thecarolmartins commented on #240
Hey @minhhoang1023 is there any time estimate of conclusion for this?

we have a designer working with us on the website and this is getting blocked 🙏

[2021-09-25 17:04] thecarolmartins opened #308 "Google Ads Grants"
**Context:**
As defined in our OKRs, the Marketing & Comms team has been assessing the possibility of taking advantage of the Google Ad Grants.

The Google Ads Grants allows eligible non-profits to have access to up to $10k per month in search ads displayed on Google.

To be part of the program we - as a non-profit - need to fulfill a number of requirements. We fulfill almost all of them but these

[2021-09-28 21:01] cimendes opened #309 "Add Sidecar to wiki"
**Context:**
With the second edition of the sidecar, the information should be centralized in our wiki. Currently, it's available here: https://github.com/LDSSA/sidecar-academy/wiki

This is a time-sensitive issue, as teaser should be kicked out on October 7th.

**Goal(s)s:**
Migrate information from https://github.com/LDSSA/sidecar-academy/wiki to our wiki

**Acceptance criteria:**

- [ ] Informa

[2021-09-28 21:25] Juliana-R commented on #309
Related with https://github.com/LDSSA/wiki/pull/307

[2021-09-28 21:53] cimendes commented on #303
We are now a bit behind schedule if we are to release the solutions to each specialization after the hackathon. Any news on this issue? I guess the CI needs to be updated to include this step (@hcastilho) but I think that's it.

[2021-09-28 21:55] cimendes commented on #272
Ops! Totally missed the update here! Maybe we can have a meeting to line up what changes need to implement for this batch? And make a draft plan for the hackathon? What do you think @CatarinaSilva @InesPessoa ?

[2021-09-28 22:03] CatarinaSilva commented on #303
Instead of changing the process half way through the batch, what about thinking about this for batch6 ?

[2021-09-30 07:58] thecarolmartins opened #311 "LDSA <> Eurekathon"
**Context:**

Rui Mendes from DSPT approach me to scope our interest in being a Community Partner in the Eurekathon (https://www.eurekathon.com/) that will happen in November.

As the main organizer of the event, the Eurekathon is a data-driven competition that addresses societal issues associated with sustainable development goals. In this 3rd edition, you are challenged to develop concrete and c

[2021-10-03 10:57] Juliana-R opened #312 "Check README compatibility for MacOS"
**Context:**
It was mentioned that the instructions to run the site locally were not easy to follow for a MacOS. Check link here: https://github.com/LDSSA/wiki#develop

**Goal(s)s:**
- Reproduce the setup in a MacOS environment
- Update the README with OS-specific instructions

**Acceptance criteria:**
- The README is updated with the necessary instructions on the main branch, for the site to be u

[2021-10-03 14:49] thecarolmartins commented on #308
Hello 👋

Any thoughts on this?

[2021-10-05 14:25] dominguezmaria commented on #308
@thecarolmartins sorry for the late reply. I definitely agree with you, it would be "cheaper" for us to pay for the ads than having the website completely redone.

Also agree that it would be good to have an annual report on our spends! That shouldn't be too hard to do because we log all our expenses. I'll deliver the report at the end of the year :)

[2021-10-06 07:23] thecarolmartins commented on #311
Hi @ivopbernardo and @minhhoang1023 - any thoughts/news on this? We have until tomorrow to provide an answer.

[2021-10-06 07:24] #308 closed

[2021-10-07 13:02] ivopbernardo commented on #311
Sorry for the late reply here.

To me, this is a yay. Organizations share some common goals and also had good feedback on DSPT. As long as it is nothing mandatory, I don't see any problem in promoting the Eurekathon.

@minhhoang1023 do you agree?

[2021-10-07 22:50] minhhoang1023 commented on #311
@ivopbernardo Makes sense for me that we promote them & Data Science scene in general. My only 2cents, as you have more contextual knowledge as well as total power to (and should) close this one without checking with me :)

[2021-10-08 06:54] thecarolmartins commented on #311
Ok, this is done and I've let Rui know we are okay to proceed!

Thanks y'all!!

[2021-10-08 06:54] #311 closed

[2021-10-08 20:06] Juliana-R commented on #295
I'm not a fan of the spreadsheet model, but I guess we could do that since the list shouldn't be too big. Which AOR should be in charge of this updating this data? 🤔

[2021-10-08 20:21] Juliana-R commented on #294
Closing this as we should be putting a process in place to update the list of volunteers as new people are unboarded.

[2021-10-08 20:21] #294 closed

[2021-10-08 20:22] Juliana-R commented on #287
@rjna passing this to you, IF you think it would be something you'd like to do for Student Success. If not, feel free to close it. :)

[2021-10-08 20:31] cimendes commented on #295
Maybe it should fall under Ops?

[2021-10-09 15:38] thecarolmartins commented on #53
Let’s wait for Silvana to rock her Master’s presentation!

We’ve been talking about it but we need a bit of more (time) availability to make it happen!

It has not been forgotten

iPhone. iTypos. iApologize.

[2021-10-09 15:48] Juliana-R opened #318 "📆✨ Schedule recurring meetings to resolve STALE issues, STALE Pull Requests and "open discussion" brainstorms"
**Context:**
At the time of this writing, we had around 50 open issues on the Wiki, of which 21 stale (more than 2 weeks inactive), the majority having been created more than 2 months ago. There are several causes to this: overload of issue on specific assignees, inactivity of some assignees, and leaving some types of task as low priority not addressed for a long time.

**Goal(s):**
We need to ass

[2021-10-09 17:35] Juliana-R opened #319 "🌐 Update to Minimal Mistakes [may need splitting]"
**Context:**
The current theme used for GitHub Pages is old and it has dependency issues. A new theme that preserves ability to search and visibility of the content is to be used for the Wiki, based on https://github.com/mmistakes/minimal-mistakes.
**Goal(s):**
- Change the wiki `docs` to the new theme

**Acceptance criteria:**
- Test local version
- Merge and deploy
- Check if GitHub page is work

[2021-10-10 09:07] minhhoang1023 commented on #240
@thecarolmartins I can pick this one up this week as it's a blocker for you guys

[2021-10-10 09:30] minhhoang1023 commented on #295
I can create the form & spreadsheets as mentioned in https://github.com/LDSSA/wiki/issues/240
When it's ready, will share it here with you guys so in the future when we have time, we can migrate it into a database.

Given the AOR description, this one would be closest to the Documentation AOR as it's a part of keeping our documentation updated & unblock other AOR. Doc AOR won't necessarily be the

[2021-10-10 11:14] minhhoang1023 commented on #318
We could aim for the weekend?

[2021-10-10 15:34] cimendes commented on #303
@CatarinaSilva Agreed! :) Changing the labels

[2021-10-13 15:40] ivopbernardo opened #320 "LDSA <-> Fintech House Partnership"
**Context:**
Had a meeting with Fintech House about a potential partnership between the two organizations. High level details of the meeting are here: https://docs.google.com/document/d/1HRjbIKCcMXgNjaYqAtEddxl5-qI6Lsn7jBE3DFp59-s/edit

**Goal(s):**
-> Understand if we should build a partnership with Fintech House in the future.
-> Go/No Go regarding future initiatives with Fintech House.

**Accep

[2021-10-16 16:16] #240 closed

[2021-11-07 09:09] #271 closed

[2021-11-07 09:10] CatarinaSilva commented on #272
@cimendes let's book this meeting. What do you think of using thursday? On my side the only thing is I might be a bit late

[2021-11-07 09:10] CatarinaSilva commented on #272
As this is allocated will close for now but let's sync over slack in the team

[2021-11-07 09:10] #272 closed

[2021-11-07 09:16] minhhoang1023 commented on #261
I can help with the grading part!

[2021-11-07 09:58] CatarinaSilva commented on #134
Hi @PedroGFonseca can you share the solution you used?

[2021-11-28 17:11] ramaroesilva commented on #261
Sharing some insights that @CatarinaSilva mentioned in slack:

[2021-11-28 17:12] ramaroesilva commented on #261
Count me in for some QA and review.

[2021-11-28 17:39] dominguezmaria commented on #261
I can also help with QA and grading!

[2021-11-29 17:03] carlacotas commented on #261
I can help with QA!

[2021-11-30 15:01] Juliana-R opened #322 "Add Inês Mendes as maintainer of team Student Success"
**Context:**
Inês Mendes will be taking the lead of Student Success AOR for Batch 6.

**Goal(s):**
Give Inês maintainer role in Student Success team so she has the necessary permissions.

**Acceptance criteria:**
@cimendes  is assigned maintainer role of Student Success team. https://github.com/orgs/LDSSA/teams/student-success

[2021-11-30 15:06] Juliana-R commented on #53
hoodies... 😢

[2021-12-01 16:54] Juliana-R commented on #261
Also helping -- just leave me out the modelling part because I'm totally outdated on that. 😅

[2022-01-09 10:40] hcastilho commented on #322
Done

[2022-01-09 10:40] #322 closed

[2022-01-09 10:41] #224 closed

[2022-01-14 09:44] thecarolmartins opened #323 "Team's thoughts on (a) in-person or (b) remote edition for batch 6"
**Context:**
As we approach the end of batch 5 and need to define topics regarding batch 6 (to allow public announcements), it seems the time to discuss whether the next Academy batch should be in-person or remote.

On one hand, it seems we are getting back to "normal", on the other hand we have Omicron (and maybe new variants in the future) that make this decision a necessary one.

There are pros

[2022-01-21 14:23] justasknunes commented on #323
My POV to develop the Portuguese ecosystem along with the Academy:

### Hybrid Academy

- Portugal residents can apply to in-person Academy with access to half(ish) of the numerus clausus
- Non Portugal residents can apply to remote Academy

I believe the major differences are the hackathons, a solution may be to pair half of the in-person with the remotes.

@thecarolmartins let me know if you hav

[2022-01-21 16:33] cimendes commented on #323
Hello! My 2 🪙s on this matter

The SC2 is here, and we don't know if it's here to say although scientific reports are pointing towards moving from a _pandemic_ to an _endemic_ one.  As such, the words of "new normal" start to have a different resonance that our reality will be forever altered. Despite this, there is still no consensus on what is the best approach to handle in-person gathering safe

[2022-01-21 22:17] anaritarc commented on #323
Hi,

I don't know if I'm to hopeful, but I'm with in person and then if needed change it.

I don't know how was before, but if it's quite similar the only thing that changes is the in person days. It will be how many? 8 meetups that if needed will be changed.

With tests/masks/vacines at least until November I believe is possible to guarantee in person.

But it's just an opinion 😊

[2022-01-23 18:15] Juliana-R commented on #318
Will close this as we consider applying a simple agile methodology which should cover this in the sprint ceremony.

[2022-01-23 18:15] #318 closed

[2022-01-23 18:17] Juliana-R commented on #296
Closing as won't fix.

[2022-01-23 18:17] #296 closed

[2022-01-23 18:17] Juliana-R commented on #312
@cimendes if we don't have anyone available to assign this too I suggest we close it. Let me know.

[2022-01-23 18:18] Juliana-R commented on #283
@anaritarc @CatarinaSilva should we close as won't fix?

[2022-01-23 18:19] Juliana-R commented on #320
@minhhoang1023 @ivopbernardo should we keep this open?

[2022-01-23 18:19] Juliana-R commented on #319
Moving to backlog as I don't have the resources right now to do this.

[2022-01-23 18:19] #319 closed

[2022-01-23 18:21] Juliana-R commented on #301
@minhhoang1023 @PedroGFonseca @thecarolmartins can we close this one?

[2022-01-23 18:22] Juliana-R commented on #295
@thecarolmartins are we keeping track of the new volunteers on this database? Who is in charge of that?

[2022-01-23 18:25] Juliana-R commented on #287
@rjna @minhhoang1023 @cimendes  I will close this as won't fix as there was no action on this for more than 3 months. Please reassign if you deem important.

[2022-01-23 18:25] #287 closed

[2022-01-23 18:26] Juliana-R opened #324 "Check all references to old drive on the Wiki"
**Context:**
We moved the LDSA contents to a shared drive called `LDSA` (the old contents were inside Sam's drive)

**Goal(s):**
- Look if any of the links mentioned in the Wiki need updating, and do so.
- Update the link to `index`

**Acceptance criteria:**
All pages on the Wiki checked.

[2022-01-23 18:38] Juliana-R commented on #253
@minhhoang1023 @anaritarc @rjna this issue has been inactive for over 4 months. Can we close it?

[2022-01-23 18:39] Juliana-R commented on #236
I will be closed this for a lack of a clear actionable. @TSFelg letting you know this exists in case you want to pick it up as you take up Jobs.

[2022-01-23 18:39] #236 closed

[2022-01-23 18:49] Juliana-R commented on #238
@minhhoang1023 @thecarolmartins

[2022-01-23 18:50] #227 closed

[2022-01-23 18:50] #226 closed

[2022-01-23 18:51] Juliana-R commented on #204
To my dismay, this is a won't fix as we're approaching the end of batch and new OKRs are to be set soon.

[2022-01-23 18:51] #204 closed

[2022-01-23 18:51] Juliana-R commented on #204
Aka: I need more folks on Documentation  if this is to be done by the Documentation AOR movin on. @minhhoang1023 FYI

[2022-01-23 18:52] #223 closed

[2022-01-23 18:52] #225 closed

[2022-01-23 18:52] #229 closed

[2022-01-23 18:52] Juliana-R commented on #230
Can we close this? I'ts been more than 6 months now.

[2022-01-23 18:52] #217 closed

[2022-01-23 18:52] #222 closed

[2022-01-23 18:52] #211 closed

[2022-01-23 18:53] Juliana-R commented on #212
@minhhoang1023 @thecarolmartins is this still being worked on or should we close as won't fix?

[2022-01-23 18:54] #205 closed

[2022-01-23 18:54] Juliana-R commented on #53
Should we close this? @thecarolmartins

[2022-01-23 18:55] Juliana-R commented on #70
Do we have someone to pick this up and create the page? Documentation is responsible for reviewing but I do not have the bandwidth to create all the contents. @minhhoang1023

[2022-01-23 18:56] Juliana-R commented on #84
Folks I'm closing this one as it's been inactive for over **8 months** now. Reopen if necessary.

[2022-01-23 18:56] #84 closed

[2022-01-23 18:57] Juliana-R commented on #159
PR was merged some time ago. 🎉 Closing issue.

[2022-01-23 18:57] #159 closed

[2022-01-23 18:58] Juliana-R commented on #312
I will close as I don't have the bandwidth to do it. Moving to backlog in case we increase capacity in Documentation moving on.

[2022-01-23 18:58] #312 closed

[2022-01-23 18:59] Juliana-R commented on #301
Clarification: the Documentation AOR is responsible for reviewing contents but it falls under the AOR to create their own content. For that reason I have removed the Documentation AOR label on this one.

[2022-01-23 19:00] #299 closed

[2022-01-23 19:01] Juliana-R commented on #299
closing as this should be made by each AOR moving forward and the documentation AOR should only be responsible for reviewing

[2022-01-23 19:01] Juliana-R commented on #299
as I review pages in need of update I should start opening issues for each AOR to complete the lacking documentation on their side

[2022-01-23 19:04] #126 closed

[2022-01-23 19:05] Juliana-R commented on #133
No action was taken for **over 8 months, thus closing as won't fix**. Reopen if needed.

[2022-01-23 19:05] #133 closed

[2022-01-23 19:06] Juliana-R commented on #134
@CatarinaSilva @PedroGFonseca does it still make sense to leave this open?

[2022-01-23 19:06] #145 closed

[2022-01-23 19:07] Juliana-R commented on #190
@thecarolmartins @FilipaRodrigues what should we do about this?

[2022-01-23 19:08] Juliana-R commented on #155
@PedroGFonseca @hershaw I closed this one as it hasn't been received any attention for **more than 8 months**. Feel free to open if you still consider some actionable on this one.

[2022-01-23 19:09] cimendes commented on #53
Ops is picking this up!

[2022-01-23 19:14] Juliana-R commented on #208
@CatarinaSilva what's the status on this one?

[2022-01-23 19:15] Juliana-R commented on #221
@thecarolmartins are we still planning to do something about this or should we close this?

[2022-01-23 19:16] cimendes commented on #208
As decided during <insert meeting here cause I don't remember which one> Students will need to pass the capstone to graduate

[2022-01-23 19:16] cimendes commented on #208
They have been informed as such during the capstone briefing

[2022-01-23 19:17] Juliana-R commented on #237
Closing as full update of the Wiki is mentioned on #262 .

[2022-01-23 19:17] #237 closed

[2022-01-23 19:17] #208 closed

[2022-01-23 19:18] Juliana-R commented on #238
Will be covered by #262 as we do the full update page by page, AOR by AOR. Closing this @cimendes . Reopen if you think it should have this separate issue.

[2022-01-23 19:18] #231 closed

[2022-01-23 19:20] Juliana-R commented on #261
I believe this is outdated as we have set up another team in the mean time. Not sure if we forgot about this list (I sure did). Something to bear in mind moving on. Maybe an issue is not the ideal place for something like this.

@minhhoang1023 @CatarinaSilva FYI

[2022-01-23 19:20] #261 closed

[2022-01-23 20:39] thecarolmartins commented on #155
@justasknunes passing this to you. Could you pick it up and articulate with Silvana pretty please? 🤓

[2022-01-23 20:41] thecarolmartins commented on #238
Reopening this since this is being taken care on the website side.

[2022-01-23 20:41] thecarolmartins commented on #262
@Juliana-R let me know if you need help on this :)

[2022-01-24 18:27] buedaswag opened #327 "fix broken link"
**Context:**
this link is broken

![image](https://user-images.githubusercontent.com/33937027/150842101-debf7eaa-2d5d-4bf2-91fa-d2cc5ea66bcc.png)

on this page

https://ldssa.github.io/wiki/Volunteers/LDSA-Primary-Enabler-Agreement

**Goal(s):**
find the correct link and correct it on the page

**Acceptance criteria:**
the correct link is linked on the page

[2022-01-27 02:52] PedroGFonseca commented on #134
It depends on a strategic question of how much we want to invest in this. If we're comfortable with the way things are now (I think I am) then this would be overkill. If we want to make sure there isn't code sharing then it's worth investing in

[2022-01-30 13:53] sofiaferreira7 commented on #323
Hello! A bit later but here's my opinion as someone that was on Batch 5 😋 I'm going to do it like Inês did and discuss my view in each option (in-person, hybrid, remote) with a pros/cons summary at the end of each. I will leave a TL;DR at the end as I know I get too carried away writing.

---
### In-Person

I never experienced the academy in-person so there might be some bias here. When I first st

[2022-01-30 19:31] cimendes commented on #323
Something that occurred to me while reading all of the input so far. Do we have the resources in terms of volunteers (in particular instructors) for an in-person edition? This is a point I forgot to mention. A remote edition might work to engage volunteers more, but it might also work the other way around as for the extra time required (mostly the commute and possible accommodation needs). Would t

[2022-01-30 19:59] CatarinaSilva commented on #323
My POV:

**In person**
* I'm in favor of going back to in-person when COVID let's us
* I believe we have the resources to do in person, but we'll have to work on engadgement. Before we used to have more volunteers happy to show up for hackathons and I believe that was due to the social aspect of it being stronger

**Hybrid**
* I do not think, however, that we have enough resources to plan and exec

[2022-02-01 20:45] buedaswag commented on #323
this is my personal opinion, and does not invalidate all the things that have been said
im here to push for in person because i think that will create human connection between everybody, which i think is important to keep the community healthy
it will be more work but i think it will be more fun, and the human connection will be worth it

i surely missing something but it seems that if we go in pe

[2022-02-12 18:19] minhhoang1023 opened #328 "Proposal for the Exec Team's Selection Process"
## Context
Catarina has expressed her interest to step down from the executive board in order to focus more on Teaching AOR. Hence, we are on the lookout for the next upcoming executive member to fill up the board, with Carol and Minh. Up to now, the decisions of the next executive member have been made on an ad-hoc basis. Given that this process will happen again, we would propose creating a well

[2022-02-21 20:08] cimendes commented on #328
Sorry, I'm a bit overdue, but I've read through all the documentation and I've no questions regarding the process and no comments to add. 👍🏻

[2022-02-23 11:34] silalves commented on #328
Also late with this, I just read the doc and agree with the content 👍🏻

[2022-02-24 21:42] CatarinaSilva opened #330 "Allocation of units for batch6"
# Description

The goal of this issue is to assess interest and have a pre-allocation of batch6's
teaching work. In parallel, we can discuss other improvements to the process, but
this will make it easier to jump on the work as early as possible.

The units, overall work needed and rough release and delivery dates are listed
below.

# Units

### Admissions

* Unit
  * Learning notebooks - minimum

[2022-02-24 22:20] cimendes commented on #330
hey! I'm adding my interest to help out in the Bootcamp and Specialization 06! I won't be able to lead though!

[2022-02-24 22:21] cimendes commented on #330
Also, I'm suggesting @thecarolmartins for SLU17! ;)

[2022-02-24 22:45] fabiocruz commented on #330
Hi! I would also be happy to help in the Bootcamp and in some Specialization (I prefer 3 or 5, but I'm open to others as well).

[2022-02-25 08:48] dbsousa01-plutoflume commented on #330
Heya! I'm in again for some NLP 🤓  maybe it would be good to deprecate spacy altogether and review the curriculum

[2022-02-25 08:49] dbsousa01 commented on #330
Heya! I'm in again for some NLP 🤓  maybe it would be good to deprecate spacy altogether and review the curriculum

[2022-02-25 10:11] minhhoang1023 commented on #330
As Rui & Fred won't be able to help out with Hackathon 2, I convinced my colleagues to take Spec 2, and potentially lead them. Will drop you some DM regarding this.

And I can help with the Bootcamp! :)

[2022-02-25 10:18] FredericoCoelhoNunes commented on #330
Hi all, this year I will not be contributing to the LDSA. But I believe the learning notebooks that I previously worked on should be pretty "stable", in the sense that not much should need to change, so they should be relatively easy for someone else to take on.

[2022-02-25 11:03] minhhoang1023 commented on #330
@FredericoCoelhoNunes thank you, Fred! Please still contribute to our beer SLU. You are always welcomed :)

[2022-02-25 11:04] minhhoang1023 commented on #328
Thank you girls for the feedback @cimendes @silalves ! ✨

[2022-02-25 19:17] cimendes commented on #330
Can I suggest also adding the Capstone to the allocation table? :)

[2022-02-25 19:19] cimendes commented on #330
@dbsousa01 Maybe open an issue here for S4 curriculum changes? https://github.com/LDSSA/curriculum-development

[2022-03-03 14:39] #328 closed

[2022-03-03 14:51] minhhoang1023 commented on #328
@Juliana-R where do you think this should exist in the wiki?

[2022-03-03 15:40] minhhoang1023 commented on #253
@Juliana-R Next prep course edition is coming so we'll be going over this and closing them. thank you for being so patient!

[2022-03-03 17:02] minhhoang1023 opened #331 "Set expectations for BLU instructors to be present during the Hackathon"
**Context:**
It happened a few times this batch that we did not have enough instructors present during Students' check-in and also presentations. This puts a very heavy weight on a few instructors, and did not provide the best learning experience for students.

With more instructors, it means:

### 1. More help and check-in each team would receive.
With a few hands, we often need to rush and are n

[2022-03-03 17:08] minhhoang1023 commented on #330
Agree with @cimendes. Capstone is much longer and heavier than other Specializations. We really need a dedicated team for this, from creating the challenge, QA to Grading. If we wait until the end, we'll end up having to find instructors urgently. Extremely likely that the ones who end up helping have already contributed to previous Specs 😞  And this can be a lot to take on for a few people.

[2022-03-03 17:31] cimendes commented on #331
I very much agree with the dedicated feedback session at the time but I feel conflicted about splitting the presentation into two parallel sessions as I feel watching the other presentations is also very valuable. The benefit of guaranteeing this feedback outweighs, in my opinion, my fear of "missing out" in some presentations, particularly as we have about 8 to 10 teams presenting, meaning that a

[2022-03-13 12:02] CatarinaSilva opened #333 "Suggestion/Discussion - teaching process improvements for batch 6"
# Feedback collected:

### Teaching issues/suggestions from everyone

These came from [a session done a few months back]()

##### Problem 1: materials are hard to prepare, that takes a lot of time

Proposed suggestion: Exercises shouldn’t be changed every year. Students will be evaluated in the capstone.

##### Problem 2: we’re not making contents better from batch to batch

Proposed suggestions:

[2022-03-13 12:12] CatarinaSilva commented on #330
Added @cimendes

[2022-03-13 12:13] CatarinaSilva commented on #152
Closing this in favor of #333

[2022-03-13 12:13] #152 closed

[2022-03-13 12:14] CatarinaSilva commented on #157
will get done as a result of #333

[2022-03-13 13:21] PedroRibeiro80 commented on #330
This year I plan to contribute to BLU4 only.

[2022-03-14 21:24] cimendes commented on #333
First of all, thank you for collecting all the feedback and putting such a thorough document together. I'll be addressing the issues and proposed solutions one by one.

## Problems

### Problem 1: materials are hard to prepare, that takes a lot of time and Problem 2: we’re not making contents better from batch to batch

I'm bundling these two problems together as they are very much related. I'm wa

[2022-03-15 21:54] cimendes opened #334 "[Capstone] Redefine report 1 and 2 structure to be less redundant"
**Context:**

Currently, the second report for the capstone has the following structure:
<img width="729" alt="image" src="https://user-images.githubusercontent.com/15690332/158477927-38b91585-8125-4be6-a19b-5b9247934f3d.png">

In comparison with report 1, it's a lot more redundant with students having expressed confusion regarding what are the contents supposed to be in each section. In particula

[2022-03-15 21:59] cimendes opened #335 "[Capstone] Define what it means to have a working API"
**Context:**
During the course of Batch 5, several students had issues with the Database connection, not being able to store any data, and having a very compromised report #2. According to our wiki, one of the criterium to pass the capstone is having a "working API". We need to better define this, and if the impossibility of saving any of the sent data is considered to be failing this criterium.

[2022-03-19 11:20] Juliana-R opened #336 "Update Prep Course Info on the Wiki page"
**Context:**
We need to update the Prep Course info on the Wiki page for the 2022 edition. https://ldssa.github.io/wiki/DS%20Prep%20Course/Data-Science-Prep-Course/

**Goal(s):**
Update the page mentioned above on a new branch and PR

**Acceptance criteria:**
PR is merged and page is functional and updated

**Deadline**: **`March 20, 2022`**

[2022-03-20 14:09] #336 closed

[2022-03-29 07:23] Juliana-R opened #342 "🚧 [Wiki Page needs updating] [Teaching] How to build Learning Units"
**Context:**
The page https://ldssa.github.io/wiki/Instructors/How-to-build-Learning-Units/ on the Wiki hasn't been updated for a while (years) now. It has come to my knowledge that new instructors are using it to guide their work.

The Wiki being our source of truth, it is important these types of processes are documented, centralized and updated, so that we are more efficient moving forward and

[2022-03-29 09:34] thecarolmartins commented on #323
Thanks everyone for your thoughts on this! We took all of them and discussed them throughly.

We'd like to propose that:

1. For this edition, we will keep it **remote**.

We have some data (that @cimendes will share in due time) that indicates that people really enjoy this format. Also, logistically it is easier and we've been doing this for over two years now. It also allows people that are outs

[2022-04-21 10:24] #323 closed

[2022-04-21 10:50] thecarolmartins opened #344 "Batch 6 Preparation Proposals"
**Context:**
The time has come to start sewing all aspects of batch 6!

To make it happen, we have a team-wide general meeting on the 24th of April (from 10am until 1.30pm) organize a team-wide general meeting where we can discuss several topics and start closing on decisions.

**Goal(s):**
Fill in the form with your proposal for improvement on batch6 [here](https://docs.google.com/forms/d/e/1FAIp

[2022-04-21 12:12] cimendes opened #345 "Batch 5 Student Feedback"
## Context

Batch 5 has just recently finished and we managed to collect 30 responses regarding the students' experience throughout the academy. I feel that is important for this feedback to be shared with the entire LDSA community as not only a way to improve for the next batch, but also to see where we are doing a good job. :)

## Feedback form

The feedback form is available [here](https://docs

[2022-04-21 12:42] cimendes opened #346 "Batch 6 Calendar proposal"
## Context

Batch 6 is fast approaching and we have to decide the calendar for next year. Following the student feedback (#345) and in preparation for the 2022 General Meeting (#344), I propose the following calendar. The following people gave me invaluable help when drafting this calendar, namely:

- @Juliana-R and @minhhoang1023 for initial brainstorm
- @fabiocruz when deciding admission calenda

[2022-04-23 11:21] cimendes commented on #344
Meeting notes are available [here](https://docs.google.com/document/d/17XCWzj9XlPPMaOjBiI3uq8Y7Ohcvt7bEA4VTcNw15lY/edit?usp=sharing)

[2022-04-24 09:34] CatarinaSilva commented on #330
Hi @anaritarc we're discussing potentially starting later this year, aligned with the school year, so I think things will start more or less around that time. If that's the case, any unit you would like to take on any unit?

[2022-04-24 11:10] cimendes commented on #346
Approved in its generality on 24th April 2022.

Suggestion from @CatarinaSilva:

- Shift S04 one week so it's not right after the Christmas break
- Split the capstone calendar into a separate issue

TODO:

- Have prep course calendar for 2023 defined to assess overlap (@minhhoang1023)

If no objections are raised, this issue will be closed on March 1st 2022.

[2022-04-24 11:52] CatarinaSilva commented on #346
you mean May 1st @cimendes ? 😂

[2022-04-24 11:55] cimendes commented on #346
ops my bad @CatarinaSilva

[2022-04-24 13:26] anaritarc commented on #330
Good news!! I'll do the tree based models then 😊

[2022-04-26 08:53] cimendes opened #347 "Add Batch 5 graduates to wiki"
**Context:**
Batch 5 graduates need to be added to the wiki at https://ldssa.github.io/wiki/About%20us/Member-Directory/#graduates

Graduate list:

- Ana Milas
- Ana Cruz
- Bruno Goncalves
- Caitlin Hulse
- Cora Dutsch
- Daniel Bettencourt neves
- Francisco Carvalho
- Inês Dias Marques
- José Gustavo Elias Rebelo
- João Gomes
- João Fidalgo da Silva
- João Santana
- Maria Castro
- Mariana Henrique

[2022-04-26 09:04] cimendes opened #348 "Batch 6 Calendar proposal - Capstone"
This is a continuation of issue #346, limited to the capstone calendar only.

## The proposal

The main objectives are:

- Line up the calendar with the academic year, starting in September (suggested in #345)
- Adjust capstone deadlines in accordance with #345

I propose the following calendar, available in a google sheet and accessible through your LDSA account [here](https://docs.google.com/spr

[2022-04-27 09:43] #347 closed

[2022-04-30 09:10] cimendes opened #350 "How to close decision"
From @Juliana-R

Here it is not exactly clear how this final decision is made. Does it take into consideration the number of votes from the volunteers on the candidates, for example, or is this simply a private decision from the Executive Team, on the final chosen candidates by the volunteers?

[2022-04-30 09:12] cimendes commented on #70
Closing as decision has been reached

[2022-04-30 09:12] #70 closed

[2022-04-30 09:14] minhhoang1023 opened #351 "Update"
Follow-up with issue #70, to add the updated division of AORs in the wiki.

The content is below:

<p dir="auto" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 47); font-family: -apple-system, &quot;system-ui&quot;, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: nor

[2022-04-30 09:17] cimendes commented on #134
We have had several discussions on this and we haven't reached a conclusion.
So far the main points are:
- Students get code mainly from LU notebooks or Google/StackOverflow
- Lack of manpower to properly implement this

Closing for now as we're not implementing it for Batch #6.  Re-open if needed.

[2022-04-30 09:17] #134 closed

[2022-04-30 09:19] #155 closed

[2022-04-30 09:23] cimendes commented on #212
Closed as merged in #321

[2022-04-30 09:23] #212 closed

[2022-04-30 09:26] minhhoang1023 opened #352 "Merch for Batch6"
- Decide whether we should provide Merch for Batch 6 and how - for the remote edition

[2022-04-30 09:26] cimendes commented on #221
At the time we do not have the resources nor an easy solution for this. Closing and moving it to Batch 6

[2022-04-30 09:26] #221 closed

[2022-04-30 09:27] cimendes commented on #228
This is being handled by the capstone grading team

[2022-04-30 09:27] #230 closed

[2022-04-30 09:33] cimendes commented on #282
We have a date in the calendar - See #346

[2022-04-30 09:33] #282 closed

[2022-04-30 09:39] cimendes opened #353 "Bot to create "speed dating" chat rooms to engage students in getting to know eachother"
It was suggested to bring back the buddy chat rooms from batch #4 during Bootcamp! We should formalize this into a propper bot to handle this action.

## Action Item

- [ ] Create a bot for this purpose

[2022-04-30 09:39] minhhoang1023 opened #354 "Bring the buddy program back"
During the team-wide meeting, we discussed the option of bringing back the buddy programme.

@CatarinaSilva mentioned:
- Might be tricky to balance the load with volunteers inside the Academy - so we'd need to implement it in an efficient way

@minhhoang1023's suggestion:
- Have an instructor helping with 4-5 people. This forms a study group and helps people to know each other. Instructors can cre

[2022-04-30 09:54] #344 closed

[2022-04-30 09:59] minhhoang1023 opened #355 "Should we allow drop-out students to re-enter the Academy next batch"
We received several requests from students, for them to be able to enter the Academy and continue the missing Specialization?

[2022-05-08 10:45] cimendes commented on #295
We are now tracking new volunteers. This is now under the responsibility of Volunteers AOR, therefore I propose we close this issue for now. if need be, we can re-open.

[2022-05-08 10:45] #295 closed

[2022-05-08 10:50] cimendes commented on #302
A new refund policy is being proposed [here](https://docs.google.com/document/d/11ZpamNHNDdQ2NS9DSFS_tbBj0UDz7Vbd7L2jIZgUC1g/edit?usp=sharing)

[2022-05-08 10:56] cimendes commented on #303
As decided in the [2022 Summit](https://docs.google.com/document/d/17XCWzj9XlPPMaOjBiI3uq8Y7Ohcvt7bEA4VTcNw15lY/edit#heading=h.p497gz9zyxo6), we won't be releasing solutions at least for batch 6. We can reopen and re-decide for batch 7 but as of now there's no bandwidth to change the process. This also allows for precious exercises to be re-used in batch 6, lowering the effort of instructors to pr

[2022-05-08 10:56] #303 closed

[2022-05-08 11:03] cimendes commented on #331
As discussed in [Summit 2022](https://docs.google.com/document/d/17XCWzj9XlPPMaOjBiI3uq8Y7Ohcvt7bEA4VTcNw15lY/edit#heading=h.p497gz9zyxo6) this is something we are going to strive for. Therefore I'm closing this issue. Re-open if needed.

[2022-05-08 11:03] #331 closed

[2022-05-08 11:06] cimendes commented on #327
@buedaswag can you handle this? :P

[2022-05-09 12:30] cimendes commented on #330
@fabiocruz you can edit the comment directly to add your name to the table ;)

[2022-05-10 11:48] carlacotas commented on #330
Hey @cimendes!

I add my name to the table on the QA 😊 but I can help on other SLUs or if anyone would like to do the QA for those that I select I can change without problem

[2022-05-12 18:28] cimendes commented on #238
Update has been done! https://www.lisbondatascience.org/about-us/

[2022-05-12 18:28] #238 closed

[2022-05-14 15:12] cimendes commented on #334
After a meeting with the grading team of batch 5 and the teaching AOR lead, the following structure was decided upon. The file with the new structure is available [in this link](https://docs.google.com/spreadsheets/d/18OuHC_ViA4yR0ZwEp7lwkW3bPVbLeKcUdtVfHEglGFc/edit?usp=sharing)

## Report 2

Main changes:

- **Section 2. Dataset Analysis**
    - Section 2.3 was renamed from "Conclusions and recom

[2022-05-16 15:37] #333 closed

[2022-05-16 18:19] Juliana-R opened #358 "A few broken links in section "Instructors" on the Wiki"
**Context:**

There are several broken links on pages under the "Instructors" section in the Wiki. Those are:

- 2 broken links on the wiki page https://ldssa.github.io/wiki/Instructors/02-Teachers-How-to-build-Learning-Units/, namely:
  - https://ldssa.github.io/wiki/Instructors/Using-nbgrader-for-Exercise-Notebooks
  - https://github.com/PedroGFonseca/preping_template_learning_unit/blob/master/S

[2022-05-16 20:45] CatarinaSilva commented on #358
Opened https://github.com/LDSSA/wiki/pull/359

Will move the nbgrader work to a separate issue

[2022-05-16 20:46] CatarinaSilva opened #360 "Improve nbgrader wiki page"
3 broken links on the page https://ldssa.github.io/wiki/Instructors/03-Using-nbgrader-for-Exercise-Notebooks/, namely:

-   (To remove, this link is deprecated ⚠️) https://hub.lisbondatascience.org/services/ldssa/
-   https://stackoverflow.com/questions/49720663/in-nbgrader-how-to-show-an-answer-set-to-none-rather-than-show-empty-rows
-   (To remove, this link is deprecated ⚠️) https://hub.lisbond

[2022-05-17 08:15] Juliana-R commented on #358
Thank you @CatarinaSilva . Please link here the issue where you'll move the nbgrader broken links into.

Leaving here the links that are to be addressed in that new issue:

3 broken links on the page https://ldssa.github.io/wiki/Instructors/03-Using-nbgrader-for-Exercise-Notebooks/, namely:

(To remove, this link is deprecated ⚠️) https://hub.lisbondatascience.org/services/ldssa/
https://stackover

[2022-05-17 21:02] CatarinaSilva commented on #358
https://github.com/LDSSA/wiki/issues/360

[2022-05-17 21:05] #358 closed

[2022-05-20 15:26] #279 closed

[2022-05-22 16:01] Jujulian3 commented on #330
Hello everyone,

This year I won't be able to help creating new materials, :(
To compensate... I will dedicate my available time to do better QA. :)

Already assigned to SLU18 & SLU19 and ready to assume other specs, also.
Any needs, please call me <3

[2022-05-23 13:36] CatarinaSilva opened #364 "[wiki] Update time expectations for instructors"
Based on https://forms.gle/EC7CPpbeHgCcEyRx6

[2022-05-23 17:17] cimendes commented on #330
@Jujulian3 SLU18 and SLU19 are optional so they probably won't receive a lot of changes. Can I convince you to take an SLU from the bootcamp? 😜

[2022-05-23 19:08] #346 closed

[2022-05-23 19:09] cimendes commented on #348
Closed with #362

[2022-05-23 19:09] #348 closed

[2022-05-23 20:08] CatarinaSilva commented on #342
Closed by #356 #357 #363

[2022-05-23 20:08] #342 closed

[2022-05-23 20:10] CatarinaSilva commented on #157
Both actions addressed by #356 #357 #363

[2022-05-23 20:10] #157 closed

[2022-05-23 20:14] CatarinaSilva commented on #364
recruiting all instructors from last batch to participate in this, should only take 5 min 🙏

@Juliana-R
@Jujulian3
@fabiocruz
@wilsonramos1
@ClaraBarreto
@FilipaRodrigues
@rjna
@anaritarc
@Luisfandrade
@hershaw
@PedroRibeiro80
@FredericoCoelhoNunes
@ruimgf
@buedaswag
@dominguezmaria
@TSFelg
@ramaroesilva
@dbsousa01
@cmaroti
@isvpires
@BAZAntonio
@minhhoang1023
@InesPessoa

[2022-05-24 16:04] #345 closed

[2022-05-24 16:05] cimendes commented on #334
Closing as a decision has been reached. Open is necessary.

[2022-05-24 16:05] #334 closed

[2022-05-24 16:09] cimendes commented on #335
Most common API problems:

- endpoints are ill-defined (predict instead of predict/, or vice versa)
- Response is ill-structured (does not follow JSON structure guidelines)
- Database is unsuccessfully set up (records are not being stored, update endpoint always returns 404)

[2022-05-28 15:43] Jujulian3 commented on #330
I didn't notice, sorry 🤦🏽‍♀️

I won't be able to join the BootCamp presentations
but already took QA for SLU01, SLU13, and SLU14

Thx

[2022-05-28 15:47] cimendes commented on #330
thank YOU @Jujulian3

[2022-06-01 09:09] buedaswag opened #365 "add page with which calendars to use for events"
**Context:**
Telmo is sheduling a jobs AMA, an online event for students and instructors. He wants to invite both these groups to the event. For that he wants to create a calendar invite and put it on the right calendar. This is a recurring situation.

I'm suggesting we should have a page in the wiki explaining which calendars exist and what are they for.

**Goal(s):**
Create a page in the wiki ex

[2022-06-01 12:04] CatarinaSilva commented on #364
@Juliana-R  @Jujulian3 @fabiocruz @wilsonramos1 @ClaraBarreto @FilipaRodrigues @rjna @anaritarc @Luisfandrade @hershaw @PedroRibeiro80 @FredericoCoelhoNunes @ruimgf @buedaswag @dominguezmaria @TSFelg @ramaroesilva @dbsousa01 @cmaroti @isvpires @BAZAntonio @minhhoang1023 @InesPessoa

friendly reminder to answer this https://forms.gle/EC7CPpbeHgCcEyRx6 it should take only 5 min and it would be extre

[2022-06-05 10:45] Juliana-R commented on #365
Thanks for bringing it up @buedaswag @TSFelg

I think this is already mentioned (but not in the most obvious manner) in the Volunteers Onboarding page for Volunteers in the Wiki (obligatory read given to each volunteer at onboarding), at https://ldssa.github.io/wiki/Volunteers/Volunteer-Onboarding/#finding-stuff, please check below:

![image](https://user-images.githubusercontent.com/52176135/1720

[2022-06-05 10:57] Juliana-R commented on #365
PR created, added you as reviewers @buedaswag @TSFelg

[2022-06-07 13:45] jdpsc commented on #330
Hey everyone, feel free to put me as instructor for BLU6 (Machine Learning for Time Series) for now. I'm also considering volunteering for others (maybe an SLU) but not definitive yet 😅. Thanks!

[2022-06-12 09:40] #302 closed

[2022-06-16 19:49] CatarinaSilva opened #368 "Late deliveries definition"
**Context:**
In the summit we discussed that we should be more strict with late deliveries. Right now we spend too much time planning them and aligning with students. We also block students from having access to the solutions untill all late deliveries are completed.

**Goal(s):**

Close and document decisions on late deliveries of hackathons for batch6

**Starting point (from summit)**

1. Set on

[2022-06-19 09:28] minhhoang1023 commented on #368
2 weeks seems reasonable in my opinion. The sooner we close the final status, the better - both for students and instructors.

[2022-06-26 16:20] SaraOGomes commented on #368
2 weeks is OK. If you postpone the deadline students may tend postpone the delivery too.

[2022-06-29 18:05] buedaswag opened #369 "add instructions for setting up cicd deploy keys on instructors repos"
**Context:**
We should have instructions for setting up cicd deploy keys on instructors repos. These instructions should live on the wiki and be linked into each instructors repo (ex: https://github.com/LDSSA/batch6-instructors, https://github.com/LDSSA/ds-prep-course-instructors-2022, https://github.com/LDSSA/batch6-admissions-instructors)

instructions
* Go to circleci of the instructors repo -

[2022-06-30 10:09] Gustavo-SF commented on #330
Added myself as instructor to SLU14 and QA to SLU17 😄

[2022-06-30 15:43] minhhoang1023 commented on #330
added your name @SaraOGomes

[2022-07-02 10:20] cimendes opened #370 "Update AOR leads on Wiki"
**Context:**

AOR leads information is outdated in Member Directory page: https://ldssa.github.io/wiki/About%20us/Member-Directory/

**Goal(s):**

- [x] Gather all information on AOR leads in accordance with the information [here](https://docs.google.com/presentation/d/1gPwl-aKUs9D6ctK0oCcDSd1yhpw_NE3CYo-OttZz0r4/edit?usp=sharing)
- [x] Create PR with updated information

**Acceptance criteria:**

[2022-07-03 17:50] CatarinaSilva commented on #368
As everyone that spoke out agreed and this was shared multiple times, will move forward with 2 weeks and document it

[2022-07-03 18:33] CatarinaSilva commented on #368
Opened https://github.com/LDSSA/wiki/pull/371

[2022-07-03 20:27] #368 closed

[2022-07-13 18:25] jgomes959 commented on #330
@cimendes just added myself to QA the BLU04 - Basic Stats with Pandas :)

[2022-09-26 09:28] cimendes opened #372 "Minimum computational specs now available in LDSSA requirements page"
**Context:**
The minimum computational specs needed are not included in [the LDSSA requirements page](https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/02-Target-audience-and-Pre-requisites-for-the-Starters-Academy/)

**Goal(s):**
These are, as used by the grading system:

- At least 4 CPUS
- At least 8 GB of RAM
- Admin rights to the computer to install software

**Acceptance criteria:**

[2022-10-02 11:39] CatarinaSilva opened #373 "Suggestion/Discussion - Mentor Role in teaching"
I had in mind to create a mentor program to involve and make use of senior people at the academy that:

1. may not have the time to actively develop materials or lead a specialization
2. have a lot of knowledge and are seniors in the field
3. still want to be engaged in the academy

With this in scope, I think there are a few people in the academy that can be considered in this category (apologies

[2022-10-02 11:40] CatarinaSilva commented on #373
cc: @PedroGFonseca @dominguezmaria @ivopbernardo @hershaw  just now got to come back to this, hopefully it will still be useful for this batch, and developed further for the next one :)

[2022-10-06 19:31] majkah0 commented on #330
I can go for blu01. What if we did the exercise qa between more people this time? To have a higher chance of avoiding errors.

[2022-10-06 19:37] anaritarc commented on #330
That's a great idea @majkah0, let's see how is the agenda of our QA people. I'll send an update on slack.

[2022-10-07 10:35] majkah0 commented on #330
@anaritarc there's a material somewhere on the ldssa drive with suggestions for improvement and there is the suggestion for crowd qa. We could try it on the rest of the materials - separate the qa on the learning materials and the exercises and have all the exercise notebooks reviewed by a group of the same 3-4 people.

[2022-10-07 13:04] anaritarc commented on #330
I'm not sure we are able to have so many people working on QA (at least this year), I was thinking having a person for QA3 (we have QA1, QA2 and QA3), we have to 'recruit' more people

[2022-10-13 17:38] #365 closed

[2022-10-13 17:39] cimendes commented on #301
@TSFelg have you checked this issue?

[2022-10-21 16:42] #370 closed

[2022-11-02 19:10] majkah0 opened #375 "How to make the bootcamp better - Discussion"
This issue is to discuss the current structure of the bootcamp and possible improvements for batch 7 with regard to the teaching goals and student success. It is an attempt to continue the conversations we had during the bootcamp and reach conclusions that can be translated into practice.

Current state of the bootcamp:
Bootcamp learning goal is to give the students a solid basis for the rest of t

[2022-11-27 18:12] buedaswag opened #376 "2022-11-27 summit - Dev Ops action points"
**Context:**

Some things that can be done towards long term sustainability of the dev ops team. These will ensure the continuity of the AOR and the fulfilment of core responsibilities and processes.

**Goal(s):**

Dev Ops team members all have ownership over all core responsibilities and processes
* each team member has practical experience with core responsibilities and processes
* each team mem